<div class="overview-intro">
  <p>This is a list of all money currently owed to your organization and that you owe to other organizations.</p>
</div>

<%= render "money_in" %>
<%= render "money_out" %>
