<div class="tabs-wrapper">
  <ul class="tabs">
    <%= content_tag(:li, link_to_or_span("Overview", [:coming_soon, :dashboard]), class: 'tab') %>
    <%= content_tag(:li, link_to_or_span("Review Orders", [:coming_soon, :dashboard]), class: 'tab') %>
  </ul>
</div>
