---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19BpM52VpjOYk6TmYYMPO2nQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - ''
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "The provided key 'sk_test_********************7y1G' does not have access to account '' (or that account does not exist). Application access may have been revoked."
          }
        }
  recorded_at: Fri, 18 Nov 2016 01:26:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19GuHw2VpjOYk6TmUMHMq2NI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19GuHw2VpjOYk6TmUMHMq2NI",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1479406028,
          "data": {
            "object": {
              "id": "KXM2",
              "object": "plan",
              "amount": 100,
              "created": 1479406028,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": true,
              "metadata": {},
              "name": "KXM - 11/17 - 2",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          },
          "livemode": true,
          "pending_webhooks": 1,
          "request": "req_9a4Qe5C0Lx6tPO",
          "type": "plan.created"
        }
  recorded_at: Fri, 18 Nov 2016 02:26:10 GMT
recorded_with: VCR 2.9.3
