---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19GuHw2VpjOYk6TmUMHMq2NI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19GuHw2VpjOYk6TmUMHMq2NI",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1479406028,
          "data": {
            "object": {
              "id": "KXM2",
              "object": "plan",
              "amount": 100,
              "created": 1479406028,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "KXM - 11/17 - 2",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9a4Qe5C0Lx6tPO",
          "type": "plan.created"
        }
  recorded_at: Mon, 09 Apr 2018 18:56:06 GMT
recorded_with: VCR 4.0.0
