<p>
  <span class="activity-group"><%= activity.display_action %></span>

  <% fields = %w(payment_status notes) %>
  <% fields.each do |field| %>
    <% if activity.audited_changes[field] %>
      <% change = Array(activity.audited_changes[field]).last %>
      <% if change.present? %>
        <b><%= field.humanize %>:</b> <%= change %>
      <% end %>
    <% end %>
  <% end %>

  <% if activity.audited_changes["invoiced_at"] %>
    <b>Order Invoiced</b>
  <% end %>
</p>
