<p>
  <span class="activity-group">Order <%= activity.action %>d</span>

  <% fields = %w(payment_status invoiced_at notes) %>
  <% fields.each do |field| %>
    <% if activity.audited_changes[field] %>
      <b><%= field.humanize %>:</b> <%= Array(activity.audited_changes[field]).last %>
    <% end %>
  <% end %>
</p>
