<p>
  <span class="activity-group">Payment <%= activity.action %>d</span>

  <% fields = %w(payment_method) %>
  <% fields.each do |field| %>
    <% if activity.audited_changes[field] %>
      <b><%= field.humanize %>:</b> <%= Array(activity.audited_changes[field]).last %>
    <% end %>
    <% if activity.audited_changes["amount"] %>
      <b>Amount:</b> <%= number_to_currency activity.auditable.amount %>
    <% end %>
  <% end %>
</p>
