---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Dairy%20Farms%20Co-op&metadata[lo_entity_id]=4&metadata[lo_entity_type]=organization&metadata[lo_entity_name]=Dairy%20Farms%20Co-op
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9zzlJLEbKvXQ5h",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9zzlJLEbKvXQ5h/bank_accounts"
          },
          "created": 1485385320,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "Dairy Farms Co-op",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo_entity_id": "4",
            "lo_entity_type": "organization",
            "lo_entity_name": "Dairy Farms Co-op"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9zzlJLEbKvXQ5h/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9zzlJLEbKvXQ5h/subscriptions"
          }
        }
  recorded_at: Wed, 25 Jan 2017 23:01:59 GMT
recorded_with: VCR 2.9.3
