---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Fake%20Market&metadata[lo_entity_id]=11&metadata[lo_entity_type]=market&metadata[lo_entity_name]=Fake%20Market
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CSqYNMxwtZi1fR",
          "object": "customer",
          "account_balance": 0,
          "created": 1520638963,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Fake Market",
          "discount": null,
          "email": null,
          "invoice_prefix": "A23E808",
          "livemode": false,
          "metadata": {
            "lo_entity_id": "11",
            "lo_entity_type": "market",
            "lo_entity_name": "Fake Market"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqYNMxwtZi1fR/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqYNMxwtZi1fR/subscriptions"
          }
        }
  recorded_at: Fri, 09 Mar 2018 23:42:43 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CSqYNMxwtZi1fR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
 [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CSqYNMxwtZi1fR/sources
    body:
      encoding: US-ASCII
      string: source=tok_1C3urKJgIq5cKVWgdCMWWhDn
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1C3urKJgIq5cKVWgD2GVTBYk",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "MasterCard",
          "country": "US",
          "customer": "cus_CSqYNMxwtZi1fR",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 5,
          "exp_year": 2020,
          "fingerprint": "u8gSkOFwf9OvBKSB",
          "funding": "prepaid",
          "last4": "5100",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Fri, 09 Mar 2018 23:42:47 GMT
[...]
