<%= form_for [:admin, @organization, @location] do |f| %>
  <%= render "shared/errors", { resource: @location} %>

  <fieldset name="address-info">
    <legend>Address Information</legend>
    <%= render "fields", form: f %>
  </fieldset>

  <div>
    <%= f.submit "#{@location.new_record? ? 'Add' : 'Save'} Address" %>
  </div>
<% end %>
