<h1>Address Information</h1>

<div class="row row--partial">
<%= form_for [:admin, @organization, @location], html: { class: "edit_location column column--three-fourths" } do |f| %>
  <%= render "shared/errors", { resource: @location} %>

  <%= render "fields", form: f %>

  <div class="form-actions">
    <%= f.submit "#{@location.new_record? ? 'Add' : 'Save'} Address" %>
  </div>
<% end %>
</div>
