<%= link_to "< Return to Invoices List", organization_financials_invoices_path, class: "redundant-nav" %>
<button class="btn btn--action btn--small pull-right" id="print-button">Print</button>

<%= render "shared/invoice", { market: @invoice.market.decorate, invoice: @invoice } %>
