<div class="row row--partial">
  <div class="column column--three-fourths">
    <div class="l-page-header">
      <h1>Fresh Sheet Preview</h1>

      The market must have products to view the fresh sheet.
    </div>
  </div>
</div>
