---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=%5BTest%5D%20Market%203&metadata[lo.entity_id]=5&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9pOUrYJpoOvhF2",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOUrYJpoOvhF2/bank_accounts"
          },
          "created": 1482940278,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "[Test] Market 3",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo.entity_id": "5",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOUrYJpoOvhF2/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOUrYJpoOvhF2/subscriptions"
          }
        }
  recorded_at: Wed, 28 Dec 2016 15:51:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4012888888881881&card[exp_month]=5&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19Vjhz2VpjOYk6TmGMqU625j",
          "object": "token",
          "card": {
            "id": "card_19Vjhz2VpjOYk6TmUY6NLHy6",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "q7xiTNu65zbddK8U",
            "funding": "credit",
            "last4": "1881",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.107.117.27",
          "created": 1482940279,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 28 Dec 2016 15:51:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Walrus%20Flower&metadata[lo_entity_id]=6&metadata[lo_entity_type]=market&metadata[lo_entity_name]=Walrus%20Flower
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9pOU5dLe7sza7F",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOU5dLe7sza7F/bank_accounts"
          },
          "created": 1482940279,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "Walrus Flower",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo_entity_id": "6",
            "lo_entity_type": "market",
            "lo_entity_name": "Walrus Flower"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOU5dLe7sza7F/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9pOU5dLe7sza7F/subscriptions"
          }
        }
  recorded_at: Wed, 28 Dec 2016 15:51:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9pOU5dLe7sza7F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_9pOU5dLe7sza7F/subscriptions
    body:
      encoding: US-ASCII
      string: plan=GROW&metadata[lo_entity_id]=6&metadata[lo_entity_type]=market&metadata[lo_entity_name]=Walrus%20Flower&source=tok_19Vjhz2VpjOYk6TmGMqU625j
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9pOVdfmnLGb3nl",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1482940280,
          "current_period_end": 1514476280,
          "current_period_start": 1482940280,
          "customer": "cus_9pOU5dLe7sza7F",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {
            "lo_entity_id": "6",
            "lo_entity_type": "market",
            "lo_entity_name": "Walrus Flower"
          },
          "plan": {
            "id": "GROW",
            "object": "plan",
            "amount": 79900,
            "created": 1453489664,
            "currency": "usd",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Local Orbit Grow Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1482940280,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 28 Dec 2016 15:51:15 GMT
recorded_with: VCR 2.9.3
