---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=%5BTest%5D%20Market%201893&metadata[lo.entity_id]=29&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CeCd5A3Z9YJtqB",
          "object": "customer",
          "account_balance": 0,
          "created": 1523258165,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "[Test] Market 1893",
          "discount": null,
          "email": null,
          "invoice_prefix": "A21722A",
          "livemode": false,
          "metadata": {
            "lo.entity_id": "29",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CeCd5A3Z9YJtqB/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CeCd5A3Z9YJtqB/subscriptions"
          }
        }
  recorded_at: Mon, 09 Apr 2018 07:16:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4012888888881881&card[exp_month]=5&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CEuETJgIq5cKVWgD9M3el9Q",
          "object": "token",
          "card": {
            "id": "card_1CEuETJgIq5cKVWgl9iZR5Yl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "CA",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2020,
            "fingerprint": "hX1hFw7XkBe0ytCq",
            "funding": "credit",
            "last4": "1881",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "108.172.7.29",
          "created": 1523258165,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 09 Apr 2018 07:16:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Walrus%20Flower&metadata[lo_entity_id]=30&metadata[lo_entity_type]=market&metadata[lo_entity_name]=Walrus%20Flower
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CeCdUtK4pdH5DR",
          "object": "customer",
          "account_balance": 0,
          "created": 1523258166,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Walrus Flower",
          "discount": null,
          "email": null,
          "invoice_prefix": "2403E09",
          "livemode": false,
          "metadata": {
            "lo_entity_id": "30",
            "lo_entity_type": "market",
            "lo_entity_name": "Walrus Flower"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CeCdUtK4pdH5DR/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CeCdUtK4pdH5DR/subscriptions"
          }
        }
  recorded_at: Mon, 09 Apr 2018 07:16:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CeCdUtK4pdH5DR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CeCdUtK4pdH5DR/subscriptions
    body:
      encoding: US-ASCII
      string: plan=GROW_M_2017&metadata[lo_entity_id]=30&metadata[lo_entity_type]=market&metadata[lo_entity_name]=Walrus%20Flower&source=tok_1CEuETJgIq5cKVWgD9M3el9Q
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CeCdqvW5luMgsg",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1523258167,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1523258167,
          "current_period_end": 1525850167,
          "current_period_start": 1523258167,
          "customer": "cus_CeCdUtK4pdH5DR",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CeCdyg5CwvEgqz",
                "object": "subscription_item",
                "created": 1523258167,
                "metadata": {},
                "plan": {
                  "id": "GROW_M_2017",
                  "object": "plan",
                  "amount": 12500,
                  "billing_scheme": "per_unit",
                  "created": 1520917380,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_CU3O7cFVCQRoN8",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed",
                  "statement_descriptor": null,
                  "name": "Grow Plan - Monthly"
                },
                "quantity": 1,
                "subscription": "sub_CeCdqvW5luMgsg"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CeCdqvW5luMgsg"
          },
          "livemode": false,
          "metadata": {
            "lo_entity_id": "30",
            "lo_entity_type": "market",
            "lo_entity_name": "Walrus Flower"
          },
          "plan": {
            "id": "GROW_M_2017",
            "object": "plan",
            "amount": 12500,
            "billing_scheme": "per_unit",
            "created": 1520917380,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_CU3O7cFVCQRoN8",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed",
            "statement_descriptor": null,
            "name": "Grow Plan - Monthly"
          },
          "quantity": 1,
          "start": 1523258167,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 09 Apr 2018 07:16:08 GMT
recorded_with: VCR 4.0.0
