---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=%5BTest%5D%20Market%206&metadata[lo.entity_id]=11&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8BxmgQYL7HlQbX",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8BxmgQYL7HlQbX/bank_accounts"
          },
          "created": 1459546248,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "[Test] Market 6",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo.entity_id": "11",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8BxmgQYL7HlQbX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8BxmgQYL7HlQbX/subscriptions"
          }
        }
  recorded_at: Fri, 01 Apr 2016 21:30:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4012888888881881&card[exp_month]=5&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17vZqv2VpjOYk6TmIvecc9fL",
          "object": "token",
          "card": {
            "id": "card_17vZqv2VpjOYk6TmNxiK8mgX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2016,
            "fingerprint": "q7xiTNu65zbddK8U",
            "funding": "credit",
            "last4": "1881",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.77.209.166",
          "created": 1459546249,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 Apr 2016 21:30:48 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8BxmKT1vP9Xtuu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8BxmKT1vP9Xtuu/subscriptions
    body:
      encoding: US-ASCII
      string: plan=GROW&source=tok_17vZqv2VpjOYk6TmIvecc9fL&metadata[lo.entity_id]=12&metadata[lo.entity_type]=market
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8BxmGaMvUK4uT5",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1491082251,
          "current_period_start": 1459546251,
          "customer": "cus_8BxmKT1vP9Xtuu",
          "discount": null,
          "ended_at": null,
          "metadata": {
            "lo.entity_id": "12",
            "lo.entity_type": "market"
          },
          "plan": {
            "id": "GROW",
            "object": "plan",
            "amount": 79900,
            "created": 1453489664,
            "currency": "usd",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Local Orbit Grow Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1459546251,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 01 Apr 2016 21:30:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8BxmKT1vP9Xtuu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17vZqx2VpjOYk6Tmzj9Jt9nc",
              "object": "invoice",
              "amount_due": 79900,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17vZqx2VpjOYk6Tm8XLL7w5w",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8BxmKT1vP9Xtuu",
              "date": 1459546251,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8BxmGaMvUK4uT5",
                    "object": "line_item",
                    "amount": 79900,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "lo.entity_id": "12",
                      "lo.entity_type": "market"
                    },
                    "period": {
                      "start": 1459546251,
                      "end": 1491082251
                    },
                    "plan": {
                      "id": "GROW",
                      "object": "plan",
                      "amount": 79900,
                      "created": 1453489664,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Local Orbit Grow Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17vZqx2VpjOYk6Tmzj9Jt9nc/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1459546251,
              "period_start": 1459546251,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8BxmGaMvUK4uT5",
              "subtotal": 79900,
              "tax": null,
              "tax_percent": null,
              "total": 79900,
              "webhooks_delivered_at": null,
              "payment": "ch_17vZqx2VpjOYk6Tm8XLL7w5w"
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Fri, 01 Apr 2016 21:30:52 GMT
recorded_with: VCR 2.9.3
