<p>Dear <%= @user.name %>,</p>

<p>We are truly honored to support the work you're doing to rebuild your regional food system and create a healthier community.</p>

<p>Many thanks for choosing Local Orbit.  We look forward to helping you grow your business.</p>

<h1>Step #1:  Get signed in</h1>

<p>Here's the information you'll need to access your site:</p>

<table>
	<tr><th>Website</th><td><a href="<%= root_url(host: (@market ? @market.domain : "app.#{Figaro.env.domain}")) %>"><%= root_url(host: (@market ? @market.domain : "app.#{Figaro.env.domain}")) %></a></td></tr>
	<tr><th>Username</th><td><%= @user.email %></td></tr>
</table>

<h1>Step #2: Attend our webinar</h1>
<p>(Already signed up? Skip this step!)</p>

<p><a href="http://localorbit.com/onboarding-calendar/">Sign up</a> to attend a guided tour of the tools available to you. Sessions are offered every Wednesday from 1pm-2pm EST.</p>

<p>While you can easily learn this on your own, our "Getting Started" webinar will walk you through:<ul>
	<li>Setting up your Market information and branding</li>
	<li>Inviting your sellers</li>
	<li>Using the Marketing Tools</li>
	<li>A brief overview of the administrative features you can access from your dashboard.</li>
	<li>A walk through the Shop page and the information your buyers will see. </li>
</ul></p>

<h1>Step #3: Set up your market</h1>

<p>Setting up your Local Orbit powered market a simple process. All you need to do is:<ul>
	<li>Edit your Market settings (found under Market Administration) </li>
	<li>Add delivery or pick up days</li>
	<li>Add your site logo and tag line</li>
	<li>Choose a color theme, font and background image (available on Grow plans or higher)</li>
	<li>Check out this <a href="https://localorbit.zendesk.com/entries/21219541-How-to-set-up-your-Market">tutorial</a> to learn more. (Note: you must be logged in to your Market Manager account to access these tutorials.)</li>
</ul></p>
	

<h1>Step #4: Become an expert</h1>
<p>Make yourself at home. Spend some time reviewing our <a href="https://localorbit.zendesk.com/home">knowledge base</a>, so you'll be prepared to open and run your new market effectively, right off the bat.</p>
<ul>
	<li><a href="https://localorbit.zendesk.com/forums/20464733-getting-started-market-managers">Getting Started</a></li>
	<li><a href="https://localorbit.zendesk.com/forums/20720771-frequently-asked-questions">Frequently Asked Questions</a></li>
	<li><a href="https://localorbit.zendesk.com/forums/20718891-tips-and-tricks">Tips and Tricks</a></li>
</ul>
