<p>Dear <%= @market.contact_name %>,</p>

<p>Success! You have completed the initial setup of your Local Orbit powered site.</p>

<h1>Next Steps:</h1>

<p>A Local Orbit Team Member will activate your site and you’ll receive an email letting you know when your account is active. From there you’ll be guided through the steps to continue setting up your site.</p>

<p><a class="lo_bigger_bolder" href="http://localorbit.com/onboarding-calendar/">Register</a> for your initial onboarding session. (if you already signed up you are all set!)</p>

<p>Many thanks for choosing Local Orbit.  We look forward to helping you grow your business!</p>
