<h1>Join <%= @organization.name %> today!</h1>

<p>
  Hello! You have been invited to join <%= @organization.name %> by a member of your organization.
</p>

<div class="lo_call_to_action">
  <a href="<%= root_url(host: (@market ? @market.domain : "app.#{ENV.fetch('DOMAIN')}")) %>" class="lo_button lo_button_large">Join <%= @organization.name %></a>
  <p>
    If clicking the button doesn't work, right click it and copy the link.<br>
    After you've copied it, paste it into a new browser window.
  </p>
</div>