<div class="is-hidden modal popup" id="itemPriceEdit2">
  <div class="popup-header">
    Edit Unit Price <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">

    <%= form_for @order_item, remote: true, method: "PATCH", action: "edit" do %>
      
      <% fields_for :unit_price do |f| %>
        <div class="field">
          <%= f.label :price %><br>
          <%= f.text_field "price" %>
        </div>

        <div class="form-actions">
          <%= f.submit "Edit Price" %>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
