---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Organization%2018&metadata[lo.entity_id]=18&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_9px5Q86fWQk8EgzRSadTE69V
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9ThweV3WQJRkqU",
          "object": "customer",
          "account_balance": 0,
          "created": 1477938516,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Organization 18",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo.entity_id": "18",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9ThweV3WQJRkqU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9ThweV3WQJRkqU/subscriptions"
          }
        }
  recorded_at: Mon, 31 Oct 2016 18:28:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9ThweV3WQJRkqU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9px5Q86fWQk8EgzRSadTE69V
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9ThweV3WQJRkqU",
          "object": "customer",
          "account_balance": 0,
          "created": 1477938516,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Organization 18",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo.entity_id": "18",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9ThweV3WQJRkqU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9ThweV3WQJRkqU/subscriptions"
          }
        }
  recorded_at: Mon, 31 Oct 2016 18:28:36 GMT
recorded_with: VCR 2.9.3
