---
http_interactions:
- request:
    method: get
    uri: http://api.tiles.mapbox.com/v3/localorbit.i0ao0akd/geocode/706%202nd%20Ave%20NW%0ACalgary,%20AB%20T2N0E3%20CA.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Jul 2015 20:20:19 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '1200'
      X-Rate-Limit-Remaining:
      - '1199'
      X-Rate-Limit-Reset:
      - '1437596478'
    body:
      encoding: UTF-8
      string: '{"query":["706","2nd","ave","nw","calgary","ab","t2n0e3","ca"],"attribution":{"mapbox-places":"<a
        href=''https://www.mapbox.com/about/maps/'' target=''_blank''>&copy; Mapbox</a>"},"results":[[{"id":"address.208634006391086","bounds":[-91.02341199999995,42.29672599999998,-91.01547199999999,42.29934699999998],"lon":-91.020315,"lat":42.297411,"name":"706
        2nd Ave NW","type":"address"},{"id":"mapbox-places.52033","name":"Cascade","type":"city"},{"id":"zipcode.683193781","name":"52033","type":"zipcode"},{"id":"province.3529999094","name":"Iowa","type":"province"},{"id":"country.4150104525","name":"United
        States","type":"country"}]]}'
  recorded_at: Wed, 22 Jul 2015 20:47:42 GMT
recorded_with: VCR 2.9.3
