---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Calgary,%20AB%20T2N0E3%20CA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "T2N",
                       "short_name" : "T2N",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    },
                    {
                       "long_name" : "Northwest Calgary",
                       "short_name" : "Northwest Calgary",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Calgary",
                       "short_name" : "Calgary",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Division No. 6",
                       "short_name" : "Division No. 6",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alberta",
                       "short_name" : "AB",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Canada",
                       "short_name" : "CA",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Calgary, AB T2N, Canada",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.0834619,
                          "lng" : -114.068808
                       },
                       "southwest" : {
                          "lat" : 51.04749390000001,
                          "lng" : -114.151626
                       }
                    },
                    "location" : {
                       "lat" : 51.067252,
                       "lng" : -114.1350027
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.0834619,
                          "lng" : -114.068808
                       },
                       "southwest" : {
                          "lat" : 51.04749390000001,
                          "lng" : -114.151626
                       }
                    }
                 },
                 "place_id" : "ChIJi_aeGb1vcVMRijnIRgVW-OY",
                 "types" : [ "postal_code", "postal_code_prefix" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "T2N 0E3",
                       "short_name" : "T2N 0E3",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Northwest Calgary",
                       "short_name" : "Northwest Calg[...]
