---
http_interactions:
- request:
    method: get
    uri: http://api.tiles.mapbox.com/v3/localorbit.i0ao0akd/geocode/Calgary,%20AB%20T2N0E3%20CA.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Jul 2015 20:43:11 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '1200'
      X-Rate-Limit-Remaining:
      - '1199'
      X-Rate-Limit-Reset:
      - '1437597851'
    body:
      encoding: UTF-8
      string: '{"query":["calgary","ab","t2n0e3","ca"],"attribution":{"mapbox-places":"<a
        href=''https://www.mapbox.com/about/maps/'' target=''_blank''>&copy; Mapbox</a>"},"results":[[{"id":"mapbox-places.8775","bounds":[-114.361832,50.843616,-113.87432099999998,51.21752899999999],"lon":-114.109431,"lat":51.029654,"name":"Calgary","type":"city"},{"id":"province.2553712403","name":"Alberta","type":"province"},{"id":"country.1833980151","name":"Canada","type":"country"}]]}'
  recorded_at: Wed, 22 Jul 2015 20:43:11 GMT
recorded_with: VCR 2.9.3
