---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=706%202nd%20Ave%20NW%0ACalgary,%20AB%20T2N0E3%20CA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 22 Jul 2015 20:13:33 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '1200'
      X-Rate-Limit-Remaining:
      - '1199'
      X-Rate-Limit-Reset:
      - '1437596073'
    body:
      encoding: UTF-8
      string: '{"query":["206","s","5th","ave","200","ann","arbor","mi","48104","us"],"attribution":{"mapbox-places":"<a
        href=''https://www.mapbox.com/about/maps/'' target=''_blank''>&copy; Mapbox</a>"},"results":[[{"id":"address.14115714019531","bounds":[-83.74654199999998,42.271722999999994,-83.74598999999996,42.28134999999999],"lon":-83.746037,"lat":42.28042,"name":"200
        S 5th Ave","type":"address"},{"id":"mapbox-places.48103","name":"Ann Arbor","type":"city"},{"id":"zipcode.3324410980","name":"48104","type":"zipcode"},{"id":"province.696512852","name":"Michigan","type":"province"},{"id":"country.4150104525","name":"United
        States","type":"country"}]]}'
  recorded_at: Wed, 22 Jul 2015 20:43:11 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=206%20S%205th%20Ave%20%23200%0AAnn%20Arbor,%20MI%2048104%20US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "200",
                       "short_name" : "200",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "",
                       "short_name" : "",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "206",
                       "short_name" : "206",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South 5th Avenue",
                  [...]
