---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=206%20S%205th%20Ave%20%23200%0AAnn%20Arbor,%20MI%2048104%20US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "200",
                       "short_name" : "200",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "206",
                       "short_name" : "206",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South 5th Avenue",
                       "short_name" : "S 5th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Ann Arbor",
  [...]
