---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=706%202nd%20Ave%20NW%0ACalgary,%20AB%20T2N0E3%20CA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "706",
                       "short_name" : "706",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "2 Avenue Northwest",
                       "short_name" : "2 Ave NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Calgary",
                       "short_name" : "Northwest Calgary",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
        [...]
