---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Organization+3&metadata[lo_entity_id]=1&metadata[lo_entity_type]=organization&metadata[lo_entity_name]=Organization+3
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Gph5dXthWXdDxp",
          "object": "customer",
          "address": null,
          "balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Gph5dXthWXdDxp/bank_accounts"
          },
          "created": 1583107199,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "Organization 3",
          "discount": null,
          "email": null,
          "invoice_prefix": "67419D6C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "lo_entity_id": "1",
            "lo_entity_type": "organization",
            "lo_entity_name": "Organization 3"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Gph5dXthWXdDxp/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Gph5dXthWXdDxp/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Gph5dXthWXdDxp/tax_ids"
          }
        }
  recorded_at: Wed, 05 Feb 2020 23:00:00 GMT
recorded_with: VCR 4.0.0
