Here's a very not designed thing to import products. FUN FUN FUN! Only admins can see this.
<br>
<br>
<strong>Successfully gotten:</strong>
<%= "#{@total_products_msg}" %>
<br>
<strong>Errors encountered:</strong>
<br>
<% if @errors %>
	<% @error_display.each do |er| %>
		
		<%= "#{er['name']}" %> 
		<%= "#{er['reason']}" %>
		<br><br>
	<% end %>
<% else %>
	<%= "#{@no_errors}" %>
<% end %>

<br>
<strong><a href="/admin/upload">Return to upload form</a></strong>