Here's a very not designed thing to import products. FUN FUN FUN! Only admins can see this.
<br>
<br>
<strong>Successfully gotten:</strong>

<%= "#{@total_products} products uploaded!" %>

<strong>Errors encountered:</strong>

<%= @errors.each do |er| %>
<% end %>

<a href="/admin/upload">Return to upload form</a>