
<div class="tabs-wrapper">
  <ul class="tabs wrapping-tabs">
    <%= content_tag(:li, link_to_or_span("Products",   [@upload, :admin_upload]), class: 'tab') %>
 
  </ul>
</div>

<h2>Import Products</h2>
Upload a <strong>.CSV</strong> file of your organization(s)'s products here. For more information, see documentation below.
<% if @plan == "LocalEyes" %> <!-- Probably diff plan requirements for uploading. Can upload to any organization... THAT needs to be fixed. TODO authentication. Also, this whole deal should be in roles and permissions anyway. -->
	<%= form_tag({action: :upload}, multipart: true) do %>
	  <%= file_field_tag 'datafile' %>

		<br></br>
	  <%= submit_tag "Import" %>
	<% end %>

<% else %>

	<p>This feature is not available for this market's current plan.</p>

<% end %>


<strong>link to blank template</strong>
<br>
<strong>link to pdf page documentation (incl no-inventory, chart, and all the other things)</strong>
<br>
<strong>link to page on which you can download your catalog in this format for reupload?</strong> 
