This is an admin interface for product import.
<br>
<br>

<h2>Import Products</h2>

<% if @plan == "LocalEyes" %> <!-- Probably diff plan requirements for uploading. Can upload to any organization... THAT needs to be fixed. TODO authentication. Also, this whole deal should be in roles and permissions anyway. -->
	
	<%= form_tag({action: :upload}, multipart: true) do %>
	  <%= file_field_tag 'datafile' %>
	  <br></br>
	  <input type="hidden" id="job_id" name="job_id" value="<%=@job_id%>" />
	  
		<br>
	  <%= submit_tag "Import" %>
	<% end %>

<% else %>

	<p>This feature is not available for this market's current plan.</p>

<% end %>