<strong>Successfully gotten:</strong>
	<%= "#{@total_products_msg}" %>
	<br><br> <br>
	<strong>Errors encountered:</strong>
	<br>
	<% if @errors %>
		<%= @errors %>
	<% else %>
		<%= "#{@no_errors}" %>
	<% end %>

<br><br>
<strong><a href="/admin/upload">Return to upload form</a></strong>
