<font size="5"><strong><%= @num_products_loaded %></strong> products successfully imported.</font>
<br></br>
<strong><a href="/admin/upload">Return to upload form</a></strong>

<br>
<br>
<h3>Errors</h3>
<div id="results">
	<% @errors.each do |e| %>
		<% if @errors.has_key?("File") %>
			<%= @errors["File"] %>
		<% elsif not e[1]["Errors"].empty? %>
			<strong><%= "Row #{e[1]["Row number"]}:" %></strong>
			<br>
			<% e[1]["Errors"].keys.each do |er| %>
				&nbsp;&nbsp;&nbsp; <%= "- #{er} (#{e[1]['Errors'][er]})" %>
				<br>
			<% end %>
		<% end %>
		<br></br>
	<% end %>
</div>