
<script>

	var interval = setInterval(findJob,2000);

	function findJob() { 
		$.ajax('upload/newjob', {
			method: 'post',
			data: {
				job_id: <%= @job_id %>
			},
			success: function(data, status) {
				clearInterval(interval);
				console.log('success');
				//console.log(data);
				$("#results").html(data)

			},
			error: function(xhr, status) {
				// It failed, cos it wasn't there yet.
				if(xhr.status == 404) {
					$("#results").append(".")
				}
			}
		});
	}
</script>



<h3>TBA NUMBER</h3> <i>products successfully imported.</i>

(<strong><a href="/admin/upload">Return to upload form</a></strong>)

<br>
<br>
<h3>Errors</h3>
<div id="results">
	<% @errors.each do |e| %>
		<% if not e[1]["Errors"].empty? %>
			<strong><%= "Row #{e[1]["Row number"]}:" %></strong>
			<br>
			<% e[1]["Errors"].keys.each do |er| %>
				&nbsp;&nbsp;&nbsp; <%= " #{er} (#{e[1]['Errors'][er]})" %>
			<% end %>
			
		<% end %>
	<% end %>
</div>