/*
 * Copyright 2010 (c) VisualShortcodes.com
 */
#scn-options {
    float: left;
    width: 390px;
    margin-right: 10px;
}

#scn-options h3, #scn-preview h3, #scn-options-error h3 {
    margin: 1em 0;
    font-size: 1.6em;
    color: #5A5A5A;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

#scn-options-error p {
    margin: 0;
}

#scn-options-error h4 {
    margin: 1.33em 0 0.8em 0;
}
#scn-options-table {
    border: 1px solid #DFDFDF;
    width: 100%;
    margin-bottom: 8px;
}

#scn-options-table th {
    padding-top: 0.2em;
}

#scn-options-table td {
    vertical-align: middle;
    padding: 0 5px 8px 0;
}

#scn-options-table input {
    width: 100%;
}

#scn-options-table th label {
    margin: 6px;
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    display: block;
}

.scn-input-help {
    font-size: 11px;
    color: #333333;
    font-style: italic;
}

abbr.scn-required {
    color: #FF0000;
}

label.scn-required {
    font-size: 20px !important;
}

input.scn-required {
    font-size:20px;
    border-width:3px
}

.scn-validating {
    background: url("../img/globe-preloader.gif") no-repeat scroll right center transparent;
    padding-right: 18px;
}
    
.scn-validated {
    background: url("../img/checkmark.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}

.scn-validation-error {
    background: url("../img/x.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}

#scn-preview {
    width: 225px;
}
#scn-preloader {
    position: absolute;
}

.scn-loading {
    background: url("../img/preloader.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}

/* COLUMN CONTROL STYLES */

div.column-button {
    border: 1px solid #333333;
    width: 100px;
    margin:  4px 0;
    text-align: center;
}

input.column-button[disabled], input.column-button[disabled]:hover {
    background-color: #fff !important;  
    color: #aaa;
    border: 1px solid #eee;
}

input.column-button {
    float: left;
    clear: left;
    margin-top: 2px;
    border: 1px solid #777777;
    background-color: #EEEEEE !important;
}

.rounded5p {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#scn-column-text {
    border: 1px solid #AAAAAA;
    font-size: 22px;
    font-family: Sans-serif;
    padding: 5px 40px 5px 5px;
}

/* Menu Item */
.scn-wpzoomlink span{
    text-decoration: underline !important;    
}
