<!DOCTYPE html>
<html>
  <head>
    <style>
      .signature {
          display:inline-block;
          width:45%;
          color:#666;
          border-top:1px solid #666;
          margin-top:60px;
          font-family:Arial;
          font-weight:bold;
          font-size:14px;
      }
    </style>
  </head>
  <body style="width:7.5in;">
    <div class="signature" style="float:left;">Signature</div><div class="signature" style="float:right;">Signature</div>
    <br><br><br>
  </body>
</html>