---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Organization%206365&metadata[lo_entity_id]=3&metadata[lo_entity_type]=organization&metadata[lo_entity_name]=Organization%206365
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CSqqqcoAKfDZDI",
          "object": "customer",
          "account_balance": 0,
          "created": 1520640072,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Organization 6365",
          "discount": null,
          "email": null,
          "invoice_prefix": "1434F01",
          "livemode": false,
          "metadata": {
            "lo_entity_id": "3",
            "lo_entity_type": "organization",
            "lo_entity_name": "Organization 6365"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqqqcoAKfDZDI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqqqcoAKfDZDI/subscriptions"
          }
        }
  recorded_at: Mon, 05 May 2014 07:00:04 GMT
recorded_with: VCR 4.0.0
