---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19HJd92VpjOYk6Tmbt16pXgC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19HJd92VpjOYk6Tmbt16pXgC",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1479503443,
          "data": {
            "object": {
              "id": "in_19HJd82VpjOYk6Tm8JU0A8WC",
              "object": "invoice",
              "amount_due": 39900,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_19HJd82VpjOYk6TmrzJdKLYR",
              "closed": true,
              "currency": "usd",
              "customer": "cus_9aUcniAOYTXn42",
              "date": 1479503442,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_9aUc7u7cc8IStf",
                    "object": "line_item",
                    "amount": 39900,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "lo.entity_id": "196",
                      "lo.entity_type": "market"
                    },
                    "period": {
                      "start": 1479503442,
                      "end": 1511039442
                    },
                    "plan": {
                      "id": "START",
                      "object": "plan",
                      "amount": 39900,
                      "created": 1453489634,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Local Orbit Start Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_19HJd82VpjOYk6Tm8JU0A8WC/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1479503442,
              "period_start": 1479503442,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_9aUc7u7cc8IStf",
              "subtotal": 39900,
              "tax": null,
              "tax_percent": null,
              "total": 39900,
              "webhooks_delivered_at": null,
              "payment": "ch_19HJd82VpjOYk6TmrzJdKLYR"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9aUc1mY6YORpUT",
          "type": "invoice.payment_succeeded"
        }
  recorded_at: Sun, 04 Dec 2016 00:09:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19NxEZ2VpjOYk6TmQLjYsn5Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |[...]
