---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history?expand%5B%5D=data.source&limit=100&transfer=tr_15xxwkHouQbaP1MV8O0tEg2b&type=payment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "txn_15xlYBHouQbaP1MVw4lgOnuX",
              "object": "balance_transaction",
              "amount": 7600,
              "available_on": 1430515198,
              "created": 1430515198,
              "currency": "usd",
              "description": null,
              "exchange_rate": null,
              "fee": 250,
              "fee_details": [
                {
                  "amount": 250,
                  "application": "ca_5vj31wLn9y0tO1AOBXSs20NcwKHAcPO0",
                  "currency": "usd",
                  "description": "Local Orbit Marketplaces application fee",
                  "type": "application_fee"
                }
              ],
              "net": 7350,
              "source": {
                "id": "py_15xlYAHouQbaP1MVR7Jii9lg",
                "object": "charge",
                "amount": 7600,
                "amount_refunded": 0,
                "application": "ca_5vj31wLn9y0tO1AOBXSs20NcwKHAcPO0",
                "application_fee": "fee_6A5jhB9nD6B1oe",
                "balance_transaction": "txn_15xlYBHouQbaP1MVw4lgOnuX",
                "captured": true,
                "created": 1430515198,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "lo.order_id": "1234"
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": null,
                "paid": true,
                "payment_intent": null,
                "receipt_email": null,
                "receipt_number": null,
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/py_15xlYAHouQbaP1MVR7Jii9lg/refunds"
                },
                "review": null,
                "shipping": null,
                "source": {
                  "id": "acct_1036Y82VpjOYk6Tm",
                  "object": "account",
                  "application_icon": "https://s3.amazonaws.com/stripe-uploads/acct_1036Y82VpjOYk6Tmapplication-icon-LocalOrbitLogoNoTag-PrintQuality_vectorized_clipped_rev_3%20copy.png",
                  "application_logo": "https://s3.amazonaws.com/stripe-uploads/acct_1036Y82VpjOYk6Tmapplication-logo-LocalOrbitLogoNoTag-PrintQuality_vectorized_clipped_rev_2.png",
                  "application_name": "Local Orbit Marketplaces",
                  "application_url": "http://www.localorbit.com"
                },
                "source_transfer": "tr_15xlYA2VpjOYk6TmpYnQeiwt",
                "statement_descriptor": null,
                "status": "succeeded",
                "transfer_group": null
              },
              "sourced_transfers": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/transfers?source_transaction=py_15xlYAHouQbaP1MVR7Jii9lg"
              },
              "status": "available",
              "type": "payment"
            },
            {
              "id": "txn_15xlY2HouQbaP1MVBD6xUvmJ",
              "object": "balance_transaction",
              "amount": 7600,
              "ava[...]
