<h1 style="text-align: center;"><%= @newsletter.header %></h1>

<% if @newsletter.image %>
  <div style="text-align: center;"><%= image_tag @newsletter.image.thumb('600x300>').url %></div><br>
<% end %>

<%= @newsletter.body.html_safe %>
