---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19HJd92VpjOYk6Tmbt16pXgC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19HJd92VpjOYk6Tmbt16pXgC",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1479503443,
          "data": {
            "object": {
              "id": "in_19HJd82VpjOYk6Tm8JU0A8WC",
              "object": "invoice",
              "amount_due": 39900,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_19HJd82VpjOYk6TmrzJdKLYR",
              "closed": true,
              "currency": "usd",
              "customer": "cus_9aUcniAOYTXn42",
              "date": 1479503442,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_9aUc7u7cc8IStf",
                    "object": "line_item",
                    "amount": 39900,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "lo.entity_id": "196",
                      "lo.entity_type": "market"
                    },
                    "period": {
                      "start": 1479503442,
                      "end": 1511039442
                    },
                    "plan": {
                      "id": "START",
                      "object": "plan",
                      "amount": 39900,
                      "created": 1453489634,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                      },
                      "name": "Local Orbit Start Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_19HJd82VpjOYk6Tm8JU0A8WC/lines"
              },
              "livemode": false,
              "metadata": {
              },
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1479503442,
              "period_start": 1479503442,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_9aUc7u7cc8IStf",
              "subtotal": 39900,
              "tax": null,
              "tax_percent": null,
              "total": 39900,
              "webhooks_delivered_at": null,
              "payment": "ch_19HJd82VpjOYk6TmrzJdKLYR"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9aUc1mY6YORpUT",
          "type": "invoice.payment_succeeded"
        }
  recorded_at: Wed, 21 Nov 2018 03:13:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_19HJd82VpjOYk6TmrzJdKLYR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19HJd82VpjOYk6TmrzJdKLYR",
          "object": "charge",
          "amount": 39900,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19HJd92VpjOYk6TmaTobXYxC",
          "captured": true,
          "created": 1479503442,
          "currency": "usd",
          "customer": "cus_9aUcniAOYTXn42",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": "in_19HJd82VpjOYk6Tm8JU0A8WC",
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19HJd82VpjOYk6TmrzJdKLYR/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19HJd62VpjOYk6TmwKcemuLf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_9aUcniAOYTXn42",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2020,
            "fingerprint": "tbZuYbkiqOm1Bfe2",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Wed, 21 Nov 2018 03:13:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9aUcniAOYTXn42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9aUcniAOYTXn42",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9aUcniAOYTXn42/bank_accounts"
          },
          "created": 1479503441,
          "currency": "usd",
          "default_bank_account": null,
          "default_source": "card_19HJd62VpjOYk6TmwKcemuLf",
          "default_source_type": "card",
          "delinquent": false,
          "description": "LaBog International",
          "discount": null,
          "email": null,
          "invoice_prefix": "2EE464B",
          "livemode": false,
          "metadata": {
            "lo.entity_id": "196",
            "lo.entity_type": "market"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19HJd62VpjOYk6TmwKcemuLf",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9aUcniAOYTXn42",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 2,
                "exp_year": 2020,
                "fingerprint": "tbZuYbkiqOm1Bfe2",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9aUcniAOYTXn42/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9aUc7u7cc8IStf",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1479503442,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1479503442,
                "current_period_end": 1574111442,
                "current_period_start": 1542575442,
                "customer": "cus_9aUcniAOYTXn42",
                "days_until_due": null,
                "default_source": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_19HJd82VpjOYk6TmSgtL7xxb",
                      "object": "subscription_item",
                      "created": 1479503443,
                      "metadata": {
                      },
                      "plan": {
                        "id": "START",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 39900,
                        "billing_scheme": "per_unit",
                        "created": 1453489634,
                        "currency": "usd",
                        "interval": "year",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "name": "Local Orbit Start Plan",
                        "nickname": null,
                        "product": "prod_BV8nGFHpqYOqPD",
                        "statement_descriptor": null,
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_9aUc7u7cc8IStf"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_9aUc7u7cc8IStf"
                },
                "livemode": false,
                "metadata": {
                  "lo.entity_id": "196",
                  "lo.entity_type": "market"[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9aUcniAOYTXn42/subscriptions/sub_9aUc7u7cc8IStf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:[...]
