<div class="is-hidden modal popup" id="product_management">
  <div class="popup-header">
    Add Products to Cross Selling List <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">
    <p>Boo!</p>
  </div>
</div>
