<%= render partial: "admin/markets/header", locals: { market: @entity } %>

<%#= render "shared/errors", resource: @entity %>

<div class="row row--partial">
  <div class="column column--three-fourths">
      <%= render "header" %>
      <p>Boo!</p>
  </div>
</div>
