<h1>Registration: Step Two</h1>
In order to verify your new account, we've sent an confirmation email to <%= @registration.contact_email %>.
You will need to follow the instructions in the confirmation email in order to begin buying / selling on this market.
