<h1>Generating PDF of the invoice…</h1>

<p>We're building your invoice. This page will refresh every 30 seconds until it is ready.</p>

<script>
  window.setTimeout(function(){
    location.reload();
  }, 30000);
</script>