@font-face {
	font-family: 'icomoon-ultimate';
	src:url('fonts/icomoon-ultimate.eot');
	src:url('fonts/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon-ultimate.svg#icomoon-ultimate') format('svg'),
		url('fonts/icomoon-ultimate.woff') format('woff'),
		url('fonts/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before, .icon-home-2:before, .icon-pencil:before, .icon-newspaper:before, .icon-image:before, .icon-bullhorn:before, .icon-file:before, .icon-book:before, .icon-book-2:before, .icon-books:before, .icon-profile:before, .icon-tag:before, .icon-cart-checkout:before, .icon-cart:before, .icon-coin:before, .icon-coins:before, .icon-credit:before, .icon-address-book:before, .icon-mail-send:before, .icon-calendar:before, .icon-print:before, .icon-database:before, .icon-bubbles:before, .icon-users:before, .icon-user:before, .icon-busy:before, .icon-binoculars:before, .icon-key:before, .icon-settings:before, .icon-cogs:before, .icon-bars:before, .icon-apple-fruit:before, .icon-lamp:before, .icon-paper-plane:before, .icon-truck:before, .icon-list:before, .icon-signup:before, .icon-clipboard:before, .icon-grid:before, .icon-grid-2:before, .icon-download:before, .icon-upload:before, .icon-flag:before, .icon-eye:before, .icon-thumbs-up:before, .icon-stack-checkmark:before, .icon-plus-circle:before, .icon-minus-circle:before, .icon-close:before, .icon-checkmark:before, .icon-arrow-right:before, .icon-arrow-down:before, .icon-checkbox-checked:before, .icon-checkbox-unchecked:before, .icon-filter:before, .icon-font-size:before, .icon-bold:before, .icon-underline:before, .icon-italic:before, .icon-paragraph-left:before, .icon-paragraph-center:before, .icon-paragraph-right:before, .icon-mail:before, .icon-mail-2:before, .icon-twitter:before, .icon-feed:before, .icon-facebook:before, .icon-share:before, .icon-close-2:before, .icon-stack-list:before, .icon-happy:before, .icon-smiley:before, .icon-sad:before, .icon-shocked:before, .icon-remove:before, .icon-steps:before, .icon-direction:before, .icon-compass:before, .icon-clock:before, .icon-bubble:before, .icon-search:before, .icon-health:before, .icon-pie:before, .icon-wand:before {
	font-family: 'icomoon-ultimate';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-home-2:before {
	content: "\e001";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-newspaper:before {
	content: "\e003";
}
.icon-image:before {
	content: "\e004";
}
.icon-bullhorn:before {
	content: "\e005";
}
.icon-file:before {
	content: "\e006";
}
.icon-book:before {
	content: "\e007";
}
.icon-book-2:before {
	content: "\e008";
}
.icon-books:before {
	content: "\e009";
}
.icon-profile:before {
	content: "\e00a";
}
.icon-tag:before {
	content: "\e00b";
}
.icon-cart-checkout:before {
	content: "\e00c";
}
.icon-cart:before {
	content: "\e00d";
}
.icon-coin:before {
	content: "\e00e";
}
.icon-coins:before {
	content: "\e00f";
}
.icon-credit:before {
	content: "\e010";
}
.icon-address-book:before {
	content: "\e011";
}
.icon-mail-send:before {
	content: "\e012";
}
.icon-calendar:before {
	content: "\e013";
}
.icon-print:before {
	content: "\e014";
}
.icon-database:before {
	content: "\e015";
}
.icon-bubbles:before {
	content: "\e016";
}
.icon-users:before {
	content: "\e017";
}
.icon-user:before {
	content: "\e018";
}
.icon-busy:before {
	content: "\e019";
}
.icon-binoculars:before {
	content: "\e01a";
}
.icon-key:before {
	content: "\e01b";
}
.icon-settings:before {
	content: "\e01c";
}
.icon-cogs:before {
	content: "\e01d";
}
.icon-bars:before {
	content: "\e01e";
}
.icon-apple-fruit:before {
	content: "\e01f";
}
.icon-lamp:before {
	content: "\e020";
}
.icon-paper-plane:before {
	content: "\e021";
}
.icon-truck:before {
	content: "\e022";
}
.icon-list:before {
	content: "\e023";
}
.icon-signup:before {
	content: "\e024";
}
.icon-clipboard:before {
	content: "\e025";
}
.icon-grid:before {
	content: "\e026";
}
.icon-grid-2:before {
	content: "\e027";
}
.icon-download:before {
	content: "\e028";
}
.icon-upload:before {
	content: "\e029";
}
.icon-flag:before {
	content: "\e02a";
}
.icon-eye:before {
	content: "\e02b";
}
.icon-thumbs-up:before {
	content: "\e02c";
}
.icon-stack-checkmark:before {
	content: "\e02d";
}
.icon-plus-circle:before {
	content: "\e02e";
}
.icon-minus-circle:before {
	content: "\e02f";
}
.icon-close:before {
	content: "\e030";
}
.icon-checkmark:before {
	content: "\e031";
}
.icon-arrow-right:before {
	content: "\e032";
}
.icon-arrow-down:before {
	content: "\e033";
}
.icon-checkbox-checked:before {
	content: "\e034";
}
.icon-checkbox-unchecked:before {
	content: "\e035";
}
.icon-filter:before {
	content: "\e036";
}
.icon-font-size:before {
	content: "\e03b";
}
.icon-bold:before {
	content: "\e03c";
}
.icon-underline:before {
	content: "\e03d";
}
.icon-italic:before {
	content: "\e037";
}
.icon-paragraph-left:before {
	content: "\e038";
}
.icon-paragraph-center:before {
	content: "\e039";
}
.icon-paragraph-right:before {
	content: "\e03a";
}
.icon-mail:before {
	content: "\e03e";
}
.icon-mail-2:before {
	content: "\e03f";
}
.icon-twitter:before {
	content: "\e040";
}
.icon-feed:before {
	content: "\e041";
}
.icon-facebook:before {
	content: "\e042";
}
.icon-share:before {
	content: "\e043";
}
.icon-close-2:before {
	content: "\e044";
}
.icon-stack-list:before {
	content: "\e045";
}
.icon-happy:before {
	content: "\e046";
}
.icon-smiley:before {
	content: "\e047";
}
.icon-sad:before {
	content: "\e048";
}
.icon-shocked:before {
	content: "\e049";
}
/*
.icon-remove:before {
	content: "\e04a";
} */
.icon-steps:before {
	content: "\e04b";
}
.icon-direction:before {
	content: "\e04c";
}
.icon-compass:before {
	content: "\e04d";
}
.icon-clock:before {
	content: "\e04e";
}
.icon-bubble:before {
	content: "\e04f";
}
.icon-search:before {
	content: "\e050";
}
.icon-health:before {
	content: "\e051";
}
.icon-pie:before {
	content: "\e052";
}
.icon-wand:before {
	content: "\e054";
}
