<div class="social-widget">
  <div 
    class="fb-like-box" 
    data-href="<%= f %>" 
    data-width="220" 
    data-colorscheme="light" 
    data-show-faces="false" 
    data-header="false" 
    data-stream="true" 
    data-show-border="true">
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=371089202914911&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</div>
