<div>
  <h2>Transactions</h2>
  <table>
    <thead>
      <tr>
        <th>Product</th><th>Lot</th><th>Quantity</th><th>Price</th><th>Total</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>