<div>
  <h2>Ordered</h2>
  <table>
    <thead>
      <tr>
        <th>Product</th><th>Status</th><th>Ordered</th><th>On Hand</th><th>Sale Price</th><th>Net Price</th><th>Due</th>
      </tr>
    </thead>
    <tbody>
    <% @so_transactions.decorate.each do |so| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>