<div class="row row--partial">
  <div class="column column--three-fourths">
    <div class="l-page-header">
      <h1>Please Select a Market</h1>
    </div>

    <ul>
      <% current_user.markets.each do |market| %>
        <li><%= link_to market.name, url_for(host: market.domain) %></li>
      <% end %>
    </ul>

  </div>
</div>
