<%# 
Local variables:
  @subscriber: the subscribed market in question
  @event_params: the event.data.object for the event
%>
<p>Good day,</p>

<p>Stripe has reported a <span style="color:red">failed invoice payment</span> for '<%= @subscriber.name %>' (Stripe id: @event_params[:customer])</p>

<p>Details:</p>

<pre><%= @event_params.inspect %></pre>
