---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Fake%20Organization&metadata[lo_entity_id]=2&metadata[lo_entity_type]=organization&metadata[lo_entity_name]=Fake%20Organization
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CSqtG384ycXTp6",
          "object": "customer",
          "account_balance": 0,
          "created": 1520640241,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Fake Organization",
          "discount": null,
          "email": null,
          "invoice_prefix": "89B3A06",
          "livemode": false,
          "metadata": {
            "lo_entity_id": "2",
            "lo_entity_type": "organization",
            "lo_entity_name": "Fake Organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqtG384ycXTp6/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CSqtG384ycXTp6/subscriptions"
          }
        }
  recorded_at: Sat, 10 Mar 2018 00:04:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CSqtG384ycXTp6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CSqtG384ycXTp6/sources
    body:
      encoding: US-ASCII
      string: source=tok_1C3vBsJgIq5cKVWgVKkrjD3i
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1C3vBrJgIq5cKVWgRoekLOZY",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "MasterCard",
          "country": "US",
          "customer": "cus_CSqtG384ycXTp6",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 5,
          "exp_year": 2020,
          "fingerprint": "u8gSkOFwf9OvBKSB",
          "funding": "prepaid",
          "last4": "5100",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 10 Mar 2018 00:04:02 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CSqtG384ycXTp6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 'cus_CSqtG384ycXTp6'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Wed, 09 Sep 2020 10:35:39 GMT
recorded_with: VCR 4.0.0
