<div class="row row--partial order-page">
  <div class="column column--eleven-twelfths">
    <h1>Thank you for your order!</h1>

    <p>You will receive a confirmation email with details of your order and a link to track its progress.</p>
    <p>If you have any questions, <%= link_to "please let us know.", help_path %></p>

    <%= render "order" %>
  </div>
</div>
