---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=%5BTest%5D%20Market%205&metadata[lo.entity_id]=9&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8Bxk3i1tKGmxIk",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8Bxk3i1tKGmxIk/bank_accounts"
          },
          "created": 1459546158,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "[Test] Market 5",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "lo.entity_id": "9",
            "lo.entity_type": "organization"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8Bxk3i1tKGmxIk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8Bxk3i1tKGmxIk/subscriptions"
          }
        }
  recorded_at: Fri, 01 Apr 2016 21:29:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4012888888881881&card[exp_month]=5&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17vZpT2VpjOYk6Tm5q0Hft0I",
          "object": "token",
          "card": {
            "id": "card_17vZpT2VpjOYk6Tm3YzdjhJg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2016,
            "fingerprint": "q7xiTNu65zbddK8U",
            "funding": "credit",
            "last4": "1881",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.77.209.166",
          "created": 1459546159,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 Apr 2016 21:29:18 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8BxkB4ZmGpZQqg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8BxkB4ZmGpZQqg/subscriptions
    body:
      encoding: US-ASCII
      string: plan=GROW&source=tok_17vZpT2VpjOYk6Tm5q0Hft0I&metadata[lo.entity_id]=10&metadata[lo.entity_type]=market
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8BxlmLbODebYhX",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1491082160,
          "current_period_start": 1459546160,
          "customer": "cus_8BxkB4ZmGpZQqg",
          "discount": null,
          "ended_at": null,
          "metadata": {
            "lo.entity_id": "10",
            "lo.entity_type": "market"
          },
          "plan": {
            "id": "GROW",
            "object": "plan",
            "amount": 79900,
            "created": 1453489664,
            "currency": "usd",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Local Orbit Grow Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1459546160,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 01 Apr 2016 21:29:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8BxkB4ZmGpZQqg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17vZpU2VpjOYk6Tmz0LqZ2Xt",
              "object": "invoice",
              "amount_due": 79900,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17vZpU2VpjOYk6TmXWXBehvA",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8BxkB4ZmGpZQqg",
              "date": 1459546160,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8BxlmLbODebYhX",
                    "object": "line_item",
                    "amount": 79900,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "lo.entity_id": "10",
                      "lo.entity_type": "market"
                    },
                    "period": {
                      "start": 1459546160,
                      "end": 1491082160
                    },
                    "plan": {
                      "id": "GROW",
                      "object": "plan",
                      "amount": 79900,
                      "created": 1453489664,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Local Orbit Grow Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17vZpU2VpjOYk6Tmz0LqZ2Xt/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1459546160,
              "period_start": 1459546160,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8BxlmLbODebYhX",
              "subtotal": 79900,
              "tax": null,
              "tax_percent": null,
              "total": 79900,
              "webhooks_delivered_at": null,
              "payment": "ch_17vZpU2VpjOYk6TmXWXBehvA"
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Fri, 01 Apr 2016 21:29:22 GMT
recorded_with: VCR 2.9.3
