SECRET_TOKEN: <long random string>
GOOGLE_MAPS_KEY: <api key for google maps>
ASSET_HOST: "http://localhost:3000"
DOMAIN: "localtest.me" # localtest.me points to 127.0.0.1 and lets us use subdomains. localhost does not. see http://readme.localtest.me/
ZENDESK_EMAIL: "service@localorbit.com"
ZENDESK_SHARED_SECRET: "fake"
ZENDESK_SUBDOMAIN: "localorbit"
SUPPORT_PHONE_NUMBER: '(800) 598-3351'
UPLOADS_BUCKET: <S3 upload bucket (dev)>
UPLOADS_ACCESS_KEY_ID: <S3 upload access key id>
UPLOADS_SECRET_ACCESS_KEY: <S3 upload secret access key>
UPLOADS_REGION: <S3 upload region>
TWITTER_WIDGET_ID: 'create-me-at-twitter-dot-com'
STRIPE_PUBLISHABLE_KEY: <stripe publishable key (test on local system)>
STRIPE_SECRET_KEY: <stripe secret key (test on local system)>
STRIPE_CLIENT_ID: <stripe client key (test on local system)>
FROALA_KEY: <api key for froala>
USE_STRIPE_STANDALONE_ACCOUNTS: 'true'
SMTP_USERNAME: <mandrill smtp username>
SMTP_PASSWORD: <mandrill smtp password>
TRANS_DB_URL: <transactional db>
DW_DB_URL: <dw url>
ETL_DAYS: '720'
BI_SERVER: <qlik url>
BI_CERT: <url to BI CERT file>
BI_CERT_KEY: <url to BI CERT KEY file>
BI_DASHBOARD_URL: <url to BI dashboard>
USE_UPLOAD_QUEUE: 'true'
API_ADMIN_USER_ID: <admin user id>
MAX_POOL_SIZE: '10'
QB_APP_TOKEN: <QB app token>
QB_CONSUMER_KEY: <QB consumer key>
QB_CONSUMER_SECRET: <QB consumer secret>
QB_ACCESS_TOKEN: <QB access token>
QB_ACCESS_TOKEN_SECRET: <QB access token secret>
QB_REALM_ID: <QB realm id>
development:
  STRIPE_DEV_MARKET_ACCOUNT_ID: <stripe user id of market that did oauth flow, see docs/stripe.md>
  MAILTRAP_USERNAME: <MT username>
  MAILTRAP_PASSWORD: <MT secret>
staging:
  MAILTRAP_USERNAME: <MT username>
  MAILTRAP_PASSWORD: <MT secret>
