<% cart_class_base = (current_page?([:cart]) ? "current cart" : "cart" ) %>

<% if current_cart.present? %>
  <% cart_count = current_cart.items.count %>
<% else %>
  <% cart_count = 0 %>
<% end %>

<%= link_to [:cart], class: cart_class_base, data: {count: cart_count}  do %>
  Cart <span class="counter"><%= cart_count %></span>
<% end %>

<div id="empty-cart" class="popup popup--centered with-anchor top-centered-anchor is-hidden">
  <div class="popup-header">
    Your cart is empty.
  </div>

  <div class="popup-body">
    <p>Add items to your cart to see them here and make a purchase.</p>
  </div>
</div>
