<h1>Product Upload Failed</h1>

Please correct these errors, and upload your file again.
<br/><br/>
<% if !@errors.nil? && (@errors.keys.include?("File") ||@errors.keys.map{|k| @errors[k]["Errors"]}.select{|er| !er.nil? && !er.empty?}.any?) %>
    <h3>Errors:</h3>
    <div id="results">
      <% if @errors.has_key?("File") %>
          <%= @errors["File"] %>
      <% else %>
        <% @errors["File"].each do |e| %>
            <strong><%= "Row #{e[1]["Row number"]}:" %></strong><br/>
            <% e[1]["Errors"].keys.each do |er| %>
                &nbsp;&nbsp;&nbsp; <%= "- #{er} (#{e[1]['Errors'][er]})" %>
                <br>
            <% end %>
            <br/>
        <% end %>
      <% end %>
    </div>
<% end %>