<h1>Product Upload Results</h1>

<strong><%= @num_products_loaded %></strong> products successfully imported.
<br/><br/>
Make sure to <strong><a href="/admin/products">add inventory to your products</a></strong> so they will appear in the product catalog!<br>(If you updated products that already have inventory, nothing about the inventory has changed.)
<br/><br/>
<% if !@errors.nil? && @errors.keys.map{|k| @errors[k]["Errors"]}.select{|er| !er.empty?}.any? %>
<h3>Errors Found:</h3>
<div id="results">
  <% @errors.each do |e| %>
      <% if @errors.has_key?("File") %>
          <%= @errors["File"] %>
      <% elsif not e[1]["Errors"].empty? %>
          <strong><%= "Row #{e[1]["Row number"]}:" %></strong><br>
          <% e[1]["Errors"].keys.each do |er| %>
              &nbsp;&nbsp;&nbsp; <%= "- #{er} (#{e[1]['Errors'][er]})" %>
              <br>
          <% end %>
      <% end %>
      <br/>
  <% end %>
</div>
<% end %>