<h1>Product Upload Successful</h1>

<strong><%= @num_products_loaded %></strong> products successfully imported.
<br/><br/>
Make sure to <strong><a href="/admin/products">add inventory to your products</a></strong> so they will appear in the product catalog!<br>(If you updated products that already have inventory, nothing about the inventory has changed.)
