---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Organization%201&metadata[lo_entity_id]=1&metadata[lo_entity_type]=organization&metadata[lo_entity_name]=Organization%201
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_D7iTRVQuSz5RX1",
          "object": "customer",
          "account_balance": 0,
          "bank_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_D7iTRVQuSz5RX1/bank_accounts"
          },
          "created": 1530065173,
          "currency": null,
          "default_bank_account": null,
          "default_source": null,
          "default_source_type": null,
          "delinquent": false,
          "description": "Organization 1",
          "discount": null,
          "email": null,
          "invoice_prefix": "45DDFB7",
          "livemode": false,
          "metadata": {
            "lo_entity_id": "1",
            "lo_entity_type": "organization",
            "lo_entity_name": "Organization 1"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_D7iTRVQuSz5RX1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_D7iTRVQuSz5RX1/subscriptions"
          }
        }
  recorded_at: Sat, 02 Jun 2018 01:06:13 GMT
recorded_with: VCR 2.9.3
