---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4012888888881881&card[exp_month]=5&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17vaGl2VpjOYk6TmbbhyzHod",
          "object": "token",
          "card": {
            "id": "card_17vaGk2VpjOYk6Tm9lySSGoe",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2016,
            "fingerprint": "q7xiTNu65zbddK8U",
            "funding": "credit",
            "last4": "1881",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "50.77.209.166",
          "created": 1459547851,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 01 Apr 2016 21:57:31 GMT
recorded_with: VCR 2.9.3
