<%= render "header" %>

<div class="row row--partial">
  <%= render "shared/errors", {resource: @discount} %>

  <%= form_for @discount, url: admin_discount_path(@discount), html: { class: "discount column column--half"} do |f| %>
    <%= render "fields", {f: f} %>
  <% end %>
</div>
