#tweets {
	display: none;
	border: solid 1px #e6e6e6;
	font-size: 12px;
	.border-radius(5px);
	margin-bottom: 20px;
	margin-top: 18px;
	background-color: @mastercolor;
}

#tweets > div.twitter-header {
	display: block;
	height: 38px;
	color: white;
}

#tweets > div.twitter-header * {
	float: left;
	margin-left: 5px;
}

#tweets .tweet {
	border-bottom: solid 1px #e6e6e6;
}

#tweets .tweet:first-child {
	/*border-top: solid 1px #e6e6e6; */
}

#tweets iframe, #tweets div.twitter-header iframe {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
	
#tweets .tweet .user{
	margin-left: 5px;
}

#tweets .tweet .user .name, #tweets .header .time {
	color: #999;
}

	#tweets .user_label {
		font-weight: bold;
	}
	
#tweets .text {
	clear: both;
}

#tweets div.twitter-feed {
	border-bottom: solid 1px #e6e6e6;
}

	#tweets .header > * {
		float: left;
	}

	#tweets .header .time {
		float: right;
	}

	#tweets .content {
		padding: 5px;
	}
	
	#tweets > div.twitter-feed {
		clear: both;
		max-height: 300px;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: #fff;
	}
