<div class="tab-header stickable">
  <div class="l-constraint">
    <%= link_to "< Return to Role List", admin_roles_path, class: "redundant-nav" %>

    <h1>Editing Role: <%= @role.name %></h1>

  </div>
</div>
