<tr class="role-row">
  <td class="name"><%= link_to role.name, [:admin, role] %></td>
  <td>
    <%  users = role.users
        users.each do |u| %>
          <%=u.name %><br/>
        <% end %>
  </td>
  <td>
    <% if users.count == 0 %>
      <%= link_to raw('<i class="fa fa-trash-o">&nbsp;</i>'), admin_role_path(role.id), method: :delete, class: 'action-link font-icon', data: {confirm: "Are you sure you want to delete role #{role.name}?"}, title: "Delete" %>
    <% end %>
  </td>
</tr>

