<div>
  <h1>Organizations</h1>
  <%= link_to 'Dashboard', dashboard_path %>
  <%= link_to 'Add Organization', new_admin_organization_path if current_user.admin? || current_user.market_manager? %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Can Sell</th>
  </tr>
  <% @organizations.each do |organization| %>
  <tr>
    <td><%= link_to organization.name, [:admin, organization] %></td>
    <td><%= organization.can_sell? %></td>
  </tr>
  <% end %>
</table>