<h1>You have a new order!</h1>
<p>
  <span class="lo_order_number">Order Number: 90123</span>
</p>

<p>
An order was just placed by <strong><%= @market.name %></strong>.
Your can check the details of this and all of your current orders by
following the link above and lokking in to your Farm Fresh account.
</p>

<%= render "order" %>
