<span class="preserve-alignment payment-search-container">
  <%= f.label :payment_method_eq, "Payment Method" %><br>
  <%= f.select :payment_method_eq, Payment::PAYMENT_METHODS.map { |pm| [pm[1], pm[0]] }, { include_blank: "All" }, { class: "filter-input" } %>
</span>
