<span class="preserve-alignment">
  <label for="q_created_at_date_gteq">Filter by Date</label><br>
  <%= datetime_field_tag "q[created_at_date_gteq]", start_date, class: 'datepicker filter-input' %>
</span>
<span class="preserve-alignment date">
  <label for="q_created_at_date_lteq" class="is-invisible">End Date</label><br>
  <%= datetime_field_tag "q[created_at_date_lteq]", end_date, class: 'datepicker filter-input' %>
</span>
<span class="preserve-alignment filter-container">
  <%= f.submit "Filter", class: "btn--small btn--filter mobile-block" %>
</span>
