<span class="preserve-alignment payment-search-container">
  <%= f.label :orders_order_number_or_organization_payee_name_or_organization_payer_name_cont, "Search Payments" %><br>
  <%# NOTE: Do not change the whitespace on the following line %>
  <%= f.search_field :orders_order_number_or_organization_payee_name_or_organization_payer_name_cont, placeholder: "Search Payments" -%><%= f.submit "Search", class: "btn--end" %>
</span>
