<%= paginate presenter.items %>

<% if presenter.items.none? %>
  <div class="info-note">
    <h2>No Results</h2>
    This table is empty, either because there is no data, or because the filter you've applied is hiding it.
  </div>
<% end %>
