<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
     <h1><i class="font-icon" data-icon="&#xe006;">&nbsp; </i>Reports</h1>
    </div>
    <div class="tabs-wrapper">
      <ul class="tabs">
        <% ReportPresenter.reports_for_user(current_user).each do |report| %>
          <%= content_tag(:li, link_to_or_span(report.titleize, admin_report_path(report.dasherize)), class: 'tab') %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
