<div class="row row--partial">
  <div class="column column--three-fourths">
    <legend>Create a New Cross Selling List</legend>

    <%# binding.pry %>
    <%= render 'shared/errors', { resource: @market } %>

    <%#= form_for [:admin, @market, :cross_sell], method: :post do |f| %>
    <form action="/admin/markets/10/cross_sell/new">
      <%#= render 'form', {f: f} %>
      <%= render 'form' %>
      <div class="form-actions">
      	<input type="submit" value="Create List">
        <%#= f.submit "Create List" %>
      </div>
    <%# end %>
    </form>
  </div>
</div>