<div class="row row--partial">
  <div class="column column--three-fourths">
    <legend>Add Market Address</legend>

    <%= render 'shared/errors', { resource: @market } %>

    <%= form_for [:admin, @market, :cross_sell], method: :post do |f| %>
      <%= render 'form', {f: f} %>
      <div class="form-actions">
        <%= f.submit "Create List" %>
      </div>
    <% end %>
  </div>
</div>