---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15xcvAHouQbaP1MV0Qwrf4VG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15xcvAHouQbaP1MV0Qwrf4VG",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1430482028,
          "data": {
            "object": {
              "id": "tr_15xcv9HouQbaP1MVXim58UCZ",
              "object": "transfer",
              "created": 1430482027,
              "date": 1430524800,
              "livemode": false,
              "amount": 33210,
              "currency": "usd",
              "reversed": false,
              "status": "pending",
              "type": "bank_account",
              "reversals": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/transfers/tr_15xcv9HouQbaP1MVXim58UCZ/reversals",
                "data": [

                ]
              },
              "balance_transaction": "txn_15xcv9HouQbaP1MVh0dMRAi8",
              "destination": null,
              "description": "STRIPE TRANSFER",
              "failure_message": null,
              "failure_code": null,
              "amount_reversed": 0,
              "metadata": {
              },
              "statement_descriptor": null,
              "recipient": null,
              "source_transaction": null,
              "application_fee": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": null,
          "type": "transfer.created"
        }
  recorded_at: Wed, 21 Nov 2018 03:13:32 GMT
recorded_with: VCR 4.0.0
