<h2>Coming Soon</h2>

<p>We're finalizing a few features and will be releasing them soon! Thank you for being a beta user on Local Orbit's updated platform. We'd love to hear your feedback. Please <%= mail_to "service@localorbit.com", "let us know" %> how it's going!</p>
