<h1>Current Sales</h1>

<% if current_market.orders.present? %>
  <%= render "current_sales" %>
<% else %>
  No orders have yet been created
<% end %>

<hr>

<h1>Products</h1>
<% @products = Product.available_for_market(current_market) %>
<% if @products.any? %>
  <%= render "products" %>
<% else %>
  No products have yet been created
<% end %>

