<div class="row">
  <div class="column column--half column--guttered">
    <%= render "pending_orders" %>
  </div
  ><div class="column column--half column--guttered">
    <%= render "upcoming_deliveries" %>
  </div>
</div>
