<div class="is-hidden modal popup" id="request-new-category">
  <div class="popup-header">
    Add New Product Category <button class="close"><i class="font-icon icon-close"></i></button>
  </div>
  <div class="popup-body">
  <p>Adding new product categories to the system requires approval.
  Please enter the product category you'd like to have added. We'll
  have it added for you within 24 hours.</p>

    <%= form_tag admin_category_request_path, remote: true do %>
      <div class="field">
        <%= label_tag :product_category, "Product Category" %><br>
        <%= text_field_tag :product_category, nil, { class: "column--full" } %>
      </div>

      <div class="form-actions">
        <%= submit_tag "Request Category" %>
      </div>
    <% end %>
  </div>
</div>
