<ul class="product-tabs">
  <% if @product.persisted? %>
    <li class="completed"><%= link_to "Product Info", admin_product_path(@product) %></li>
    <li><%= link_to "Set Inventory", admin_product_lots_path(@product) %></li>
  <% else %>
    <li>Product Info</li>
    <li>Set Inventory</li>
  <% end %>
</ul>
