---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=University%20of%20Michigan%20Farmers&metadata[lo.entity_id]=1&metadata[lo.entity_type]=organization
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1434654668,
          "id": "cus_6S2UfiQ2blBtJn",
          "livemode": false,
          "description": "University of Michigan Farmers",
          "email": null,
          "delinquent": false,
          "metadata": {
            "lo.entity_id": "1",
            "lo.entity_type": "organization"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6S2UfiQ2blBtJn/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "bank_accounts": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6S2UfiQ2blBtJn/bank_accounts",
            "data": []
          },
          "default_bank_account": null,
          "default_source_type": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6S2UfiQ2blBtJn/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Thu, 18 Jun 2015 19:11:09 GMT
recorded_with: VCR 2.9.3
