<%= render 'market_header' %>

<h1>The Market Is Currently Closed</h1>
<p><%= @market.name%> is temporarily closed. </p>
<p> Thanks for stopping by. Our market is temporarily closed while we make a few updates.
  We'll reopen again soon, we promise.</p>
