<div class="row row--partial">
	<div id="market-creation">
  	<%= form_for @market, html: { :id => "new_market_registration", class: "column column--full" } do |f| %>
			<hr />
	    <%= render 'form', {f: f} %>
  	<% end %>
	</div>
</div>
