<div class="row row--partial">
	<div id="success">
	  <h2>Success!</h2>
	  <p>Here are the next steps to get you up and running:</p>
		<div class="row row--field">
			<div id="change" class="field column column--half column--guttered">
				<p>A Local Orbit Team Member will activate your Local Orbit powered site and you'll receive an email when your account is active.  From there you can continue on with setting up your site.</p>
			</div
			><div id="tools" class="field column column--half column--guttered">
				<p>Register for your initial on-boarding sessions, choose from one of the dates offered after the jump.</p>
				<p><button class="register">Register</button></p>
			</div>
	  </div>
	</div>
</div>
<%# <iframe width="100%" height="800" frameborder="0" src="https://app.acuityscheduling.com/schedule.php?owner=11995745" style="height: 384px ! important; max-height: none; overflow: hidden;"></iframe>  %>