/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
 *= require chosen
 */


body {
  height: 100vh;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: #777;
  background-image: asset_url('backgrounds/kale.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
  font-family: OpenSans, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4162A1;
  text-decoration: none;

  img {
    border: 0;
  }
}

h1 {
  margin: 0 0 14px;
  font-family: 'OpenSans-Light', OpenSans, "Open Sans", sans-serif;
  font-weight: lighter;
  font-weight: 300;
}

h2 {
  margin-top: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
}
