/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require mapbox
 *= require chosen
 *= require froala_content.min.css
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require_tree .
 */

@import "font-awesome";

//= depend_on_asset "backgrounds/brown-paper.jpg"
@charset "utf-8";
@import "mixins";

body {
  padding: 0;
  margin: 0;
  color: #333;
  background: asset_url('backgrounds/brown-paper.jpg') center repeat fixed #fff;
  background: asset_url('backgrounds/brown-paper.jpg') center / cover no-repeat fixed #fff;
  font-size: 14px;
  font-family: OpenSans, "Open Sans", Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $hover;
  }

  img {
    border: 0;
  }
}

address {
  padding: .5em 1em;
  border-radius: 5px;
  background: #f9f9f9;
  font-weight: 600;
  margin: 1em 0 2em;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
color: #333333;
}

h1 {
  margin: 0 0 14px;
  font: lighter 2.25em "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
  font-weight: lighter;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font: lighter 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
}

h3 {
  font: bold 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
}

h3.unit-name {
  margin: 30px 0 2px 0;
  text-align: left;
  font: lighter 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
}

hr {
  height: 0;
  padding: 1px 0 0;
  border: 0;
  margin: 10px 0;
  color: #ccc;
  background: #ccc;
}

iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  border: solid 1px #aaa;
  margin: 20px auto;
}

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}
