@import "mixins";

.updated input {
  background-color: #bfd9ad;
  @include transition(background-color 0.1s ease-in);
}

.updated.finished input {
  background-color: white;
  @include transition(background-color 0.1s ease-out);
}

a.cart .message {
  position: absolute;
  z-index: 1;
  width: 140px;
  padding: 5px 5px;
  border: 1px solid #B9B9BA;
  margin-top: 4px;
  margin-left: -34px;
  color: #3E8212;
  background: #eaf9db;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0,0,0,0.10);
}

.cart-price-column {
  text-align: right;
}

.cart-quantity-column {
  text-align: right;
}

.cart-total-column {
  text-align: right;
}

.cancel-link {
  margin-top: 8px;
}

@media screen and (max-width: $mobile_break) {
  .cart {
    .quantity {
      white-space: nowrap;
    }
  }
}
