.dashboard-titles {
	font-weight: 700;
	margin-bottom: 0;
}

.supporting-text {
	float: left;
	display: block;
	margin-bottom: 20px;
	width: 500px;
}

.dashboard-link {
	float: right;
	display: block;
	width: 200px;
	text-align: right;
	font-weight: 700;
}

.products-dashboard {
	margin-top: 40px;
}