@import 'mixins';
//** Financials Vendor Payment Tab **//

.vendor-payment {
  .table-header th {
    padding-top: 30px;
  }
  .total tr {
    background-color: inherit;
    border-top: none;
  }
  h2 {
    margin-bottom: 5px;
    font-weight: 700;
  }
  .buyer-payment-status {
    width: 100px;
    text-align: right;
  }
  .delivery-status {
    width: 200px;
    text-align: right;
  }
  .individual-delivery-status {
    width: 74px;
    text-align: right;
  }
  .individual-payment-status {
    width: 100px;
    text-align: right;
  }
  .make-payment {
    background-color: #fff;
    border: none;
  }
  .line-total {
    padding-right: 210px;
    text-align: right;
  }
  .math {
    font-size: 16px;
  }
  .order-count {
    width: 293px;
  }
  .order-number {
    width: 275px;
  }
  .order-placed-on {
    width: 100px;
  }
  .owed, .pay-now {
    padding-right: 10px;
    text-align: right;
  }
  .owed {
    font-weight: 700;
  }
  .pay-now {
    font-weight: 700;
  }
  .pay-selected {
    margin-top: -100px;
  }
  .pay-selected-now {
    border-bottom: 1px  solid #DDDDDD;
  }
  .payment-details {
    padding: 10px;
    background: #EFFFEC;
    border: 1px  solid #DDDDDD;
  }
  .payment-notes {
    display: inline-block;
    float: right;
    text-align: right;

    .check, .cash {
      input {
        padding: 1px 5px;
        font-size: 14px;
      }
    }
    .check, .cash {
      input {
        width: 200px;
      }
    }
    .record-payment {
      input {
        padding: 7px 15px;
      }
    }
  }
  .payment-types {
    display: inline-block;
    height: 33px;
    padding-top: 12px;
    float: left;
  }
  .review-orders {
    padding-left: 10px;
  }
  .total-owed {
    font-size: 16px;
    font-weight: 700;
  }
}
.table-header {
  background: none;
  padding-top: 0;
}

//** Financial Overview **//

.overview-intro {
  background: #fefefe;
  padding: 0 0 20px 0;
}
.money-in, .money-out {
  width: 48%;

  td, th, tr {
    font-size: 14px;
  }
  a {
    margin-top: 10px;
    float: right;
  }
  .amount {
    padding-right: 10px;
    text-align: right;
    font-weight: 700;
  }
}

.payments-due {
  width: 100%;
}

.money-in {
  float: left;
}
.money-out {
  float: right;
}

@media screen and (max-width: $mobile_break) {
  .money-in, .money-out {
    float: none;
    width: auto;
    padding: 0 0 2em;
    overflow: hidden;
    .tooltip:after {
      right: auto;
      left: -40px;
    }
  }
}

/** Financial Payment History **/

.order-list-modal {
  min-width: 300px;
  .all-order-numbers {
    overflow: auto;
    padding: 0 10px;
    margin-right: 1px;
    text-align: center;
  }
}

.payment-more {
  padding-left: 10px;
  color: #000;
}
.payment-more:hover {
  text-decoration: none;
}

.vendor-payment-cancel {
  margin: 12px 0 0 12px;
}

.bank-account {
  .delete {
    padding-right: 5px;
  }
  .notes {
    width: 300px;
  }
}

.verified {
  color: #0e8504;

  i {
    color: #0e8504;
  }
}

.unverified,
.unverified:nth-child(odd) {
  background-color: #FFF8B2;
  border-top: none;

  span {
    margin-left: 10px;
  }
}

.unverified-bank-data,
.unverified-bank-data:nth-child(odd) {
  background-color: #FFF8B2;
  border-bottom: none;
}

.unverified-bank-data:hover {
  background-color: #FFF8B2;
}

.please-verify {
  color: #913900;
}

.add-bank-warning {
  width: 600px;
  margin-bottom: 30px;
  color: #913900;
  line-height: 15px;
}
@media screen and (max-width: $mobile_break) {
  .add-bank-warning {
    width: auto;
  }
}

/* Financials Vendor Payment Tab */

.market-payment, .seller-payment {
  margin-bottom: 30px;

  h2 {
    margin-bottom: 5px;
    font-weight: 700;
  }

  .totals {
    font-weight: 700;
  }
}
  .seller-payment td.net-sales {
    font-weight: 700;
  }

.loading-progress {
  text-align: center;
}
