@import "mixins";


.is-open .hide-when-open {
  display: none;
}

.pdf-page-break {
  display:block;
  clear: both;
  page-break-after: always;
}

.delivery-schedule-options ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 5px 0 0 0;
}

.delivery-schedule-options label {
  font-size: 14px;
}

.delivery-schedule-options b {
  padding-left: 22px;
}

.half-block {
  display: inline-block;
  width: 49%;
  margin-bottom: 20px;

  h2 {
    margin: 5px 0 2px 0;
  }
}

.delivery-tools {
  margin: 50px 0 100px 0;
}
