.color {
  .input-hex {
    height: 30px
  }
  .swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

.background_swatch {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.185%;
}

.background-choice {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: normal;
}
