@import "mixins";

.invoices-wrapper {
  font-size: 14px;
  font-family: OpenSans, "Open Sans", Geneva, sans-serif;

  .btn {
    display: inline-block;
    padding: 12px 18px;
    border: solid 1px #b0b0b0;
    @include border-radius(3px);
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
    margin-bottom: .5em;
    color: #fff;
    background-color: #43639F;
    font-family: inherit;
    font-size: 17px;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-image: none;
      text-decoration: none;
    }

    &:disabled,
    &.disabled {
      opacity: 0.15;
      cursor: default;
      cursor: not-allowed;
    }
    &:active {
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.5));
      @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    }
    &:focus {
      outline: none;
    }
    &:first-child {
      margin-bottom: 1em;
    }
    &:last-child {
      margin-right: 0;
    }
    &.btn--small {
      padding: 4px 18px;
      font-size: 14px;
    }
  }
  .column, .row {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .column {
    display: inline-block;
    padding: 0 10px 0 0;
    text-align: left;
    vertical-align: top;
  }
  .column:last-child {
    padding-right: 0;
  }
  .column--three-fourths { width: 75%; }
  .column--two-thirds { width: 66%; }
  .column--half { width: 50%; }
  .column--third { width: 33%; }
  .column--fourth { width: 25%; }

  .ar { text-align: right; }
  .al { text-align: left; }
  .ac { text-align: center; }

  .left-padded { padding-left: 20px; }

  h1 {
    margin: 0 0 .5em;
    font: bold 30px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  }
  h2 {
    margin: 0;
    color: #666;
    font: bold 14px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  caption {
    color: #000;
    font: bold 14px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
    text-align: left;
  }

  tr, td, th { page-break-inside: avoid; }

  th { padding: 10px; color: #666; font-size: 12px; text-align: left; vertical-align: top; }
  td { padding: 10px; font-size: 12px; }
  tbody tr:nth-child(odd) { background: #f9f9f9; }

  tfoot {
    padding: 10px 0 0;
  }
    tfoot td {
      padding: 5px 10px;
    }
  tfoot th {
    font-size: 12px;
    font-weight: normal;
  }
  .canceled > span {
    text-decoration: line-through;
  }
    .canceled:after {
      color: #911;
      content: " Cancelled";
      text-decoration: none;
    }
  .discounts th, .discounts td {
    padding: 10px 10px 2px;
  }
  .delivery th, .delivery td {
    padding: 2px 10px 10px;
  }
  .total {
    border-top: solid 1px #ccc;
    color: #666;
  }
    .total .amount {
      padding-left: 10px;
      color: #000;
      font: bold 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
    }
    .total td,
    .total th {
      padding-left: 0;
      font-size: 18px;
    }
    .total td:first-child {
      font-style: italic;
    }

  .date {
    font-family: "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
    font-weight: bold;
  }
  .due-date{
    clear: right;
    padding: 17px;
    border: solid 2px #C7C7C7;
    background: #f9f9f9;
    font: bold 25px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  }
  .inline {
    display: inline;
  }
  .invoice-basics {
    margin-bottom: 1em;
  }
  .invoice-parties {
    margin-bottom: 1em;
  }
  .logo {
    max-width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .vcard {
    overflow: hidden;
  }
    .vcard-buyer {
      margin-bottom: 25px;
    }
  .buyer-name, .org-from, .invoice-num, .po-num {
    margin: 0;
    font: bold 20px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", sans-serif;
  }
  .invoice-num,
  .buyer-name,
  .org-from {
    word-break: break-all;
    word-wrap: break-word;
  }
}
@media print {
  .controller-invoices {
    .l-app-header, .l-app-footer, .btn--save,
    .logo-link, .nav--main, .nav--admin, .tab-header, .teflon, .no-print {
      display: none;
    }
    .logo {
      display: block;
    }
  }
}
@media screen {
  body {
    > .invoices-wrapper {
      width: 7.5in;
      min-height: 9in;
      padding: 1in .5in;
      margin: 0 auto;
      background: #fff;

      .btn--save {
        // display: none;
        float: right;
      }
    }
  }
}
