@import "mixins.css.scss";

.clear-before {
  clear: both;
}
.clear-after:after {
  clear: both;
  display: block;
  width: 0;
  height: 0;
  content: '';
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.l-constraint,
.column,
.row {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.l-constraint {
  max-width: 960px;
  margin: 0 auto;
}

.l-app-header {
  width: 100%;
  min-height: 57px;
  color: #fff;
  background-color: #3f5d99;
  @include gradient(#3f5d99, #4567aa);
  font-size: 14px;
  &.js-positioned {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}
.l-app-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background: #3f5d99;
}

.l-main {
  min-height: 95vh;
  padding: 20px;
  background: #fff;
}

.l-page-header {
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  a, h1, span, i {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  > a {
    font-size: 14px;
  }

  > h1 {
    display: inline-block;
    font-size: 32px;
  }
}

.l-inline-list {
  padding: 0;

  > li {
    display: inline-block;
  }
}

.row {
  clear: both;

  &.center-rule {
    background: asset_url('center-rule.png') center top repeat-y;
    background: asset_url('center-rule@2x.png') center top / 1px auto repeat-y;
  }
}
.row--partial {
  text-align: center;
}
.row--justified {
  font-size: 0.1px;
  text-align: justify;

  &:after {
    position: relative;
    display: inline-block;
    width: 100%;
    content: ' ';
  }

  .column:last-child {
    text-align: right;
  }
}

.column {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}
  .column--fourth {
    width: 25%;
  }
  .column--third {
    width: 33%;
  }
  .column--half {
    width: 50%;
  }
  .column--two-thirds {
    width: 66%;
  }
  .column--three-fourths {
    width: 75%;
  }
  .column--full {
    width: 100%;
  }

  .column--guttered {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
