@import "mixins.css.scss";

.clear-before {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.l-constraint,
.column,
.row {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.l-constraint {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.l-app-header {
  color: #fff;
  @include gradient(#3f5d99, #4567aa);
  font-size: 14px;
}

.l-main {
  min-height: 95vh;
  padding: 20px;
  background: #fff;
}

.l-inline-list {
  padding: 0;

  > li {
    display: inline-block;
  }
}

.row {
  clear: both;
}
.row--partial {
  text-align: center;
}

.column {
  display: inline-block;
  text-align: left;
}
  .column--fourth {
    width: 25%;
  }
  .column--third {
    width: 33%;
  }
  .column--half {
    width: 50%;
  }
  .column--two-thirds {
    width: 66%;
  }
  .column--three-fourths {
    width: 75%;
  }
  .column--full {
    width: 100%;
  }
