//= depend_on_asset "center-rule.png"
//= depend_on_asset "center-rule@2x.png"
@import "mixins.css.scss";

.clear-before {
  clear: both;
}
.clear-right {
  clear: right;
}
.clear-after:after {
  clear: both;
  display: block;
  width: 0;
  height: 0;
  content: '';
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.l-constraint,
.column,
.row {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.l-constraint {
  max-width: 960px;
  margin: 0 auto;
}

.l-flush-top {
  margin-top: 0;
}

.l-app-header {
  position: relative;
  z-index: 60;
  width: 100%;
  min-height: 44px;
  color: #fff;
  background-color: $link;
  @include gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.13));
  font-size: 14px;
}
@media screen and (min-device-height: 330px) {
  .l-app-header.stickable.js-positioned {
    position: absolute;
    top: 0;
    z-index: 100;
  }
}
@media screen and (min-width: 600px) {
  .l-app-header.stickable.js-positioned {
    position: fixed;
  }
}
.tab-title {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

.l-app-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background: #3f5d99;
}

.l-main {
  min-height: 95vh;
  padding: 20px;
  background: #fff;
}

@media screen and (max-width: $mobile_break) {
  .l-main {
    padding: 20px 10px;
  }
}

.l-page-header {
  margin: 20px 0;
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  a, h1, h2, div, span, i, .field {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
  }

  @media screen and (max-width: $mobile_break) {
    h1 {
      text-align: center;
      float: left;
    }
    .mobile-toggle {
      font-size: 14px;
      text-align: center;
    }
    .header-actions {
      margin-top: 15px;
    }
  }

  .field {
    margin-top: 0;
  }

  > a,
  .header-actions {
    font-size: 14px;
  }

  > h1,
  > h2{
    display: inline-block;
    font-size: 32px;
  }
  .header-actions a {
    margin-left: 10px;
  }
}

.sold-item-header {
  display: block;
  width: 100%;
}

.l-inline-list {
  padding: 0;

  > li {
    display: inline-block;
  }
}

.row {
  position: relative;
  max-width: 100%;
  clear: both;

  &.center-rule {
    background: asset_url('center-rule.png') center top repeat-y;
    background: asset_url('center-rule@2x.png') center top / 1px auto repeat-y;
  }
  &.three-fourths-rule {
    background: asset_url('center-rule.png') 75% top repeat-y;
    background: asset_url('center-rule@2x.png') 75% top / 1px auto repeat-y;
  }
}

.sub-page-header {
  margin: 5px 0 10px 0;
}

.row--partial {
  text-align: center;
}
.row--justified {
  font-size: 0.1px;
  text-align: justify;

  &:after {
    position: relative;
    display: inline-block;
    width: 100%;
    content: ' ';
  }

  .column:last-child {
    text-align: right;
  }
}
.row--squash {
  font-size: 0.1px;
}

.column {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  font-size: 14px;
  vertical-align: top;
}
  .column--fourth {
    width: 25%;
  }
  .column--third {
    width: 33.333%;
  }
  .column--five-twelfths {
    width: 41.6666%;
  }
  .column--half {
    width: 50%;
  }
  .column--seven-twelfths {
    width: 58.333333333%;
  }
  .column--two-thirds {
    width: 66.666%;
  }
  .column--three-fourths {
    width: 75%;
  }
  .column--eleven-twelfths {
    width: 91.66666%;
  }
  .column--full {
    width: 100%;
  }

  .column--guttered {
    @include box-sizing(border-box);
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
    + .column--guttered:last-child {
      padding-right: 0;
    }
  }

  @media screen and (max-width: $mobile_break) {
    .column--guttered {
      padding: 0;
    }
  }

.row--field {
  margin: 15px 0;

  &:last-child {
    margin-bottom: 0;
  }

  > .field {
    margin: 0;
  }
}
.row--whitespace > .column {
  float: left;
}

@media screen and (min-width: $tablet_floor) {
  .mobile-only {
    display: none !important;
  }
}
@media screen and (max-width: $mobile_break) {
  .row.center-rule,
  .row.three-fourths-rule {
    background-image: none;
  }
  .column--half,
  .column--two-thirds,
  .column--three-fourths,
  .column--seven-twelfths,
  .column--eleven-twelfths {
    display: block;
    width: auto;
    &.column--guttered {
      padding: 0;
    }
  }
  .column--fourth,
  .column--third {
    width: 50%;
  }
  .hidden-mobile {
    display: none !important;
  }
  .mobile-panes-wrapper {
    margin-top: -64px;
    width: 100%;
    overflow: hidden;
  }
  .mobile-pane {
    position: relative;
    vertical-align: top;
    overflow: hidden;
    .vacuus {
      position: relative;
      width: 100%;
      height: 64px;
    }
  }
  .mobile-panes {
    .secondary-panes {
      float: right;
    }
  }
  .mobile-panes[data-panes="4"] {
    width: 400%;
    max-width: none;
    > .column,
    .mobile-pane {
      display: inline-block;
      width: 25%;
    }
    .column[data-panes="3"] {
      width: 75%;
      .mobile-pane {
        width: 33.333333%;
      }
    }

  }
  .mobile-panes[data-panes="3"] {
    width: 300%;
    max-width: none;
    > .column,
    .mobile-pane {
      display: inline-block;
      width: 33.3333%;
    }
    .column[data-panes="2"] {
      width: 66.6666666%;
      .mobile-pane {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .column--fourth,
  .column--third {
    width: 100%;
    &.column--guttered {
      padding:0 ;
    }
  }
}
