.map-wrapper {
  .map {
    z-index: 0;
    height: 500px;
  }
  .legend {
    $green:      #22ff00;
    $blue:       #0026ff;
    $yellow:     #ffd600;
    $color-size: 1.2em;

    line-height: $color-size;

    .line {
      margin-top: .25em;
    }

    .color {
      clear: both;
      width: $color-size;
      height: $color-size;
      float: left;
      margin-right: $color-size/2;
    }
    .start-up .color {
      background-color: $blue;
    }
    .grow .color {
      background-color: $green;
    }
  }
}

#map-container {  height: 400px; border-radius: 16px 16px; border-color: #fff; border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; border-width: 7px; }

#map-canvas {
  height: 384px;
  width: 100%;
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}
