$mobile_break: 640px;
$tablet_floor: 641px;
$alert_text:   #c43205;
$alert_bg:     #ffe9e1;
$notice_text:  #58a406;
$notice_bg:    #eaf9db;
$warning_text: #de8007;
$warning_bg:   #fff8e1;

$link: #3F5D98;
$hover: #527ACB;

@mixin border-radius($r) {
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
          border-radius: $r;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin gradient($top, $bottom) {
  background-image:   -moz-linear-gradient(top, $top, $bottom);
  background-image:-webkit-linear-gradient(top, $top, $bottom);
  background-image:     -o-linear-gradient(top, $top, $bottom);
  background-image:    -ms-linear-gradient(top, $top, $bottom);
  background-image:        linear-gradient(top, $top, $bottom);
}

@mixin transform($transforms...) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
          transform: $transforms;
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
     -moz-transition: $transitions;
      -ms-transition: $transitions;
          transition: $transitions;
}

