.filter-dropdown {
  width: 180px;
  margin-right: 10px;
}

.product-search {
  float: right;
}

.search-widget {
    display: inline-block;
    ~ .btn--add {
      display: inline-block;
    }
  }

@media screen and (max-width: 900px) {
  .product-filters {
    width: 100%;
    margin-bottom: 5px;
  }
  .filter-dropdown {
    width: 47%;
    margin:  4px 0 2px;

    + .filter-dropdown {
      margin-left: 5%; 
    }
  }
  .row--justified {
    > .product-search,
    > .product-search:last-child {
      float: none;
      width: 100%;
      text-align: left;
    }
  }
  .search-widget {
    float: left;
    ~ .btn--add {
      float: right;
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 599px) {
  .product-search {
    .pull-right {
      float: none;
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .filter-dropdown {
    width: 100%;
    margin:  4px 0 15px;

    + .filter-dropdown {
      margin-left: 0; 
    }
  }
  .row--justified {
    > .product-search,
    > .product-search:last-child {
      width: 100%;
      text-align: left;
    }
  }
  .search-widget {
    float: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin-bottom: 15px;
    input {
      -webkit-flex: auto 1;
      flex: auto 1;
      &[type=search] + .btn--end {
        margin-right: 0;
      }
    }
  }
}


