@import "mixins.css.scss";

.segmented-control {
}
.segmented-control input {
  display: none;
}
.segmented-control .label {
  text-align: center;
  transition: all 0.2s ease-out;
  background-color: #fff;
}
.segmented-control .label label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.segmented-control {
  border: 1px solid #DDD;
  border-radius: 5px;
  overflow: hidden;
}
.segmented-control .label {
  min-width: 50px;
  height: 25px;
  padding-top: 9px;
  float: left;
  background-color: #fff;
}

.segmented-control input[type=radio] ~ label {
  color: unset;
  .selected {
    color: #FFF;
  }
}

.dashboard-widget {
  background-color: #FFF;
  margin-bottom: 10px;
  &.deliveries {
    background-color: #666;
    min-width: 300px;
    padding: 1px;
  }
  .small-widget {
    height: 100px;
  }
  .large-widget {
  }
}

.dashboard-widget {
  .widget-label {
    font-size: 24px;
    font-weight: normal;
    text-align: right;
    padding-right: 5px;
    &.deliveries {
      color: #FFF;
      text-align: left;
      padding-left: 5px;
    }
  }
  .widget-value {
    font-size: 3.2vmax;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    &.deliveries {
      color: #FFF;
      text-align: left;
      padding-left: 5px;
    }
  }
}

.dashboard-widget {
  .top-section {
    display: inline-block;
    width: 100%;
  }
  .bottom-border {
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    height: 100px;
    margin: 0 auto;
    &.deliveries {
      border-bottom: 1px solid #444;
      height:auto;
    }
  }
}

.dashboard-widget {
  .font-icon {
    color: #DDD;
    font-size: 55px;
    padding: 15px;
    &.deliveries {
      color: #444;
    }
  }
}

.dashboard-widget .calendar .cal-date {
    color: #FFF;
    font-style: italic;
    border-color: #666;
    &.disabled {
      background-color: #444;
    }
    &.blank {
      background-color: #666;
      border-color: #666;
    }
}