@import "mixins";

button,
.btn,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  padding: 12px 18px;
  border: solid 1px #b0b0b0;
  @include border-radius(3px);
  @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
  color: #777;
  font-family: inherit;
  font-size: 17px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-image: none;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    opacity: 0.15;
    cursor: default;
    cursor: not-allowed;
  }
  &:active {
    @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.5));
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
  }
  &:focus {
    outline: none;
  }
  &:last-child {
    margin-right: 0;
  }
  &.btn--small {
    padding: 4px 18px;
    font-size: 14px;
  }
  @media screen and (max-width: $mobile_break) {
    &.mobile-block {
      text-align: center;
    }
    &.btn--small {
      box-sizing: border-box;
      padding: 12px 18px;
      font-size: 17px;
    }
    &.btn--add-mobile {
      padding: 4px 8px;
      font-size: 14px;
    }
  }
  &.btn--tiny {
    padding: 1px 6px;
    font-size: 12px;
  }
  &.btn--activate {
    margin-top: 38px;
    @media screen and (max-width: $mobile_break) {
      margin-top: 5px;
      padding: 5px 10px;
    }
  }
  &.prevent-delete {
    position: absolute;
    height: 0;
    width: 0;
  }
}

.btn--headline {
  margin-top: 10px;
}

.btn--gray {
  color: #000;
  background-color: #e4e4e4;
}

.btn--blue {
  color: #fff;
  background-color: #43639F;
}

button,
.btn,
input[type=reset],
input[type=submit] {
  &.reset,
  &.cancel,
  &.close,
  &.delete {
    padding: 0;
    border: 0;
    @include border-radius(0);
    margin: 0;
    color: $link;
    background: none;
    font-size: inherit;
    &:active {
      color: #666;
      @include box-shadow(none);
      background: none;
    }
  }
  &.close {
    color: #000;
  }
  &.destructive {
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    color: $alert_text;
    background: none;
  }
  &.btn--test {
    background-color: #ccc;
  }
  @media screen and (max-width: $mobile_break) {
    &.btn--test {
      padding: 5px 10px;
      margin-bottom: 20px;
    }
  }
  + .note {
    color: #999;
  }
}

.btn.cancel {
  + .btn--add,
  + .btn--save,
  + input[type=submit] {
    margin-left: 1em;
  }
}

@media screen and (max-width: $mobile_break) {
  .filter-container {
    width: 100%;
  }
  .btn--add, .btn--filter {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.btn.reset {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn--action,
.btn--add,
.btn--save,
input[type=submit] {
  color: #fff;
  background-color: #43639f;
}
input[type=button].btn--save {
  color: #fff;
}
.btn--money {
  @include border-radius(5px);
  color: #fff;
  background-color: #349D1C;
  border: 3px solid white;
}
.btn--update {
  @include border-radius(5px);
  color: #fff;
  border: 3px solid white;
}
.btn--money:focus, .btn--update:focus {
  border: 3px solid #BFD9AD;
}
.btn--add.btn--small {
  padding-right: 8px;
  padding-left: 8px;
}

.btn--add:before {
  content: "✚  "
}

.btn--add:hover {
  color: #fff;
}

input ~ .ui-datepicker-trigger,
.btn--end,
.btn--start {
  display: inline-block;
  padding: 6px 10px 5px;
  background-color: #fff;
  vertical-align: top;
}
input ~ .ui-datepicker-trigger,
.btn--end,
input[type=submit].btn--end {
  @include border-radius(0 2px 2px 0);
  margin: 4px 0 2px -4px;
}
.btn--start {
  position: relative;
  z-index: 2;
  border: solid 1px #aaa;
  @include border-radius(3px 0 0 3px);
  @include box-shadow(none);
  margin: 4px -3px 2px 0;
  background-color: #fff;
}

input[type=search] + .btn--end,
input[type=search] + input[type=submit].btn--end {
  padding: 2px 10px;
  margin: 0 10px 0 -1px;
  color: #666;
  background-color: #fff;
  vertical-align: middle;
  font-size: 14px;
}
input[type=search] + .btn--end:hover {
  color: #333;
  background-color: #eee;
}


input[type=submit].popup-submit {
  background-color: #2ca20d;
}

span.btn {
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
  @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));

  &:hover,
  &:active {
    @include box-shadow(inset 0 0 0 1px #b0b0b0);
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
  }
}

.action-link {
  font-weight: 700;
  float: right;
  padding-right: 10px;
}

.pdf-download {
  @include border-radius(3px);
  font-size: 10px;
  padding: 0 3px;
  margin-left: 10px;
  border: solid 1px;
}

.pdf-download:hover {
  @include box-shadow(inset 0 0 2px 1px #b0b0b0);
  text-decoration: none;
}

.photo-button {
  @include border-radius(5px);
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
}
.photo-button:hover {
  background: #f3f3f3;
}
.photo-button:active {
  background: #fefefe;
}

@media screen and (max-width: $mobile_break) {
  .photo-button, .save-button, .btn--money, .order-print {
    width: 100%;
  }
  .order-print {
    margin-bottom: 20px;
  }
  .continue-shop {
    display: inline-block;
    margin-top: 28px;
  }
  .fresh-sheet-test {
    width: 100%;
    input[type=email] {
      width: 66%;
    }
    input[type=submit] {
      width: 32%;
      padding: 5px 10px;
      text-align: center;
    }
  }
  .fresh-sheet-send {
    width: 100%;
    margin: 20px 0;
  }
  .cancel {
    float: left;
  }
  .btn.cancel + .btn--add,
  .btn.cancel + .btn--save,
  .btn.cancel + input[type=submit],
  .invite-email-button{
    width: 100%;
    margin-left: 0;
  }
}

.pane-toggle {
  padding: 5px 10px;
  margin: 0 0 15px;
  font-size: 12px;
  + .pane-toggle {
    float: right;
  }
}
.row--justified .pane-toggle {
  float: none;
}
@media screen and (min-width: $tablet_floor) {
  .pane-toggle {
    display:none;
  }
}
button.toggle-viewport.reset {
  margin-top: 2em;
  color: #fff;
}
button {
  &.increment,
  &.decrement {
    padding: 0;
    border: 0;
    background: transparent;
  }
}
