@import "mixins";

.popup {
  position: absolute;
  z-index: 1;
  min-width: 200px;
  border: 1px solid #ccc;
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 10px rgba(0,0,0,0.2));

  &.with-anchor:after {
    border-bottom-color: #F2F2F2;
  }
}
  .popup--edit {
    top: 0;
    min-width: 200px;
    padding: 8px;

    label {
      font-size: 12px;
    }

    .form-actions {
      margin: 1em 0 0;
    }
  }

.popup-header {
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  line-height: 2.5;
  background: #F2F2F2;
  @include border-radius(5px 5px 0 0);

  .close {
    float: right;
    line-height: inherit;
  }
}

.popup-body {
  padding: 10px;
}

.location-map {
  display: block;
}

.modal {
  .form-actions {
    margin: 20px 0 0;
  }
}
