@import "mixins";

body.controller-cross_selling_lists{
  .bound-list{
    height: 600px;
    overflow: scroll
  }

  .pull-right{
    float:right;
    margin:20px;
  }

  .action_box{
    margin-top: 1.4em;
    padding: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ECE9E9;

    .messaging{
      float: left;
      width: 60%;
      color: #808080;
      
      .message{
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }

  .help-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .92em;
    font-weight: 300;
    font-style: italic;
    color: #606060;
    display:block;
    margin-top: .4em;
    margin-bottom: .6em;
  }

  ul.cross_selling_sub-header{
    float: left;
    list-style: none;
    padding: 0;
    li{
      display: inline-block;
      padding-right: 10px;
    }
  }

  .product-list-management *{
    font-size: 14pt;
  }

  #product_management.modal{
    width: 700px;
  }

  /* New listings per 2016-09-07 discussion with Kate and Erika */
  table.product-listing{
    tbody.product-details-container{
      display: table;
      width: 100%;
      tr.highlight-active{
        td{
          background-color: #F2F2F2;
        }
      }

      tr.product-details{
        line-height: 2em;
        float: none;
        td{
          vertical-align: middle;
          padding: 8px;
          h3{
            margin: 0 0 .4em 0;
          }

          &.product-unit-name{
            font-size: 14px;
          }
        }
      }
    }
  }

  /* This block may be obsolete... */
  .product-list{
    padding: 10px;
    min-height:100%;

    .product-listing{
      display: block;
      margin-bottom: 0px;

      .product-details-container{
        float: left;
        width: 88%;
        padding-right: 0;
      }

      .product-pricing{
        display: inline-block;
        float: right;
        width: 8%;
      }
    }
  }

}
