@import "mixins.css.scss";

/* # KXM Subject to change once the structure settles down */
div#market-creation{
	fieldset{
		margin: 2em 0 3em;
	}

	.ui-widget-content {
	  border: 0 !important;
	}

	.form-actions{
		clear: right;
	}

	#market-tab-list{
		position: absolute;
		top: 1em;
		right: 0px;
		font-size: .92em;

		li{
			display: inline-block;
			margin-right: .4em;
			height: 1.8em;
			border: none;
			background: none;
			padding: .4em 1em .6em;

			&.ui-state-active{
				/* # KXM Background images should be hung from at least two places to account for both active state navigation and form completion indicators.  Make sure to update the relative DOM manipulation in the JavaScript routines When that's done. */
				background: asset_url('icons/up.png') no-repeat bottom center;
			}

			&.pass{
				height: 2em;
				background: asset_url('icons/check.png') no-repeat bottom center;
			}

			a, .anchor{
				vertical-align: top;
				display: block;
				line-height: 100%;
			}
		}
	}

	#terms-of-service{
		height: 20em;
		overflow: scroll;
	}

	#accept-terms-of-service{
		margin-top: .8em;
		margin-bottom: 1.2em;
	}
	.form-action{
		border-radius: 78px;
		background-color: white;
		font-family: SourceSansPro-Semibold, sans-serif;
		font-size: 14px;
		color: #7EBEC5;
		line-height: 18px;
	}

	div.wizard_nav{
		margin-top: 2em;
		display: none;
		float: right;
		.form-nav{
			background: #7EBEC5;
			border-radius: 100px;
			border-width: 0;
			height: 54px;
			font-family: FrancoisOne-Regular, sans-serif;
			font-size: 22.73px;
			color: white;
			line-height: 31px;
			margin-left: 2em;

			&:hover, &:active{
				background-color: #689DA5;
			}
		}
	}
}
