@import 'mixins';

.date-filters {
  font-size: 14px;
  .preserve-alignment {
    vertical-align: top;
  }
}
.filter-dropdown {
  width: 180px;
  margin-right: 10px;
}

@media screen and (max-width:600px) {
  .date-filters {
    .btn--small {
      width: 100%;
    }
  }
}

.manager-filters {
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  font-size: 0.1px;
  text-align: justify;
  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
  > p, > span, > div {
    font-size: 14px;
  }
  select {
    width: 130px;
  }
  span {
    margin-right: 10px;
  }
  @media screen and (max-width: $mobile_break) {
    select {
      width: 100%;
    }
    span {
      width: 100%;
    }
  }
  &.unjustify {
    text-align: left;
  }
}



.featured-promo-filter {
  margin: 0;
}

.search-widget {
  display: inline-block;
  ~ .btn--add {
    display: inline-block;
  }
}

.product-search {
  display:block;
  margin: 0 0 15px;
}

@media screen and (min-width: 960px) {
  .filter-row {
    margin: 10px 0;
    width: 100%;
    select {
      display: block;
      width: 100%;
    }

    .preserve-alignment {
      width: 18%;
      margin: 0 2% 0 0;

    }
  }
}

@media screen and (min-width: $mobile_break) {
  .reports-filters {
    .pull-left select {
      display: block;
      width: 100%;
    }
    .pull-left[data-filter-count="1"] {
      width: 50%;
      .preserve-alignment {
        width: 45%;
      }
    }
    .pull-left[data-filter-count="2"],
    .pull-left[data-filter-count="3"],
    .pull-left[data-filter-count="4"] {
      width: 50%;
      .preserve-alignment {
        width: 45%;
        max-width: 45%;
      }
    }
    .pull-left[data-filter-count="5"],
    .pull-left[data-filter-count="6"] {
      width: 100%;
      .preserve-alignment {
        width: 24%;
      }
    }
  }
}

@media screen and (max-width: $mobile_break) {
  .filter-row {
    span {
      width: 100%;
      margin-bottom: 10px;
      select {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .product-filters {
    width: 100%;
    margin-bottom: 5px;
  }
  .filter-dropdown {
    width: 47%;
    margin:  4px 0 2px;

    + .filter-dropdown {
      margin-left: 5%; 
    }
  }
  .row {
    > .product-search,
    > .product-search:last-child {
      float: none;
      width: 100%;
      text-align: left;
    }
  }
  .search-widget {
    float: left;
    ~ .btn--add {
      float: right;
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: $mobile_break) {
  .filter-dropdown {
    width: 100%;
    margin:  4px 0 15px;

    + .filter-dropdown {
      margin-left: 0; 
    }
  }
  .product-header, .promo-header  > .btn--add {
    float: none;
    display: block;
    @include box-sizing(border-box);
  }
  .row {
    > .product-search,
    > .product-search:last-child {
      width: 100%;
      text-align: left;
    }
  }

  .product-filters {
    label {
      display: none;
    }
    .preserve-alignment {
      display: block;
    }
  }


  .product-search,
  .order-search-widget,
  .sold-item-search-widget > .preserve-alignment {
    .pull-right {
      float: none;
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .mobile-block {
    float: none;
    display: block;
    @include box-sizing(border-box);
    width: 100%;

    select {
      width: 100%;
    }
  }

  .sold-item-search-widget {
    display: block;
    float: left;
  }
 
  .date-filters {
    float: none;
    margin: 1em 0;
    text-align: justify;
    width: 100%;

    label {
      font-size: .95em;
    }
    .datepicker {
      width: 7.5em;
    }
    > .preserve-alignment:last-child {
      width: 100%;
      font-size: 0.1px;
    }
  }
  
  .order_search,
  .payment_search,
  .sold_item_search {
    .manager-filters {
      &.unjustify {
        text-align: justify;
      }
      .preserve-alignment:last-child {
        margin-right: 0;
      }
    }
  }
  .search-widget,
  .search-widget > .preserve-alignment {
    float: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row;
    flex-flow: row;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    input, button[type=submit], input[type=search] + input[type=submit].btn--end {
      width: auto;
      height: 35px;
      -webkit-flex: auto 1;
      flex: auto 1;
      &[type=search] + .btn--end {
        margin-right: 0;
      }
    }
    label {
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      flex-shrink: 0;
      width: 100%;
    }

    .payment-search-container {
      width: 100%;
      display: inline-block;
      margin-top: 10px;

      .filter-input {
        width: 100%;
      }
    }

    .preserve-alignment {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  
}
.per-page-filter {
  margin: 20px 0 0 10px;
}

.set_filter{
  border:1px solid $alert_text;
  background-color: $alert_bg;
}
