@import "mixins.css.scss";

/* # KXM Subject to change once the structure settles down */
div#market-creation{
	h1{
		margin-top: 3em;
	}

	#market-tab-list{
		position: absolute;
		top: 1em;
		right: 0px;
		font-size: .92em;

		li{
			display: inline-block;
			margin-right: .4em;
			height: 1.8em;
			border: none;
			background: none;
			padding: .4em 1em .6em;

			&.ui-state-active{
				/* # KXM Background images should be hung from at least two places to account for both active state navigation and form completion indicators.  Make sure to update the relative DOM manipulation in the JavaScript routines When that's done. */
				background: asset_url('icons/up.png') no-repeat bottom center;
			}

			&.pass{
				height: 2em;
				background: asset_url('icons/check.png') no-repeat bottom center;
			}

			a, .anchor{
				vertical-align: top;
				display: block;
				line-height: 100%;
			}
		}
	}

	fieldset{
		margin: 2em 0 3em;

		h2{
			text-align: center;

			margin: 1.6em auto 0;
			font-family: FrancoisOne-Regular, sans-serif;
			font-size: 28px;
			color: #262626;
			line-height: 32px;
		}
	}

	.ui-widget-content {
	  border: 0 !important;
	}

	#terms-of-service{
		height: 20em;
		overflow: scroll;
	}

	#accept-terms-of-service{
		margin-top: .8em;
		margin-bottom: 1.2em;
	}

	// Input types are explicitly declared to prevent unintended styling (think checkboxes).  Others may be added if need be.
	input[type="text"],
	input[type="email"]{
		background: #EEEEEE;
		height: 44px;
		font-family: SourceSansPro-Regular, sans-serif;
		font-size: 14px;
		color: #999999;
		line-height: 18px;
		border-width:0;
	}

	.help-text{
		font-family: SourceSansPro-lt, sans-serif;
		font-size: 14px;
		font-style: italic;
		color: #606060;
		line-height: 18px;
	}

	/* Form buttons that aren't wizard navigation */
	.form-action{
		border-radius: 78px;
		background-color: white;
		font-family: SourceSansPro-Semibold, sans-serif;
		font-size: 14px;
		color: #7EBEC5;
		line-height: 18px;
	}

	/* Wizard navigation buttons... */
	div.wizard_nav_div{
		float: right;

		.form-nav, .wizard_nav{
			// KXM Hide that... what?  CHICKEN BUTT!  Woot!  (In what may be the easiest dare ever, Jackie dared me to put 'chicken butt' in the code some-a-whars.  Done it.)
			display: none;
			background: #7EBEC5;
			border-radius: 100px;
			border-width: 0;
			height: 54px;
			font-family: FrancoisOne-Regular, sans-serif;
			font-size: 22.73px;
			color: white;
			line-height: 31px;
			margin-left: 1.2em;

			&:hover, &:active{
				background-color: #689DA5;
			}
		}

		/* The submit button should be displayed in all cases, but should otherwise look the same as wizard navigation */
		.form-nav{
			display: inline-block;
		}
	}
}
