@import "mixins";

.order-page {
  color: #000;
}
.order-heading {
  margin-bottom: 0;
  font: bold 14px "Open Sans Condensed", sans-serif;
}
.order-subheading {
  margin: 0;
  font: bold 20px "Open Sans Condensed", sans-serif;

  + .adr {
    margin: 0 0 3em;
    color: #000;
  }
}

.delivery-time {
  margin: 2em 0;
}

.order-summary {

  .pseudopod {
    .line-item {
      font-size: 14px;
      font-weight: 300;
    }

    .review-order-total {
      font-size: 18px;
      font-weight: bold;
      @media screen and (max-width: $mobile_break) {
        font-size: 14px;
      }
    }
  }
}
.order-info {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;

  p {
    margin: 5px 0;
  }
  .special-content {
    font-weight: 700;
  }
  h1 {
    margin-bottom: 0;
  }

}
.product-ordered {
    font-weight: 700;
  }
.order-buyer {
  @include border-radius(5px);
  float: left;
  width: 30%;
  margin-right: 30px;
  padding: 5px 10px;
  background: #F9F9F9;
  font-size: 14px;
  .delivery-time,
  .vcard {
    font-weight: bold;
  }
}
  .order-address {
    margin: 1em 0 0;
    font-family: inherit;
    font-size: inherit;
  }
.order-info-total {
  float: left;
  width: 33%;
  min-width: 200px;

  margin-right: 20px;
  font-size: 14px;
  tbody {
    border-bottom: solid 1em transparent;
  }
}
.order-info-status {
  pointer-events:none;
  min-width: 200px;
  font-size: 14px;
}
.order-totals-table {
  border-spacing: 0;
  border-collapse: unset;
  min-width: 225px;
  td {
    text-align: right;
  }
  .total-line {
    border-top: 1px solid #CCC;
  }
}
.math-symbol {
  width: 10px;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .order-buyer,
  .order-info-total {
    width: 45%;
    }
  th {
      min-width: 50%;
      width: 50%;
  }
  .order-info-total {
    clear: right;
    float: right;
    margin-right: 0;
  }

}

@media screen and (max-width: $mobile_break) {
  .order-buyer,
  .order-info-total {
    width: 95%;
  }
  .order-info-total,
  .order-info-status {
    float: left;
  }

}
.order-address {
  margin-top: 20px;
}
.order-data {
  width: 100%;
  input.btn.pull-right{
    margin-left:6px;
  }
}

@media screen and (max-width: $mobile_break) {
  h2 {
    margin-bottom: 10px;
  }
  .order-data {
    .mobile-block {
      margin: 20px 0 0;
    }
    .btn {
      margin-bottom: 20px;
    }
    input.btn.pull-right{
      margin-left:0;
    }
  }
}

.order-info-date {
  margin-bottom: 20px;
}
.order-table-1 {
  margin-bottom: 10px;

  .quantity span, .quantity input {
    width: 50px;
  }
}

.order-totals {
  margin-top: 30px;
}
.order-notes {
  width: 600px;
  margin-top: 30px;

  textarea {
    resize: none;
  }
}

@media screen and (max-width: $mobile_break) {
  .order-notes {
    width: 100%;
  }
  .review-order {
    margin-bottom: 15px;
    display: inline-block;
  }
}
