//= depend_on_asset "footer-logo.png"
//= depend_on_asset "footer-logo@2x.png"
//= depend_on_asset "wrench-edit.png"
//= depend_on_asset "wrench-edit@2x.png"
//= depend_on_asset "icons/circled-check.png"
//= depend_on_asset "icons/circled-check@2x.png"
//= depend_on_asset "icon-export.png"
//= depend_on_asset "icon-export@2x.png"
//= depend_on_asset "tooltip-icon.png"
//= depend_on_asset "tooltip-icon@2x.png"
//= depend_on_asset "center-rule.png"
//= depend_on_asset "center-rule@2x.png"

@import "mixins.css.scss";

.bank-info {
  padding: 1em 2em;
  border: solid 1px $notice_text;
  @include border-radius(5px);
  margin: 0 0 1em;
  color: $notice_text;
  background: $notice_bg;
  list-style: none;
}
.with-anchor {
  &:before,
  &:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    content: "";
  }
}
  .top-anchor {
    &:before {
      top: -7px;
      left: 10px;
      border-bottom-color: #ccc;
      border-top: 0;
    }
    &:after {
      top: -6px;
      left: 10px;
      border-bottom-color: #fff;
      border-top: 0;
    }
  }

  .top-centered-anchor {
    &:before {
      top: -7px;
      left: 50%;
      border-bottom-color: #ccc;
      border-top: 0;
      margin-left: -3px;
    }
    &:after {
      top: -6px;
      left: 50%;
      border-bottom-color: #fff;
      border-top: 0;
      margin-left: -3px;
    }
  }

.caretted:after {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: inherit;
  border-bottom-width: 0;
  margin-left: .4em;
  content: "";
  vertical-align: middle;
}
  .caretted--right:after {
    float: right;
    border-style: solid;
    border-width: .42em 0 .42em .42em;
    border-color: transparent;
    border-left-color: inherit;
    margin: .25em 0;
    opacity: 0.5;
  }

.cancel {
  color: #43639f;
}

.cart-page {
  color: #000;
}
.copyright {

  .org {
    font-weight: bolder;
  }
  > a {
    display: inline-block;
    min-height: 40px;
    padding-left: 50px;
    color: inherit;
    background: asset_url('footer-logo.png') left center no-repeat;
    background: asset_url('footer-logo@2x.png') left center / 38px 40px no-repeat;
  }
}
.counter {
  padding: 0 15px;
  border: solid 1px #1e2e4e;
  @include border-radius(12px);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
  background: rgba(255,255,255,0.36);
  font-size: 92.85%;
  font-weight: bold;
  line-height: 1.769;
  text-align: center;
  text-shadow: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  min-width: 100%;
  padding: .5em 0;
  border: solid 1px #ccc;
  @include border-radius(5px);
  margin-top: 2px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  color: #4d4d4d;
  background: #fff;
  list-style: none;
  white-space: nowrap;

  > li {
    padding: 0;
    margin: 0;

    > a {
      padding: .3em 1.1538em;
    }
  }

}

  .is-open > .dropdown {
    display: block;
  }

  li:last-child {
    > .dropdown {
      left: auto;
      right: 0;
    }
  }

.edit-toggle {
  display: inline-block;
  padding: .1em .2em;
  border: solid 1px #d7d7d7;
  margin: 0 0 .4em;
  background: #fff;

  &:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background: asset_url('wrench-edit.png') center no-repeat;
    background: asset_url('wrench-edit@2x.png') center / 100% no-repeat;
    content: '';
    vertical-align: center;
  }

  &:hover {
    @include box-shadow(0 0 1px rgba(0,0,0,0.4));
  }
}

.filter-list {
  padding-left: 14px;
  list-style: none;

  a:hover {
    text-decoration: none;
  }

  > li {
    display: none;
  }
  > .current {
    display: block;
    @include box-sizing(border-box);
    padding-right: 14px;

    &:before {
      color: #1a7408;
      content: "✓ ";
    }
  }
  .icon-clear {
    color: #ddd;
  }
  &.is-open {
    position: absolute;
    z-index: 10;
    @include transform(translateY(-75%));
    left: 100%;
    min-width: 100%;
    padding: 5px 0;
    @include border-radius(4px);
    @include box-shadow(0 1px 5px rgba(0,0,0,0.2));
    margin: 0;
    background: #eee;
    white-space: nowrap;

    &[data-count="0"],
    &[data-count="1"],
    &[data-count="2"] {
      min-height: 37px;
      @include transform(translateY(-100%));
    }

    a {
      display: block;
      padding: 0 15px;
      color: #4162A1;
    }
    > li {
      display: block;
    }
    .hide-when-open {
      display: none;
    }
    > .current {
      background: #dedede;

      &:before {
        content: none;
      }
    }
  }
}
.filter-toggle {
  position: relative;
  display: block;
  padding: 14px 14px 14px 10px;
  @include border-radius(4px);
  margin-top: 18px;
  color: #666;
  background: #f9f9f9;
  font-size: 14px;
  font-weight: bolder;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  &.is-open {
    z-index: 11;
    @include border-radius(4px 0 0 4px);
    background: #eee;
  }
}

.header {
  font-weight: bold;
}

.header--column {
  overflow: hidden;
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  > a,
  > .heading {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.header--welcome {
  float: left;
  margin: 14px 0 12px 20px;
  margin: 1em 0 .85714em 20px;
  line-height: 1.1875;

  > .welcome-user {
    display: block;
    font-size: 12px;
    font-size: 85.714%;
    font-weight: normal;
    line-height: 1.1.25;
  }
}

.list-naked {
  padding-left: 0;
  list-style: none;
}

.location-map {
  display: block;
  width: 100%;

  + .adr {
    margin-top: 0;
  }
}
.map {
  > img {
    display: block;
    height: 300px;
  }
}

.market-manager-contact {
  text-align: right;
  > .email {
    color: inherit;
    font-weight: bold;
  }
}

.product-image {
  margin: 0 0 20px;
}
  .product-image--large {
    margin: 20px 0;
  }

/** Nav */
.nav {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.nav--app {
  border-right: solid 1px rgba(0,0,0,0.25);
  margin: 0;
  font-weight: bold;
  text-align: right;
  text-shadow: 0 1px #000;

  a {
    display: block;
    padding: 17px 25px;
    background:    -moz-linear-gradient(left,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 2%, rgba(255,255,255,0) 98%, rgba(255,255,255,0.1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 98%,rgba(255,255,255,0.1) 100%);
    background:      -o-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 98%,rgba(255,255,255,0.1) 100%);
    background:     -ms-linear-gradient(left,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 98%,rgba(255,255,255,0.1) 100%);
    background:         linear-gradient(to right,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 98%,rgba(255,255,255,0.1) 100%);

    &:hover {
      @include box-shadow(inset 0 1px 3px rgba(255,255,255,0.8));
      background-color: #637494;
      background-color: rgba(255,255,255,0.2);
    }
    &:active {
      @include box-shadow(inset 0 0 10px rgba(0,0,0,0.35));
      background: #283e69;
      background: rgba(0,0,0,0.15);
    }
    &.current {
      @include box-shadow(inset 0 0 10px rgba(0,0,0,0.35));
      background: #283e69;
      background: rgba(0,0,0,0.3);
    }
  }
  > li {
    position: relative;
    border: 0;
    border-left-color: #3f5d97;
    border-left: solid 1px rgba(0,0,0,0.25);
    border-image:    -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:      -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:     -ms-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:         linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    background-color: #3c5179;
    line-height: 1.6428;
    text-align: center;
  }
}

.nav--main {
  margin: 30px 0 0;
  font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", sans-serif;
  font-size: 36px;
  font-weight: bold;

  a, span {
    margin-left: 35px;
  }

  a {
    color: #7393d1;

    &:hover {
      color: #4162a1;
    }
  }
}

.nav--admin {
  position: relative;
  z-index: 50;
  height: 39px;
  padding: 0 20px;
  border-bottom: solid 1px #d4d4d4;
  margin: 20px -20px;
  box-shadow: 0 -1px 5px #f5f5f5;
  @include gradient(#fefefe, #f2f2f2);
  font-size: 0.1px;
  line-height: 1;

  a, .current {
    display: block;
    padding: 1em 1.1538em .93em;
  }
  a {
    &:hover {
      background: #e6e6e6;
    }
    &:active {
      background: #d6d6d6;
    }
  }
  .current {
    color: #fff;
    background: #a6a6a6;
    cursor: default;
  }
  > li {
    position: relative;
    font-size: 13px;

    &.is-open > a {
      background: #e6e6e6;
    }
    &:last-child {
      .top-anchor:before,
      .top-anchor:after {
        left: auto;
        right: 10px;
      }
    }
  }
  .font-icon {
    padding-right: 10px;
  }
}

.nav--sidebar {
  a {
    color: $link;
  }
  > li {
    margin: .4em 0;
    font-size: smaller;
  }
}
.org-profile-photo {
  display: block;
  width: 300px;
  margin: 0 0 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.is-dim {
    background: rgba(0,0,0,0.4);
  }
  &.is-dark {
    background: rgba(0,0,0,0.9);
  }
  &.is-open {
    display: block;
  }
  &.is-modal {
    z-index: 50;
  }
}

/** Headings */

.heading-cart {
  font-weight: bold;
}
  .subheading-cart {
    font: lighter 21px 'OpenSans-Light', OpenSans, "Open Sans", sans-serif;
  }

.heading-conditionals {
  color: #333;
  font: bold 14px OpenSans, "Open Sans", sans-serif;
}
.heading-product {
  margin: 20px 0 0;
  font-weight: bold;

  + .producer {
    margin: 0 0 1em;
  }
}

.heading-section {
  margin: .5em 0 .2em;
  font: lighter 2em 'OpenSans-Light', OpenSans, "Open Sans", sans-serif;
  font-weight: 300;
}
  .heading-section--product {
    margin-bottom: 0;
    font-size: 1.7em;
    line-height: 1.1;

    + p {
      margin-top: 0;
    }
  }


.heading-seller {
  margin-bottom: 0;

  + .adr {
    margin: 0 0 1em;
    color: #000;
    font-size: 12px;
  }
}

/** Sidebar Stuff */

.heading--sidebar {
  font: lighter 20px "Open Sans Condensed", sans-serif;
  font-weight: 300;

  + .reset {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.subheading--sidebar {
  margin: 0;
  color: inherit;
  font-family: OpenSans, "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;

  + p {
    margin-top: 0;
  }
}

.sidebar-box {
  padding: 10px;
  border-top: solid 1px #4162a1;
  @include border-radius(0 0 5px 5px);
  @include box-shadow(inset 0 2px 1px #c0c0c0);
  margin: 5px 0 24px;
  color: #666;
  background: #f9f9f9;
  font-size: 12px;

  .display-date,
  .location-name {
    color: #000;
    font-size: 14px;
  }
}

/** Tabs */
.tabs-wrapper {
  padding: 0 20px;
  border-bottom: solid 1px #cbcbcb;
  margin: 0 -20px 30px;
}
  .js-fixed .tabs-wrapper {
    margin-bottom: 0;
  }
.tabs {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0 0 -1px;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  list-style: none;

  .tab {
    > a,
    > span {
      padding: 22px 24px 18px;
      @include border-radius(5px 5px 0 0);
    }
  }
  > .completed:after {
    position: absolute;
    top: 5px;
    right: 7px;
    width: 14px;
    height: 15px;
    content: '';
    background: asset_url('icons/circled-check.png') center no-repeat;
    background: asset_url('icons/circled-check@2x.png') center / cover no-repeat;
  }
}
  .tabs--bottom {
    text-align: left;

    .tab {
      > a,
      > span {
        border: 0;
        @include border-radius(0 0 5px 5px);
      }
    }
    .inactive {
      background-color: #e6e6e6; 
      background-image:    -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 25%); /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(25%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* Chrome10+,Safari5.1+ */
      background-image:      -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* Opera 11.10+ */
      background-image:     -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* IE10+ */
      background-image:  linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* W3C */
    }
  }
  .tabs--small {
    .tab {
      > a,
      span {
        padding: 8px 10px 10px;
        font-size: 14px;
      }
    }
  }
.tab-header {
  width: 100%;

  &.js-positioned {
    position: absolute;
    left: 0;
    z-index: 3;
    padding: 0 20px;
    @include box-sizing(border-box);

    > .l-constraint {
      padding-top: 20px;
    }
  }
  &.js-fixed {
    position: fixed;

    > .l-constraint {
      padding: 20px 20px 0;
      background: #fff;
    }
  }
}
.tab {
  position: relative;
  display: inline-block;

  > a,
  > span {
    display: block;
    border: solid 1px #cbcbcb;
    color: inherit;
  }

  > a,
  .is-disabled {
    border-bottom-color: #cbcbcb;
    background: #f4f4f4;
  }

  > a:hover {
    @include box-shadow(0 -2px 3px rgba(0,0,0,0.04));
    background: #fafafa;
    text-decoration: none;
  }

  > span {
    border-bottom-color: #fff;
    @include box-shadow(0 -2px 3px rgba(0,0,0,0.1));
    background: #fff;

    &.is-disabled {
      @include box-shadow(none);
    }
  }
}

.tab-box {
  position: relative;
  min-height: 300px;
  overflow: hidden;

  img {
    min-width: 100%;
  }
  > .tabs {
    margin-top: 300px;
  }
}
  .tabbed-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #f4f4f4;
    overflow: hidden;

    &.active {
      z-index: 10;
    }
  }

.signed-out {
  .page-title {
    margin-bottom: 30px;
    text-align: center;
  }
}

/** Errors and messages */

.flash {
  position: absolute;
  z-index: 1;
  top: 2px;
  width: 100%;
  text-align: center;
  @include transition(opacity .5s linear 3s);

  &.is-fading {
    opacity: 0;
  }

  > p {
    display: inline-block;
    padding: .5em 2em;
    border-style: solid;
    border-width: 1px;
    @include border-radius(30px);
    @include box-shadow(0 2px 3px rgba(0,0,0,0.2));
    color: #000;
  }
}
  .flash--alert > p {
    border-color: $alert_text;
    background-color: $alert_bg;
  }

  .flash--notice > p {
    border-color: $notice_text;
    background-color: $notice_bg;
  }

  .flash--warning > p {
    border-color: $warning_text;
    background-color: $warning_bg;
  }
  td.flash--warning {
    border-color: $warning_text;
    background-color: $warning_bg;
    color: $warning_text;
    text-align: center;
    font-weight: bold;
  }

.form-errors {
  padding: 0;
  margin: 0 0 2em;
  color: $alert_text;
  text-align: left;
  list-style: none;

  > li:before {
    display: inline-block;
    width: 1em;
    @include border-radius(50%);
    margin-right: .4em;
    color: #fff;
    background: $alert_text;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    content: '!';
  }
}
.product-status-alert {
  max-width: 75%;
  padding: 1em 2em;
  margin: 0 auto 2em;
  color: $alert_text;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.tab-error {
  top: 25px;
}

/** Links */
.clear,
.clear-link,
.icon-clear {
  color: #ccc;

  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}

.export {
  display: inline-block;
  min-height: 10px;
  padding-left: 20px;
  color: #43639f;
  background: asset_url('icon-export.png') left center no-repeat;
  background: asset_url('icon-export@2x.png') left center / 13px 10px no-repeat;
}
  .nav--admin + .export {
    margin-top: 6px;
  }

.logo-link {
  position: relative;
  display: block;
  max-width: 100px;
  height: 100px;
  margin: 0 0 20px 0;

  > .logo {
    max-width: 100%;
    max-height: 100%;
  }
}
.signed-out .logo-link {
  float: none;
  margin: 0 auto;
}
.redundant-nav {
  font-size: smaller;
}
.slide {
  overflow: hidden;
  &.is-up > .slide-content {
    -webkit-transform-origin: 0,0;
       -moz-transform-origin: 0,0;
            transform-origin: 0,0;
    @include transform(translateY(-110%));
  }
}
  .slide-content {
    position: relative;
    @include transform(translateY(0));
    -webkit-transition:-webkit-transform .4s linear;
       -moz-transition:   -moz-transform .4s linear;
            transition:        transform .4s linear;
  }

.delivery {
  .date {
    color: $notice_text;
    font-size: larger;
    font-weight: bold;
  }
  .time-range {
    display: inline-block;
    margin: 0 0 .5em;
  }
}

/** Pagination */
.pagination {
  width: 300px;
  padding: 5px;
  border: 1px solid #e7e7e7;
  @include border-radius(100px);
  margin: 0 auto;
  background-color: #F9F7F7;
  font-size: .85em; 
  text-align: center;

  .current {
    color: #aaa;
  }
}

/** Story stuff */
.story-header {
  margin-bottom: 0;
  font: normal 28px "Open Sans Condensed", sans-serif;

  + p {
    margin-top: 0;
  }
}

.how-story,
.who-story {
  color: #000;
}

/** Toolbar */
.toolbar {
  width: 100%;
  height: 80px;
  @include border-radius(5px);
  background: #f2f2f2;
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  .note {
    display: block;
    color: #000;
    font-size: smaller;
  }
  &[data-tools="4"] {
    > .tool {
      width: 24.9%;
    }
  }
  &[data-tools="3"] {
    > .tool {
      width: 33%;
    }
  }
}
  .tool {
    display: inline-block;
    height: 80px;
    background: asset_url('center-rule.png') left top repeat-y;
    background: asset_url('center-rule@2x.png') left top / 1px auto repeat-y;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    &:first-child {
      background-image: none;
    }
    &:after {
      display: inline-block;
      height: 80px;
      width: 0;
      content: "";
      vertical-align: middle;
    }
    &:last-child:after {
      margin: 0;
      border: 0;
    }
    > a {
      display:inline-block;
      vertical-align: middle;
    }
  }

/** Tooltips */
label ~ .tooltip {
  margin-top: .5em;
}
.tooltip {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  @include border-radius(50%);
  color: #fff;
  background: asset_url('tooltip-icon.png') center no-repeat;
  background: asset_url('tooltip-icon@2x.png') center / 100% no-repeat;
  font-size: .9em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  cursor: pointer;

  &:after {
    position: absolute;
    right: 50%;
    bottom: 50%;
    display: none;
    z-index: 1000;
    width: 300px;
    padding: .5em 1em;
    border: solid 1px #ccc;
    @include border-radius(5px);
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.3));
    content: attr(data-tooltip);
    color: #777;
    background: #fff;
    font-weight: normal;
    line-height: 1.1;
    text-align: left;
  }
  &:hover,
  &:active,
  &:focus {
    &:after {
      display: block;
    }
  }
  &.pull-right + .pull-right {
    margin-right: .5em;
  }
}

/** Upcoming Delivery */
.upcoming-delivery {
  color: #000;

  hr {
    margin: 30px 0;
  }

  > .upcoming-delivery-date {
    margin-bottom: .5em;
    font: bold 24px 'Open Sans Condensed', 'Open Sans', OpenSans, sans-serif;
  }

  > .location {
    margin: 0 0 1em;
    font: bold 20px 'Open Sans Condensed', 'Open Sans', OpenSans, sans-serif;
  }
}
