//= depend_on_asset "footer-logo.png"
//= depend_on_asset "footer-logo@2x.png"
//= depend_on_asset "icons/circled-check.png"
//= depend_on_asset "icons/circled-check@2x.png"
//= depend_on_asset "tooltip-icon.png"
//= depend_on_asset "tooltip-icon@2x.png"
//= depend_on_asset "center-rule.png"
//= depend_on_asset "center-rule@2x.png"
//= depend_on_asset "horizontal-rule.png"
//= depend_on_asset "horizontal-rule@2x.png"

@import "mixins.css.scss";

.bank-info {
  padding: 1em 2em;
  border: solid 1px $notice_text;
  @include border-radius(5px);
  margin: 0 0 1em;
  color: $notice_text;
  background: $notice_bg;
  list-style: none;
}
@media screen and (min-width: $tablet_floor){
  .with-anchor {
    &:before,
    &:after {
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      content: "";
    }
  }
    .top-anchor {
      &:before {
        top: -7px;
        left: 10px;
        border-bottom-color: #ccc;
        border-top: 0;
      }
      &:after {
        top: -6px;
        left: 10px;
        border-bottom-color: #fff;
        border-top: 0;
      }
    }

    .top-centered-anchor {
      &:before {
        top: -7px;
        left: 50%;
        border-bottom-color: #ccc;
        border-top: 0;
        margin-left: -3px;
      }
      &:after {
        top: -6px;
        left: 50%;
        border-bottom-color: #fff;
        border-top: 0;
        margin-left: -3px;
      }
    }
    .bottom-anchor {
      top: auto;
      bottom: 100%;
      &:before {
        bottom: -7px;
        left: 10px;
        border-top-color: #ccc;
        border-bottom: 0;
      }
      &:after {
        bottom: -6px;
        left: 10px;
        border-top-color: #fff;
        border-bottom: 0;
      }
    }
}
.caretted:after {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: inherit;
  border-bottom-width: 0;
  margin-left: .4em;
  content: "";
  vertical-align: middle;
}
  .caretted--right:after {
    float: right;
    border-style: solid;
    border-width: .42em 0 .42em .42em;
    border-color: transparent;
    border-left-color: inherit;
    margin: .25em 0;
    opacity: 0.5;
  }
@media screen and (max-width: 800px) {
  .carreted:after {
    margin-left: .4em;
  }
}
.cancel {
  color: #43639f;
}

.cart-page {
  margin-top: 120px;
  color: #000;
}

@media screen and (max-width:600px) {
  .cart-page {
    margin-top: 0;
  }
}

.copyright {

  .org {
    font-weight: bolder;
  }
  > a {
    display: inline-block;
    min-height: 40px;
    padding-left: 50px;
    color: inherit;
    background: asset_url('footer-logo.png') left center no-repeat;
    background: asset_url('footer-logo@2x.png') left center / 38px 40px no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
    > a {
      padding: 50px 0 0;
      background-position: center top;
    }
  }
}


.counter {
  padding: 0 15px;
  @include border-radius(12px);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
  background: #999999;
  font-size: 92.85%;
  font-weight: bold;
  line-height: 1.769;
  text-align: center;
  text-shadow: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  min-width: 100%;
  padding: .5em 0;
  border: solid 1px #ccc;
  @include border-radius(5px);
  margin-top: 2px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  color: #4d4d4d;
  background: #fff;
  list-style: none;
  white-space: nowrap;

  > li {
    padding: 0;
    margin: 0;

    > a,
    > .current {
      padding: .3em 1.1538em;
    }
  }

}
  .is-open > .dropdown {
    display: block;
  }

  li:last-child {
    > .dropdown {
      left: auto;
      right: 0;
    }
  }

.edit-toggle {
  display: inline-block;
  padding: .1em .2em;
  border: solid 1px #d7d7d7;
  margin: 0 0 .4em;
  background: #fff;

  &:hover {
    @include box-shadow(0 0 1px rgba(0,0,0,0.4));
    text-decoration: none;
  }
}

.filter-list {
  padding-left: 14px;
  list-style: none;

  a:hover {
    text-decoration: none;
  }

  > li {
    display: none;
  }
  > .current {
    display: block;
    @include box-sizing(border-box);
    padding-right: 14px;

    &:before {
      color: #1a7408;
      content: "✓ ";
    }
  }
  .icon-clear {
    color: #ddd;
    
  }
  &.is-open {
    position: absolute;
    z-index: 10;
    @include transform(translateY(-75%));
    left: 100%;
    min-width: 100%;
    padding: 5px 0;
    @include border-radius(4px);
    @include box-shadow(0 1px 5px rgba(0,0,0,0.2));
    margin: 0;
    background: #e3e3e3;
    white-space: nowrap;

    &[data-count="0"],
    &[data-count="1"],
    &[data-count="2"] {
      min-height: 37px;
      @include transform(translateY(-100%));
    }

    a {
      display: block;
      padding: 0 15px;
    }
    > li {
      display: block;
    }
    .hide-when-open {
      display: none;
    }
    a:hover,
    > .current {
      background: #d3d3d3;

      &:before {
        content: none;
      }
    }
  }
}
.filter-toggle {
  position: relative;
  display: block;
  padding: 14px 14px 14px 10px;
  @include border-radius(4px);
  margin-top: 18px;
  color: #000;
  background: #e9e9e9;
  font-size: 14px;
  font-weight: bolder;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  &.is-open { 
    z-index: 11;
    @include border-radius(4px 0 0 4px);
    background: #e3e3e3;
  }
}

@media screen and (max-width: $mobile_break) {
  .filter-toggle {
    &.is-open {
      @include border-radius(4px 4px 0 0);
      &:after {
        border: .42em solid transparent;
        border-top-color: inherit;
        border-bottom-width: 0;
      }
    }
  }
  .filter-list {
    &.is-open {
      position: relative;
      @include transform(translateY(0));
      left: 0;
      @include border-radius(0 0 4px 4px);
      background: #d7d7d7;
      &[data-count="0"],
      &[data-count="1"],
      &[data-count="2"] {
        min-height: 37px;
        @include transform(translateY(0));
      }
      a {
        padding: 4px 15px;
        font-size: 16px;
      }
    }
  }
}


.header {
  font-weight: bold;
}
  .header--inline {
    display: inline;
  }
  .header--radio {
    font-size: inherit;
  }

.product-header, .promo-header {
  min-height: 40px;
}

.header--column {
  overflow: hidden;
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }

  > a,
  > .heading {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.header--welcome {
  float: left;
  max-width: 50%;
  margin: 14px 0 12px 20px;
  margin: .5em 0 .4em 20px;
  line-height: 1.1875;
  word-wrap: break-word;

  > .welcome-user {
    display: block;
    font-size: 12px;
    font-size: 85.714%;
    font-weight: normal;
    line-height: 1.1.25;
  }
}
.tagline {
  clear: left;
  display: block;
  margin-bottom: 1em;
  font: lighter 18px 'Open Sans', sans-serif;
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  filter: brightness(0.9);
  -webkit-transform: translateZ(0);
  word-wrap: break-word;
  word-break: break-all;
}
  .signed-out .tagline {
    text-align: center;
  }
  .page-title + .tagline {
    margin: -1em auto 1em;
  }
@media screen and (max-width: 800px) {
  .header--welcome {
    max-width: 30%;

    .tagline {
      display: none;
    }
  }
}
@media screen and (max-width: $mobile_break) {
  .header--welcome,
  .tagline {
      display: none;
  }
}

.list-naked {
  padding-left: 0;
  list-style: none;
  line-height: 26px;
  margin-top: -10px;
}
.list-zebra {
  color: #777;
  > li {
    padding: 10px;
    &:nth-child(odd) {
      background: #f4f4f4;
    }
  }
}

.location-map {
  display: block;
  width: 100%;

  + .adr {
    margin-top: 10px;
  }
}
.map {
  > img {
    display: block;
    height: 300px;
  }
}

.market-manager-contact {
  text-align: right;
  a {
    color: inherit;
  }
  > .email {
    color: inherit;
    font-weight: bold;
  }
}
@media screen and (max-width: 767px) {
  .market-manager-contact {
    float: none;
    margin: 0 1em 1em;
    text-align: center;
  }
}

.product-image {
  position: relative;
  margin: 0 0 20px;
}

  .product-image--large {
    margin: 13px 0;
    width: 100%;
  }


/** Headings */

.heading-cart {
  text-align: left;
}

.subheading-cart {
  font: lighter 24px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
  margin-top: 0;
}

@media screen and (max-width: $mobile_break) {
  .subheading-cart {
    margin-top: 20px;
  }
}

.heading-conditionals {
  color: #333;
  font: bold 14px OpenSans, "Open Sans", sans-serif;
}
.heading-delivery-tool {
  margin-top: 1.5em;
  margin-bottom: 0;
  color: #666;
  font: bold 14px "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
}
.heading-product {
  font: "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
  font-weight: 700;
  margin: 6px 0 0;
  line-height: 36px;
  padding-bottom: 10px;

  + .producer {
    margin: 0 0 1em;
  }
}

.heading-section {
  margin: .5em 0 .2em;
  font: lighter 2em "Open Sans Condensed", OpenSans-Condensed, "Open Sans", OpenSans, sans-serif;
}
  .heading-section--product {
    margin-bottom: 0;
    line-height: 1.1;

    + p {
      margin-top: 0;
    }
  }


.heading-seller {
  margin-bottom: 0;

  + .adr {
    margin: 0 0 1em;
    color: #000;
    font-size: 12px;
  }
}

.sub-header-whitespace {
  margin-bottom: 10px;
}

/** Sidebar Stuff */

.heading--sidebar {
  font: lighter 20px "Open Sans Condensed", sans-serif;
  font-weight: 300;

  + .reset {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.subheading--sidebar {
  margin: 0;
  font-family: OpenSans, "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;

  + p {
    margin-top: 0;
  }
}

.sidebar-box {
  padding: 7px 10px 0 0;
  border-top: solid 3px #4162a1;
  @include border-radius(0 0 5px 5px);
  margin: 5px 0 24px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  -webkit-font-smoothing: auto;

  .display-date,
  .location-name,
  .organization-name {
    font-size: 14px;
  }
}

@media screen and (max-width: $mobile_break) {
  .sidebar-box {
    padding: 7px 0 0;
  }
}

/** Tabs */
.tabs-wrapper {
  clear: both;
  padding: 0 20px;
  border-bottom: solid 1px #cbcbcb;
  margin: 0 -20px 30px;
}
@media screen and (min-height: 768px) {
  .js-fixed .tabs-wrapper {
    margin-bottom: 0;
  }
}
@media screen and (max-width: $mobile_break) {
  .tabs-wrapper {
    margin: 0 -10px 30px;
  }
}
.tabs {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0 0 -1px;
  font-size: 16px;
  line-height: 1.166;
  text-align: center;
  list-style: none;

  .tab {
    > a,
    > span {
      padding: 12px;
      @include border-radius(5px 5px 0 0);
    }
  }

  > .completed:after {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 10px;
    height: 11px;
    content: '';
    background: asset_url('icons/circled-check.png') center no-repeat;
    background: asset_url('icons/circled-check@2x.png') center / cover no-repeat;
  }
}

@media screen and (max-width: $mobile_break) {
  h1 + form + .tabs-wrapper {
    margin-top: 14px;
  }
  .tabs-wrapper {
    padding: 0;

    .tabs {
      font-size: 11px;
    }
    .tabs > .tab > span {
      padding: 14px 4px;
    }
    .tabs > .tab > a {
      padding: 14px 4px;
    }
  }
  .wrapping-tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .tab {
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      > a, > .current {
        @include border-radius(0);
      }
    }
  }
}

@media screen and (max-width:400px) {
  .tabs {
    font-size: 14px;
  }
  .tabs--small {
    font-size: 11px;
    > .tab {
      > a {
        padding: 12px 5px;
      }
    }
  }
}
  .tabs--bottom {
    text-align: left;

    .tab {
      > a,
      > span {
        border: 0;
        @include border-radius(0 0 5px 5px);
      }
    }
    .inactive {
      background-color: #e6e6e6;
      background-image:    -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 25%); /* FF3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(25%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* Chrome10+,Safari5.1+ */
      background-image:      -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* Opera 11.10+ */
      background-image:     -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* IE10+ */
      background-image:  linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 25%); /* W3C */
    }
  }

.nav--admin + .tab-header {
  padding-top: 20px;
  margin-top: -20px;
}
@media screen and (min-height: 767px) and (min-width: 600px) {
  .nav--admin + .tab-header {
    margin-top: 0;
  }
}
.tab-header {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .l-constraint {
    padding-bottom: 30px;

    .tabs-wrapper {
      margin-bottom: 0;
    }
  }

  .l-page-header {
    margin: 0;
  }
}

@media screen and (max-width: $mobile_break) {
  .l-page-header {
    text-align: left;

    .delete {
      position: absolute;
      top: 25px;
      right: 15px;
    }

    .btn {
      width: 100%;
      text-align: center;
    }
  }

}

@media screen and (max-width: $mobile_break) {
    .tab-header {
      width: auto;
      margin-right: -10px;
      margin-left: -10px;
      > .l-constraint {
        margin-right: 10px;
        margin-left: 10px
      }
      &.js-fixed {
        margin: 0;
        > .l-constraint {
          margin-right: 0px;
          margin-left: 0px
        }
      }
    }
}

.tab {
  position: relative;
  display: inline-block;

  > a,
  > span {
    display: block;
    border: solid 1px #cbcbcb;
    color: inherit;
  }

  > a,
  .is-disabled {
    border-bottom-color: #cbcbcb;
    background: #f4f4f4;
  }

  > a:hover {
    @include box-shadow(0 -2px 3px rgba(0,0,0,0.04));
    background: #fafafa;
    text-decoration: none;
  }

  > span {
    border-bottom-color: #fff;
    @include box-shadow(0 -2px 3px rgba(0,0,0,0.1));
    background: #fff;

    &.is-disabled {
      @include box-shadow(none);
    }
  }
}

.tab-box {
  position: relative;

  img {
    min-width: 100%;
  }
  .tabs {
    background: asset_url('horizontal-rule.png') left bottom repeat-x;
    background: asset_url('horizontal-rule@2x.png') left bottom / auto 1px repeat-x;
    text-align: left;

    &.unguttered {
      width: 100%;
      padding-right: 10px;
      padding-left: 20px;
      margin-left: -20px;
    }
  }
  .tab {
    border-bottom: 0;
  }
  .active {
    border-bottom: solid 1px #fff;
    margin-bottom: -1px;
    background: #fff;
  }
  .inactive {
    background: #f4f4f4;
  }
}
.tabbed-item {
  position: relative;

  > .header--column {
    margin-top: 25px;
  }
}
.js-sized > .tabbed-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;

    &.active {
      z-index: 10;
    }
  }

.signed-out {
  .page-title {
    margin-bottom: 30px;
    text-align: center;
  }
}

/** Errors and messages */

.message {
  margin-top: 0;
}

.flash {
  position: absolute;
  z-index: 51;
  top: 180px;
  margin-left: -20px;
  width: 100%;
  text-align: center;
  opacity: 1;
  @include transition(opacity .5s linear 4s);

  &.is-fading {
    opacity: 0;
  }

  > p {
    display: inline-block;
    padding: .5em 2em;
    border-style: solid;
    border-width: 1px;
    @include border-radius(30px);
    @include box-shadow(0 2px 3px rgba(0,0,0,0.2));
    color: #000;
  }
}
  .flash--alert > p {
    border-color: $alert_text;
    background-color: $alert_bg;
  }

  .flash--notice > p {
    border-color: $notice_text;
    background-color: $notice_bg;
  }

  .flash--warning > p {
    border-color: $warning_text;
    background-color: $warning_bg;
  }
  td.flash--warning {
    border-color: $warning_text;
    background-color: $warning_bg;
    color: $warning_text;
    text-align: center;
    font-weight: bold;
  }

@media screen and (max-width: $mobile_break) {
  .flash {
    top: 10px;
  }
}

.form-errors {
  padding: 0;
  margin: 0 0 2em;
  color: $alert_text;
  text-align: left;
  list-style: none;

  > li:before {
    display: inline-block;
    width: 1em;
    @include border-radius(50%);
    margin-right: .4em;
    color: #fff;
    background: $alert_text;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    content: '!';
  }
}

.popup-error {
  color: $alert_text;
  font-size: larger;
  h3 {
    margin: 0 0 .2em;
    color: inherit;
    font-size: 100%;
  }
  .errors {
    padding-left: 20px;
    margin-bottom: 1em;
  }
}
.product-status-alert {
  max-width: 75%;
  padding: 1em 2em;
  margin: 0 auto 2em;
  color: $alert_text;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
@media screen and (max-width: $mobile_break) {
  .product-status-alert {
    max-width: none;
    padding: 1em;
  }
}

.tab-error {
  top: 25px;
}

/** Links */
.clear,
.clear-link,
.icon-clear {
  color: #ccc;

  &:hover {
    color: #aaa;
    text-decoration: none;
  }
}

.export {
  display: inline-block;
  min-height: 10px;
  padding-left: 20px;

  path {
    fill: $link;
  }
  > .icon {
    display: inline-block;
    width: 13px;
    height: 10px;
    vertical-align: middle;
  }

 + h1 {
   line-height: 1;
 }
}

@media screen and (max-width: $mobile_break) {
  .export {
    float: right;
    margin-top: 10px;
  }
  .taxonomy-export {
    margin-top: -100px;
  }
}

  .nav--admin + .export {
    margin-top: 6px;
  }

.logo-link {
  position: relative;
  display: block;
  max-width: 300px;
  height: 100px;
  margin: 0 0 10px 0;

  > .logo {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: $mobile_break) {
  .logo-link {
    display: none;
  }
}
.signed-out .logo-link {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.redundant-nav {
  font-size: smaller;
  line-height: 30px;
}
@media screen and (max-width: 800px) {
  .redundant-nav {
    font-size: 14px;
  }
}
.slide {
  position: relative;
  overflow: hidden;
  &.is-up > .slide-content {
    max-height: 0;
    -webkit-transform-origin: 0,0;
       -moz-transform-origin: 0,0;
            transform-origin: 0,0;
    @include transform(translateY(-110%));
  }
}
.slide-content {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  @include transform(translateY(0));
  -webkit-transition:-webkit-transform .4s linear, max-height .4s linear;
     -moz-transition:   -moz-transform .4s linear, max-height .4s linear;
          transition:        transform .4s linear, max-height .4s linear;
}
.seller-map-slide {
  > img {
    height: auto;
  }
}
.delivery {
  .date {
    color: $notice_text;
    font-size: larger;
    font-weight: bold;
  }
  .time-range {
    display: inline-block;
    margin: 0 0 .5em;
  }
}

/** Pagination */
.pagination {
  width: 300px;
  padding: .5em;
  border: 1px solid #e7e7e7;
  @include border-radius(100px);
  margin: 30px auto 0;
  background-color: #F9F7F7;
  font-size: .85em;
  text-align: center;

  .current {
    color: #aaa;
  }
}
@media screen and (max-width: 800px) {
  .pagination {
    width: auto;
    font-size: 1.2em;
    > span {
      display: inline-block;
      padding: .3em;
    }
  }
}

/** Story stuff */
.story-header {
  margin-bottom: 10px;
  font: normal 28px "Open Sans Condensed", sans-serif;

  + p {
    margin-top: 0;
  }
}

.how-story,
.who-story {
  color: #000;
}

/** Toolbar */
.toolbar {
  width: 100%;
  height: 80px;
  @include border-radius(5px);
  background: #f2f2f2;
  font-size: 0.1px;
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  .note {
    display: block;
    color: #000;
    font-size: smaller;
  }
  &[data-tools="4"] {
    > .tool {
      width: 23.9%;
    }
  }
  &[data-tools="3"] {
    > .tool {
      width: 33%;
    }
  }
}

@media screen and (max-width: $mobile_break) {
  .cancel-link {
    .note {
      display: none;
    }
  }
  .toolbar {
    height: auto;
    &[data-tools="4"] {
      > .tool {
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
      > .tool:nth-child(4n) {
        border-bottom: 0;
      }
    }
    &[data-tools="3"] {
      > .tool {
        width: 100%;
        border-bottom: 1px solid #ddd;
      }
      > .tool:nth-child(3n) {
        border-bottom: 0;
      }
    }
  }
}
  .tool {
    display: inline-block;
    height: 80px;
    background: asset_url('center-rule.png') left top repeat-y;
    background: asset_url('center-rule@2x.png') left top / 1px auto repeat-y;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    &:first-child {
      background-image: none;
    }
    &:after {
      display: inline-block;
      height: 80px;
      width: 0;
      content: "";
      vertical-align: middle;
    }
    &:last-child:after {
      margin: 0;
      border: 0;
    }
    > a {
      display:inline-block;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: $mobile_break) {
    .tool {
      background: none;
    }
  }

/** Tooltips */
label ~ .tooltip {
  margin-top: .5em;
}

@mixin tooltip-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  @include border-radius(50%);
  color: #fff;
  background: asset_url('tooltip-icon.png') center no-repeat;
  background: asset_url('tooltip-icon@2x.png') center / 100% no-repeat;
  font-size: .9em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  @media screen and (max-width: $mobile_break) {
      width: 20px;
      height: 20px;
  }
}



.tooltip-popup {
  @include tooltip-icon;
}

.tooltip {
  @include tooltip-icon;

  &:after {
    position: absolute;
    right: 50%;
    bottom: 120%;
    display: none;
    z-index: 1000;
    min-width: 210px;
    max-width: 300px;
    padding: .5em 1em;
    border: solid 1px #aaa;
    @include border-radius(5px);
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.3));
    content: attr(data-tooltip);
    color: #333;
    background: #fff;
    font-weight: normal;
    line-height: 1.1;
    text-align: left;
  }
  &:hover,
  &:active,
  &:focus {
    &:after {
      display: block;
    }
  }
  &.pull-right + .pull-right {
    margin-right: .5em;
  }
}
.tooltip--naked {
  color: inherit;
  background: none;

}
.tooltip--notice {
  &:after {
    border-color: $notice_text;
    color: $notice_text;
    background: $notice_bg;
  }
}

@media screen and (max-width: $mobile_break) {
  label ~ .tooltip {
    float: right;
    margin: 0 0 .5em;
  }
}

/** Seller Profiles */
.seller-map,
.seller-photo {
  position: relative;
  height: 240px;
  overflow: hidden;
  margin-bottom: 2em;

}
.seller-map  {
  > img {
    width: 100%;
  }
}
.seller-photo {
  > img {
    position: relative;
    display:block;
    max-height: 100%;
    margin: 0 auto;
  }
}
.transforms {
  .seller-photo > img {
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/** Upcoming Delivery */
.upcoming-delivery {
  color: #000;

  h1 + .note {
    margin-top: -1em;
  }
  h2 + h3 {
    margin-top: 0;
  }
  hr {
    margin: 30px 0;
  }

  .order-summary-total,
  .upcoming-delivery-date,
  .upcoming-delivery-order {
    margin: 0 0 .5em;
    font: bold 24px 'Open Sans Condensed', 'Open Sans', OpenSans, sans-serif;
    display: inline-block;
    width: 100%;

    + .note {
      margin-top: -.5em;
    }
  }

  .location {
    margin: 0 0 1em;
    font: bold 20px 'Open Sans Condensed', 'Open Sans', OpenSans, sans-serif;
  }
  .vcard--seller,
  .vcard--buyer {
    margin: 0 0 2em;

    .fn {
      margin: 0;
    }
  }
}

.blank-state {
  text-align: center;
}

/** Apply Action Box **/

.action-header {
  margin: 0;
  width: 100%;
  &.js-fixed {
    padding-top: 20px;
    margin-top: -20px;
  }

  h4 {
    margin: 0;
  }

  .actions {
    padding: 10px;
    @include border-radius(5px);
    margin: 0 10px;
    background: #D9F6F9;
  }

  @media screen and (max-width: $mobile_break) {
    .actions {
      margin: 0 0 10px 0;

      select {
        width: 100%;
      }
      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

/** Password Reset Pages **/

.password-reset {
  margin: 0 auto;
  width: 300px;

  .email-address-reset {
    input {
      width: 100%;
    }
  }

  .sign-in {
    margin-top: 25px;
    float: left;
  }
  .send-instructions {
    margin-top: 10px;
    float: right;
  }
}

/** Vertical Centerer */
.vc-wrapper {
  position: relative;

  &:after {
    position: relative;
    display: inline-block;
    width: 0;
    height: 100%;
    content: ' ';
    vertical-align: middle;
  }

  .vertical-centerer {
    display: inline-block;
    vertical-align: middle;
  }
}


/** Sticky things */
.cling-wrap {
  overflow: hidden;
}

.teflon {
  display: none;
}
.l-app-header + .teflon {
  display: block;
}
@media screen and (min-height: 768px) and (min-width: $tablet_floor) {
  .teflon {
    display: block;
  }
  .l-main .stickable {
    background: #fff;
  }
  .stickable {
    &.js-positioned {
      position: absolute;
      z-index: 3;
      left: 0;
    }
    &.js-fixed {
      position: fixed;
    }
  }
  .tab-header,
  .sub-header {
    > .l-constraint {
      background: #fff;
      overflow: hidden;
    }
    &.stickable {
      &.js-positioned {
        @include box-sizing(border-box);
        width: 100%;
        > .l-constraint {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }
  }
  .tab-header.stickable {
    padding: 0;
    > .l-constraint {
      padding-right: 20px;
      padding-left: 20px;
    }
    @media screen and (max-width: $mobile_break) {
      > .l-constraint {
        padding-right: 0;
      }
    }
    &.js-positioned {
      > .l-constraint {
        padding: 20px 20px 10px;
      }
    }
    &.js-fixed {
      position: fixed;
    }
  }
}

.empty-results {
  max-width: 380px;
  padding: 14px;
  border: 1px solid #bce8f1;
  @include border-radius(4px);
  margin: 40px auto 20px;
  color: #3a87ad;
  background: #d9edf7;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);

  h2 {
    color: #3a87ad;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: $mobile_break) {
  .empty-results {
    padding: 10px;
    margin: 20px auto 0;

    p {
      padding: 0 10px;
    }
  }
}

