@import "mixins";

.popup-toggle:hover {
    text-decoration: none;
}
.popup {
  position: absolute;
  z-index: 1;
  width: 276px;
  border: 1px solid #ccc;
  text-shadow: none;
  color: #000;
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 10px rgba(0,0,0,0.2));
  font-weight: normal;
  text-align: left;

  &.with-anchor:after {
    border-bottom-color: #F2F2F2;
  }
}
  .popup--edit {
    top: 0;
    min-width: 200px;
    padding: 8px;

    h2,
    caption {
      font-size: 14px;
      font-family: "Open Sans", OpenSans, sans-serif;
      font-weight: bold;
    }
    caption {
      margin-top: 14px;
    }
    h2 {
      margin: 0 0 11px;
    }
    label {
      font-size: 12px;
    }
    select {
      width: 100%;
    }
    table {
      margin: 0 0 1em;
    }
    td {
      padding-left: 0;
    }
    th {
      padding: 5px 10px 0 0;
    }
      thead tr {
        height: 1.2em;
      }
    tr,
    tr:nth-child(odd) {
      border: 0;
      background: #fff;
    }

    .form-actions {
      margin: 1em 0 0;
    }
  }

  .popup--centered {
    left: 50%;
    @include transform(translateX(-50%));
  }

.popup-header {
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  background: #F2F2F2;
  @include border-radius(5px 5px 0 0);
  overflow: hidden;

  .close {
    float: right;
    color: #666;
    line-height: inherit;
  }

  ~ .location-map {
    display: block;
    width: 260px;
    max-width: none;
    margin: 8px;
  }
}

.popup-body {
  padding: 10px;

}


.modal {
  top: 10em;
  left: 29%;
  width: 400px;
  margin: 0 auto;
  z-index: 100;

  .form-actions {
    margin: 20px 0 0;
  }

  .inline-field {
    display: inline-block;
  }
}

.modal--stealth {
  width: 530px;
  border: 0;
  margin-left: 56%;
  color: #fff;
  background: none;
  top: 0;


  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .btn {
    border: 0;
    margin-top: 1em;
  }
  .close {
    color: #fff;
    font-size: 18px;
  }
  .popup-header {
    text-align: left;
    background: none;
  }
  .popup-body {
    padding-top: 0;
  }
}


.nav--app {
  .popup {
    width: 200px;
    margin-top: -10px;
    background: #F2F2F2;
  }
  .popup-header {
    padding-bottom: 0;
    text-align: left;
  }
  .popup-body {
    padding-top: 0;
    background: #F2F2F2;
  }
}
