@import "mixins";

button,
.btn,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  padding: 12px 18px;
  border: solid 1px #b0b0b0;
  @include border-radius(3px);
  @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
  color: #fff;
  font-size: 17px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;


  &.btn--small {
    padding: 6px 18px;
    font-size: 14px;
  }

  &:disabled {
    opacity: 0.15;
  }
  &:active {
    @include gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  }
}

button,
.btn,
input[type=reset] {
  &.cancel {
    padding: 0;
    border: 0;
    @include border-radius(0);
    color: #43639F;
    background: none;
    font-size: inherit;
  }
}

input[type=submit] {
  background-color: #43639f;
}

