.date-filters {
  font-size: 14px;
}
.filter-dropdown {
  width: 180px;
  margin-right: 10px;
}

.manager-filters {
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  font-size: 0.1px;
  text-align: justify;
  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
  > p, > span, > div {
    font-size: 14px;
  }
  select {
    width: 130px;
  }
  span {
    margin-right: 10px;
  }
  &.unjustify {
    text-align: left;
  }
}

.featured-promo-filter {
  margin: 0;
}

.product-search {
  margin: 0 0 15px;
}

.search-widget {
    display: inline-block;
    ~ .btn--add {
      display: inline-block;
    }
  }

@media screen and (min-width: 960px) {
  .filter-row {
    margin: 10px 0;
    width: 100%;
    select {
      display: block;
      width: 100%;
    }

    .preserve-alignment {
      width: 18%;
      margin: 0 2% 0 0;

    }
  }
}

@media screen and (max-width: 900px) {
  .product-filters {
    width: 100%;
    margin-bottom: 5px;
  }
  .filter-dropdown {
    width: 47%;
    margin:  4px 0 2px;

    + .filter-dropdown {
      margin-left: 5%; 
    }
  }
  .row {
    > .product-search,
    > .product-search:last-child {
      float: none;
      width: 100%;
      text-align: left;
    }
  }
  .search-widget {
    float: left;
    ~ .btn--add {
      float: right;
      margin-left: 5%;
    }
  }
}

@media screen and (max-width: 600px) {
  .filter-dropdown {
    width: 100%;
    margin:  4px 0 15px;

    + .filter-dropdown {
      margin-left: 0; 
    }
  }
  .product-header > .btn--add {
    float: none;
    display: block;
  }
  .row {
    > .product-search,
    > .product-search:last-child {
      width: 100%;
      text-align: left;
    }
  }

  .product-filters {
    label {
      display: none;
    }
    .preserve-alignment {
      display: block;
    }
  }

  .product-search {
    float: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row;
    flex-flow: row;
    margin-top: 15px;
    margin-bottom: 15px;

    input {
      height: 35px;
      -webkit-flex: auto 1;
      flex: auto 1;
      &[type=search] + .btn--end {
        margin-right: 0;
      }
    }
    .pull-right {
      float: none;
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}


