@import "mixins";

.popup-toggle:hover {
    text-decoration: none;
}
.popup {
  position: absolute;
  z-index: 100;
  width: 276px;
  border: 1px solid #ccc;
  text-shadow: none;
  color: #000;
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0 0 10px rgba(0,0,0,0.2));
  font-weight: normal;
  text-align: left;

  &.with-anchor:after {
    border-bottom-color: #F2F2F2;
  }
  &.rtl {
    right: 10px;
  }
}
  .popup--edit {
    top: 0;
    width: auto;
    min-width: 290px;
    padding: 8px;
    border: solid 2px #ccc;
    &.bottom-anchor {
      top: auto;
    }

    h3,
    caption {
      font: bold 14px "Open Sans", OpenSans, sans-serif;
    }
    caption {
      margin-top: 14px;
    }
    h2 {
      margin: 0 0 11px;
    }
    label {
      font-size: 12px;
    }
    legend {
      font: bold 12px "Open Sans", OpenSans, sans-serif;
    }
    select {
      width: 100%;
    }
    table {
      margin: 0 0 1em;
    }
    td {
      padding-left: 0;
    }
    th {
      padding: 5px 10px 0 0;
    }
      thead tr {
        height: 1.2em;
      }
    tr,
    tr:nth-child(odd) {
      border: 0;
      background: #fff;
    }
    .errors  {
      list-style-type: disc
    }

    .form-actions {
      margin: 1em 0 0;
    }
    .preserve-alignment {
      display: inline-block;
      label {
        display: block;
      }
    }
  }

  .popup--centered {
    left: 50%;
    @include transform(translateX(-50%));
  }

@media screen and (max-width: 800px) {
  .popup {
    @include box-sizing(border-box);
    @include transform(translateX(-50%));
  }
  .popup--edit {
    left: 50%;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    &.rtl {
      right: auto;
    }
    .preserve-alignment {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .popup--edit {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-flow: column;
    flex-flow: column;

    input[size] {
      height: auto;
      padding: .2em .4em;
      margin-bottom: 10px;
      font-size: 16px;
    }
    input[size]:not(.datepicker):not(.alt-datepicker),
    input[type=submit] {
      display: block;
      width: 100%;
    }
    .close.pull-right {
      position: absolute;
      right: 5px;
      top: 5px;
    }

  div.datepicker {
    display: block;
  }
  .datepicker ~.btn--end {
    padding-bottom: 3px;
    font-size: 16px;
   }

    .fields {
      -webkit-flex: auto 1;
      flex: auto 1;
    }
    .form-actions {
      float: none;
      text-align: center;
    }
    .links {
      padding: 5px 0;
        margin-top: 20px;
      font-size: 0.1px;
      text-align: justify;
      &:after {
        display: inline-block;
        width: 100%;
        content: '';
      }
      a {
        display:inline-block;
        font-size: 12px;
      }
    }
  }
}

.popup-header {
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  background: #F2F2F2;
  @include border-radius(5px 5px 0 0);
  overflow: hidden;

  .close {
    float: right;
    color: #666;
    line-height: inherit;
  }

  ~ .location-map {
    display: block;
    width: 260px;
    max-width: none;
    margin: 8px;
  }
}

.popup-body {
  padding: 10px;

}


.modal {
  top: 10em;
  left: 29%;
  width: 400px;
  margin: 0 auto;
  z-index: 100;

  .form-actions {
    margin: 20px 0 0;
  }

  .inline-field {
    display: inline-block;
  }
}
.modal--extended {
  width: 560px;
  position: fixed;
  
  .popup-body {
    max-height: 400px;
    overflow-y: auto;
  }
}

.popup-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.modal--stealth {
  width: 530px;
  border: 0;
  margin-left: 56%;
  color: #fff;
  background: none;
  top: 0;


  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  .btn {
    border: 0;
    margin-top: 1em;
  }
  .close {
    color: #fff;
    font-size: 18px;
  }
  .popup-header {
    text-align: left;
    background: none;
  }
  .popup-body {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    left: 0;
    width: auto;
  }
  .modal--stealth {
    top: 64px;
    width: auto;
    margin: 0 auto;
  }
}


.nav--app {
  .popup {
    width: 200px;
    margin-top: -10px;
    background: #F2F2F2;
  }
  .popup-header {
    padding-bottom: 0;
    text-align: left;
  }
  .popup-body {
    padding-top: 0;
    background: #F2F2F2;
  }
}
