@import 'mixins';

.breadcrumbs {
  clear: both;
}
.nav {
  a {
    text-decoration: none;
  }
}
.nav--app {
  border-right: solid 1px rgba(0,0,0,0.05);
  margin: 0;
  font-size: 13px;
  text-align: right;
  text-shadow: 0 -1px rgba(0,0,0,0.25);
  -webkit-font-smoothing: initial;

  a {
    display: block;
    padding: 10px 25px;

    &:hover,
    &:active,
    &.current {
      color: #9faecb;

      .counter {
        color: #fff;
      }
    }
  }
  > li {
    position: relative;
    border: 0;
    border-left-color: #3f5d97;
    border-left: solid 1px rgba(0,0,0,0.25);
    border-image:    -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:      -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:     -ms-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    border-image:         linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%) 1 1 stretch;
    line-height: 1.6428;
    text-align: center;
  }
}

@media screen and (max-width:600px) {
  .nav--app {
    a {
      padding: 10px 10px;
      &.cart[data-count='0'] {
        display: none;
      }
    }
    > li:nth-child(1) {
      border-left: 0;
    }
  }
}

.nav--main {
  margin: 30px 0 0;
  font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", sans-serif;
  font-size: 36px;
  font-weight: bold;

  > a, > span {
    padding: 4px 14px;
  }

  > a {
    &:hover {
      color: $hover;
      @include border-radius(4px);
      background: $link;
      @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.12));
    }
  }
  > span {
    @include border-radius(4px);
    color: #fff;
    background: #0a3078;
    background-color: rgba(10,48,120,0.48);
    @include gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.01));
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  .nav--main {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .nav--main {
    font-size: 22px;
    padding: 4px 8px;
  }
}
@media screen and (max-width: $mobile_break) {
  .nav--main {
    display: none;
  }
}

.nav--admin,
.nav--app {
  a {
    color: inherit;
  }
}
.nav-admin-toggle {
  float: left;
  display: none;
  color: #fff;
  padding: 10px;
}
.nav--admin {
  position: relative;
  z-index: 50;
  height: 39px;
  padding: 0 20px;
  border-bottom: solid 1px #d4d4d4;
  margin: 20px -20px;
  box-shadow: 0 -1px 5px #f5f5f5;
  @include gradient(#fefefe, #f2f2f2);
  font-size: 0.1px;
  line-height: 1;

  a, .current {
    display: block;
    padding: 1em 1.1538em .93em;
  }
  a {
    &:hover {
      background: #e6e6e6;
    }
    &:active {
      background: #d6d6d6;
    }
  }
  .current {
    color: #fff;
    background: #a6a6a6;
    cursor: default;
  }
  > li {
    position: relative;
    font-size: 13px;

    &.is-open > a {
      background: #e6e6e6;
    }
    &:last-child {
      .top-anchor:before,
      .top-anchor:after {
        left: auto;
        right: 10px;
      }
    }
  }
  .font-icon {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .nav--admin {
    height: 35px;
    > li {
      a {
        font-size: 12px;
      }
      .dropdown > li {
        font-size: 15px;
        line-height: 1.6;
      }
    }
  }
}
@media screen and (max-width: 889px) {
  .nav--admin {
    padding: 0 10px;
    a, .current {
      padding: 1em .5em .93em;
    }
    .font-icon {
      display: none;
    }
    > li {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $mobile_break) {
  .nav-admin-toggle {
    display: block;
  }
  .nav--admin {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 -10px;
    box-shadow: none;
    background: #e2e2e2;
    @include transform(translateY(-100%));
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    &.is-open {
      @include transform(translateY(0));
    }
    .caretted:before {
      position: absolute;
      top: .8em;
      left: .7em;
      border-style: solid;
      border-width: .6em 0 .6em 1em;
      border-color: transparent;
      border-left-color: inherit;
      margin: .25em 0;
      opacity: 0.5;
      content: '';
    }
    .caretted:after {
      display: none;
    }
    .is-open .caretted:before {
      border-width: 1em .6em 0 .6em;
      border-top-color: inherit;
      border-left-color: transparent;
    }
    .dropdown {
      position: relative;
      padding: 0;
      @include border-radius(0);
      box-shadow: inset 0 1px 10px rgba(0,0,0,0.2);
      background: #cecece;
    }
    .with-anchor:before,
    .with-anchor:after {
      display: none;
    }
  }
  .nav--admin,
  .dropdown {
    > li {
      display: block;
      border-bottom: solid 1px #999;
      &:last-child {
        border-bottom: 0;
      }
      > a,
      > .current {
        position: relative;
        font-size: 14px;
        padding: 1em .5em .93em 2.5em;
      }
    }
  }
}

.nav--sidebar {
  a {
    color: $link;
  }
  > li {
    margin: .8em 0;
  }
}
.org-profile-photo {
  display: block;
  width: 300px;
  margin: 0 0 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.is-dim,
  &.is-editable {
    background: rgba(0,0,0,0.4);
  }
  &.is-dark {
    background: rgba(0,0,0,0.9);
  }
  &.is-editable {
    z-index: 50;
  }
  &.is-open {
    display: block;
  }
  &.is-modal {
    z-index: 50;
  }
}
@media screen and (max-width: $mobile_break) {
  .overlay {
    &.mobile-dim {
      background: rgba(0,0,0,0.4);
    }
  }
}

