@import 'mixins';

.products-featured {
  .featured-toggle {
    float: right;
    color: #999;
    font-size: 14px;
    margin-top: 8px;
  }
  .featured-heading {
    font-weight: normal;
    padding: 10px;
    border-bottom: solid 1px #bbb;
    margin: 0;
    background: #f0f0f0;
    @include border-radius(10px 10px 0 0);
    &.collapsed {
      @include border-radius(10px 10px 10px 10px);
      border-bottom: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .featured-description {
    padding: 10px;
    border-top: solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    background: #f7f7f7;
    margin-bottom: 10px;
  }
  .featured-product,
  .featured-product tr:nth-child(odd) {
    background: #f0f0f0;
    border-bottom: 0;
    @include border-radius(0 0 10px 10px);
  }
  .featured-product {
    td:first-child {
      padding-left: 10px;
      @include border-radius(0 0 0 10px);
    }
    td:last-child {
      @include border-radius(0 0 10px 0);
    }
  }
}
