@import 'mixins';

.table-heading {
  margin-bottom: .1em;
  color: #000;
  font: bold 20px "Open Sans Condensed", sans-serif;
}

.table-summary {
  margin-bottom: 1em;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

thead {
  th {
    color: #000;
  }
}

caption {
  color: #000;
  font: normal 28px "Open Sans Condensed", sans-serif;
  text-align: left;
}

td,
th {
  padding: 4px 0 4px 10px;
  font-size: 12px;
  &:last-child {
    padding-right: 5px;
  }
}

td {
  vertical-align: top;

  &.delete {
    white-space: nowrap;

    &:last-child {
      text-align: right;
    }
  }

  input[type=submit] {
    margin-top: 0;
    margin-bottom: 0;
  }

  input[type=datetime],
  input[type=email],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=number],
  input[type=url],
  input[type=password] {
    height: 24px;
    padding-right: 7px;
    padding-left: 7px;
    border-width: 0;
    margin: 2px 0;
    font-size: 14px;

    &:focus {
      height: 28px;
      border-width: 2px;
      margin: 0;
    }
  }

}

tbody {
  tr{
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    &:hover {
      background: #D8EED2;
    }
    &.destructive {
      background: #fdd;

      > .delete a,
      > .delete button {
        color: $alert_text;
      }
    }
  }
}


th {
  font-weight: bolder;
  font-weight: 600;
  text-align: left;
  &[scope=row] {
    font-weight: normal;
  }
}

.lot {
  &:nth-child(even) {
    background: #f4f4f4;
  }

  > td {
    vertical-align: middle;
    white-space: nowrap
  }
}
.price {
  > td:last-child {
    padding-right: 10px;
    text-align: right;
  }

  &.odd,
  &.odd + .fields_price {
    background: #f4f4f4;
  }
  .edit {
    white-space: nowrap;
  }
  .edit-price > .font-icon {
    font-size: smaller;
  }
  .edit-price + .delete {
    margin-left: 1.5em;
  }
}

.pricing {
  font-size: 12px;

  > ul {
    margin: 0;
  }
}
.product-row {
  color: #000;

  > td,
  > th {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: top;
  }
  .description {
    max-width: 250px;
    font-size: 12px; 
  }
  .meta {
    a {
      margin-right: .4em;
      font-size: 11px;

      &:hover {
        color: #999;
      }
    }
    .font-icon {
      font-size: 14px;
    }
  }
  a.name {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    font-weight: 300;
  }
  .negotiated {
    color: #3E8212;

    &:after {
      padding: 0 5px;
      color: #3e8300;
      background: #deebd2;
      content: "Your price";
      font-size: 10px;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }
  .price {
    padding: 0 0 0 11px;
    font-size: 12px;
    font-weight: bold;
  }
  .product-image {
    padding-right: 0;

    > img {
      display: block;
      width: 75px;
      @include border-radius(5px);
    }
  }
  .quantity {
    text-align: center;

    input {
      text-align: center;
    }
  }
    .price-for-quantity {
      display: block;
      font-size: 10px;
      -webkit-font-smoothing: initial;

      &:before {
        content: "×";
      }
    }
  .total {
    min-width: 60px;
    font-weight: bold;
    line-height: 28px;
  }
}
  .tiers {
    padding: 5px 0 0 0;
    list-style: none;

    > li:nth-child(even) {
      background: #f3f3f3;
    }
  }
    .tier {
      padding: 0 11px 0 0;
      font-size: 10px;
    }
  .product-clear {
    font-size: 15px;
    line-height: 28px;
  }

.info > .name {
  margin-top: 0
}

.products--user {
  padding-left: 30px;
}
.product-table {
  margin: 30px 0;
}
  .product .meta {
    clear: both;
    padding: 0;
    margin: 0;
  }
  .product-table--admin {
    td {
      font-size: 12px;
    }
  }
  .product-table--user {
    margin-top: 0;

    th, td {
      &:first-child {
        padding-left: 0;
      }
    }

    th {
      font-size: 12px;

      &:first-child {
        font-size: 16px;
      }
    }

    tr {
      border-bottom: solid 1px #ccc;

      &:nth-child(odd) {
        background: #fff;
      }
      &:hover {
        background: #fff;
      }
    }

    .info {
      width: 45%;

      .popup-toggle { 
        color: #666;
      }

    }

    .name {
      margin-bottom: .2em;
      font-weight: normal;

      + .short_description {
        > p {
          margin-top: .5em;
        }
        > .popup-toggle {
          display: inline-block;
          margin: .5em 0 0 .5em;
        }
      }
    } 

    .total {
      padding-top: 15px;
    }

    .pricing {
      min-width: 23%;
      white-space: nowrap;
    }
    .unit-price {
      font-weight: bold;
    }
  }

.sortable {
  th {
    cursor: pointer;
  }
  .headerSortDown:before,
  .headerSortUp:before {
    display: inline-block;
    width: 8px;
    height: 4px;
    padding-right: .4em;
    content: '';
    background: asset_url('sort.png') 0 0 no-repeat;
    background: asset_url('sort@2x.png') 0 0 / 8px 10px no-repeat;
    vertical-align: middle;
  }
  .headerSortDown:before {
    background-position: 0 -6px;
  }
  .headerSortUp:before {
    background-position: 0 0;
  }
}
