table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #777;
  text-align: left;
}

.lot {
  &:nth-child(even) {
    background: #f4f4f4;
  }

  > td {
    vertical-align: middle;

    &:first-child {
      vertical-align: middle;
    }
  }

}
