.printable-btn {
  color: #fff;
  background-color: #43639f;
  border-color: #43639f;
}

.downloadable-content {
  padding-left: 5%;
  padding-right: 5%;
}

.downloadable-ad {
  margin-top: 30px;
  height: 350px;
  .downloadable-type {
    width: 50%;
    float: left;
    p {
      padding-right: 20%;
    }
    .downloadable-title {
      margin-bottom: 0px;
    }
  }
  img {
    float: left;
    height: 250px;
    margin-right: 8%;
  }
}

.main-printables {
  float: left;
  img {
    height: 530px;
    margin-left: 10px;
  }
}

.main-printable-ad {
  margin-left: 10%;
  width: 50%;
  float: left;
}

.main-printable {
  width: 35%;
  float: left;
  // position: relative;
  .disclaimer {
    float:left;
    margin-top: -20px;
    font-style: italic;
    color: gray;
    // position: absolute;
    // bottom: 0px;
  }
}

.main-printable-img {
  // width: 35%;
  // float: left;
}


