.printable-btn {
  color: #fff;
  background-color: #43639f;
  border-color: #43639f;
}

.downloadable-ad {
  margin-top: 30px;
  height: 350px;
  .downloadable-type {
    width: 50%;
    float: left;
    .downloadable-title {
      margin-bottom: 0px;
    }
  }
}

.main-printable-ad {
  margin-left: 10%;
  width: 50%;
  float: left;
}