.downloadable-ad {
  margin-top: 30px;
  height: 350px;
  a {
    color: #fff;
    background-color: #43639f;
    border-color: #43639f;
  }
  .downloadable-type {
    width: 50%;
    float: left;
    .downloadable-title {
      margin-bottom: 0px;
    }
  }
}