.tabs {
  border-bottom: 1px solid gray;
  margin-top: 10px;
  height: 59px;

  ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    list-style-type: none;
    padding: 0;
    width: 287px;

    li {
      display: block;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      margin-right: 10px;
      padding: 20px;
      float: left;

      &.completed:after {
        content: " \2713"
      }
    }
  }
}
