@media print {
  .no-print, footer, #top, .nav, .logo, .logo-link, .back-button, .btn, a.export, .tabs-wrapper, .screen-only, .teflon, .tagline {
    display: none !important;
  }
  tr, td, th {
    page-break-inside: avoid;
  }
  .logo-link {
    float: none;
  }
  .pdf-page-break {
    display:block;
    clear: both;
    page-break-after: always;
  }
}
