<div class="l-page-header">
  <h1>Newsletters</h1>
  <%= link_to 'Add Newsletter', new_admin_market_newsletter_path(@market), class: "btn" %>
</div>

<table>
  <tr>
    <th>Subject</th>
    <th></th>
  </tr>
  <% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= link_to newsletter.subject, [:edit, :admin, @market, newsletter] %></td>
    <td><%= button_to "Delete", [:admin, @market, newsletter], method: :delete %></td>
  </tr>
  <% end %>
</table>
