<div class="l-page-header">
  <h1><i class="font-icon" data-icon="&#xe00a;"></i> Newsletters</h1>
  <%= link_to 'Add Newsletter', new_admin_newsletter_path, class: "btn btn--add btn--small" %>
</div>

<table>
  <% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= link_to newsletter.subject, [:admin, newsletter] %></td>
    <td><%= link_to raw('&#57418;'), [:admin, newsletter], method: :delete, class: "action-link font-icon", title: "Delete" %></td>
  </tr>
  <% end %>
</table>
