<div class="row row--partial">
  <%= link_to "< Return to Newsletter List", admin_newsletters_path, class: "redundant-nav" %>

  <div class="column column--three-fourths">
    <div class="l-page-header">
      <h1><i class="font-icon" data-icon="&#xe023;"></i>&nbsp; Add a Newsletter</h1>
    </div>
    <%= render "form" %>
  </div>
</div>
