<div class="row row--partial">
  <div class="column">
  	<%= link_to "< Return to Newsletter List", admin_newsletters_path, class: "redundant-nav" %>
    <div class="l-page-header sub-page-header ">
      <h1><i class="font-icon" data-icon="&#xe00a;"></i>&nbsp; Edit <%= @newsletter.subject %></h1>
    </div>
    <%= render "form" %>
  </div>
</div>
