<div class="row row--partial">
  <div class="column column--three-fourths">
    <div class="l-page-header">
      <h1><i class="font-icon" data-icon="&#xe023;"></i>&nbsp; Edit <%= @newsletter.subject %></h1>
    </div>
    <%= render "form" %>
  </div>
</div>
