<%# gets the market for the email layout. Isn't ideal, but works well. %>

<% if @market = @resource.primary_market
     market_name = @market.name
   else
     market_name = "Local Orbit"
   end %>

<h1>Attention needed, please verify your account.</h1>
<p>
  Thank you for registering with <%= market_name %>. To shop or sell online, you
  must verify your email address. Once the <%= market_name %> Market Manager
  activates your account, you'll be all set!
</p>

<div class="lo_call_to_action">
  <a href="<%= user_confirmation_url(:confirmation_token => @token, host: (@market ? @market.domain : "app.#{Figaro.env.domain}")) %>" class="lo_button lo_button_large">Verify Email Address</a>
  <p>
    If clicking the button doesn't work, right click it and copy the link.<br>
    After you've copied it, paste it into a new browser window.
  </p>
</div>

<p>Thank you for supporting <%= market_name %> and your local food producers!</p>
