<%# gets the market for the email layout. Isn't ideal, but works well. %>
<% if @organization = @resource.organizations.first
     @market = @organization.markets.first
     organization_name = @organization.name
   else
     organization_name = "Local Orbit"
   end %>

<h1>Join <%= organization_name %> today!</h1>
<p>
  Hello! You have been invited to join <%= organization_name %> by a member of your organization.
</p>

<div class="lo_call_to_action">
  <%= link_to "Join #{organization_name}", accept_invitation_url(@resource, :invitation_token => @token) %>
  <p>
    If clicking the button doesn't work, right click it and copy the link.<br>
    After you've copied it, paste it into a new browser window.
  </p>
</div>