<div class="tab-header stickable">
  <div class="l-constraint">
    <%= link_to "< Return to Storage Location List", admin_market_storage_locations_path, class: "redundant-nav" %>

    <h1>Editing Role: <%= @storage_location.name %></h1>

  </div>
</div>
