<div class="tab-header stickable">
  <div class="l-constraint">
    <div class="l-page-header">
      <h1><i class="font-icon" data-icon="&#xe017;"></i>&nbsp; Users</h1>
    </div>

    <div class="row row--justified product-header">
      <div class="column">
        <input type="search" id="search" value="<%= params[:search] %>"><button type="submit" id="search-btn" class="btn btn--end">Search</button>
      </div>
    </div>
  </div>
</div>
