<table class="product-table product-table--user cart_items" data-cart-url="<%= cart_path %>">
  <% current_top_level_category = category.top_level_category %>
  <% if @previous_top_level_category != current_top_level_category %>
    <% @previous_top_level_category = current_top_level_category %>
    <caption><%= current_top_level_category.name %></caption>
  <% end %>
  <thead>
    <tr>
      <th colspan="4"><%= category.name %></th>
      <th><i class="font-icon icon-clear product-clear is-invisible"></i></th>
    </tr>
  </thead>
  <tbody>

  <% products.each do |product| %>
    <%= render "table_row", product: product %>
  <% end %>
  </tbody>
</table>
