<%
  if !policy(:all_supplier).index?
     supplier_id = current_market.organizations.where("org_type = 'S'")[0].id
  end
%>
<%= react_component('lo.ProductCatalog', {
  baseUrl: "#{request.base_url}/api/v1/",
  cartUrl: cart_path,
  deliveryDate: current_delivery.buyer_deliver_on,
  selectedType: current_delivery.selected_type.capitalize,
  orderCutoff: current_delivery.cutoff_time,
  buyerInfo: current_organization.name,
  limit: 10,
  useTemplates: policy(:template).index?,
  supplierId: supplier_id,
  orderMinimum: current_delivery.delivery_schedule.order_minimum > 0 ? number_to_currency(current_delivery.delivery_schedule.order_minimum) : nil
}) %>
<div id="checkout-button" style="display: none">
    <a href="/cart" style="color: #FFF">
        <span>Checkout&nbsp;<i class="fa fa-arrow-circle-right"></i></span>
    </a>
</div>
