<h1>Alternative Product Page</h1>

<div class="column--full column--guttered" style="margin-bottom:50px;">
  <input id="product-order-search" class="typeahead" style="width:100%;" />
</div>

<table id="product-search-table" class="product-table product-table--user cart_items" data-cart-url="<%= cart_path %>">
  <thead></thead>
  <tbody>
    <% current_cart.items.order(:created_at).each do |item| %>
      <%= render "table_row", product: item.product.decorate(context: {current_cart: current_cart}) %>
    <% end %>
  </tbody>
</table>

