<%= react_component('lo.ProductCatalog', {
  baseUrl: "#{request.base_url}/api/v1/",
  cartUrl: cart_path,
  deliveryDate: current_delivery.buyer_deliver_on,
  selectedType: current_delivery.selected_type.capitalize,
  orderCutoff: current_delivery.cutoff_time,
  buyerInfo: current_organization.name,
  limit: 10,
  useTemplates: FeatureAccess.order_templates?(market: current_market)
}) %>
<div id="checkout-button" style="display: none">
    <a href="/cart" style="color: #FFF">
        <span>Checkout&nbsp;<i class="fa fa-arrow-circle-right"></i></span>
    </a>
</div>
