<div class="downloadable-ad no-print">
  <h2>Downloadable Marketing Materials</h2>
    <div class="downloadable-content">
    <div class="downloadable-type">
      <%= image_tag asset_url("table_tents_and_posters/poster_intro.png") %>
      <h3 class="downloadable-title">Posters</h3>
      <small>8.5"x11" - PDF</small>
      <p>Download the posters to help you tell the story of the farms and food markets you work with.</p>
      <a href="<%= order_table_tents_and_posters_path(order_id: order.id, type: 'poster') %>" class="app-download-posters-btn btn printable-btn">Create</a>
    </div>
    <div class="downloadable-type">
      <%= image_tag asset_url("table_tents_and_posters/tabletent_intro.png") %>
      <h3 class="downloadable-title">Table Tents</h3>
      <small>4"x6" - PDF</small>
      <p>Download the table tents to help you tell the story of the farms and food markets you work with.</p>
      <a href="<%= order_table_tents_and_posters_path(order_id: order.id) %>" class="app-download-table-tents-btn btn printable-btn">Create</a>
    </div>
  </div>
</div>
