---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15xcvAHouQbaP1MV0Qwrf4VG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15xcvAHouQbaP1MV0Qwrf4VG",
          "created": 1430482028,
          "livemode": false,
          "type": "transfer.paid",
          "data": {
            "object": {
              "id": "tr_15xxwkHouQbaP1MV8O0tEg2b",
              "object": "transfer",
              "created": 1430482027,
              "date": 1430524800,
              "livemode": false,
              "amount": 33210,
              "currency": "usd",
              "reversed": false,
              "status": "pending",
              "type": "bank_account",
              "reversals": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/transfers/tr_15xcv9HouQbaP1MVXim58UCZ/reversals",
                "data": []
              },
              "balance_transaction": "txn_15xcv9HouQbaP1MVh0dMRAi8",
              "destination": null,
              "description": "STRIPE TRANSFER",
              "failure_message": null,
              "failure_code": null,
              "amount_reversed": 0,
              "metadata": {},
              "statement_descriptor": null,
              "recipient": null,
              "source_transaction": null,
              "application_fee": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": null,
          "api_version": "2015-04-07"
        }
  recorded_at: Fri, 15 May 2015 14:29:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance/history?expand%5B0%5D=data.source&limit=100&transfer=tr_15xxwkHouQbaP1MV8O0tEg2b&type=payment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15xJY9HouQbaP1MV
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/balance/history",
          "data": [
            {
              "id": "txn_15xlYBHouQbaP1MVw4lgOnuX",
              "object": "balance_transaction",
              "amount": 7600,
              "currency": "usd",
              "net": 7350,
              "type": "payment",
              "created": 1430515198,
              "available_on": 1430515198,
              "status": "available",
              "fee": 250,
              "fee_details": [
                {
                  "amount": 250,
                  "currency": "usd",
                  "type": "application_fee",
                  "description": "Local Orbit Marketplaces application fee",
                  "application": "ca_5vj31wLn9y0tO1AOBXSs20NcwKHAcPO0"
                }
              ],
              "source": {
                "id": "py_15xlYAHouQbaP1MVR7Jii9lg",
                "object": "payment",
                "created": 1430515198,
                "livemode": false,
                "paid": true,
                "status": "succeeded",
                "amount": 7600,
                "currency": "usd",
                "refunded": false,
                "captured": true,
                "balance_transaction": "txn_15xlYBHouQbaP1MVw4lgOnuX",
                "failure_message": null,
                "failure_code": null,
                "amount_refunded": 0,
                "customer": null,
                "invoice": null,
                "description": null,
                "dispute": null,
                "metadata": {
                  "lo.order_id": "1234"
                },
                "statement_descriptor": null,
                "fraud_details": {},
                "receipt_email": null,
                "receipt_number": null,
                "level3": null,
                "shipping": null,
                "application_fee": "fee_6A5jhB9nD6B1oe",
                "payment_method": "stripe",
                "refunds": {
                  "object": "list",
                  "total_count": 0,
                  "has_more": false,
                  "url": "/v1/charges/py_15xlYAHouQbaP1MVR7Jii9lg/refunds",
                  "data": []
                },
                "payment_source": {
                  "id": "acct_1036Y82VpjOYk6Tm",
                  "object": "account",
                  "application_name": "Local Orbit Marketplaces",
                  "application_url": "http://www.localorbit.com",
                  "application_logo": "https://s3.amazonaws.com/stripe-uploads/acct_1036Y82VpjOYk6Tmapplication-logo-LocalOrbitLogoNoTag-PrintQuality_vectorized_clipped_rev_2.png",
                  "application_icon": "https://s3.amazonaws.com/stripe-uploads/acct_1036Y82VpjOYk6Tmapplication-icon-LocalOrbitLogoNoTag-PrintQuality_vectorized_clipped_rev_3%20copy.png"
                }
              },
              "description": null,
              "sourced_transfers": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/transfers?source_transaction=py_15xlYAHouQbaP1MVR7Jii9lg",
                "data": []
              }
            },
            {
              "id": "txn_15xlY2HouQbaP1MVBD6xUvmJ",
              "object": "balance_transaction",
              "amount": 7600,
              "currency": "usd",
              "net": 7350,
              "type": "payment",
             [...]
