---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19NxEZ2VpjOYk6TmQLjYsn5Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19NxEZ2VpjOYk6TmQLjYsn5Y",
          "object": "event",
          "api_version": "2015-04-07",
          "created": 1481085647,
          "data": {
            "object": {
              "id": "in_19NwIT2VpjOYk6TmuXa5PSFl",
              "object": "invoice",
              "amount_due": 500,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_19NxEY2VpjOYk6TmlDvEqqAX",
              "closed": false,
              "currency": "usd",
              "customer": "cus_9gwCSjIO6SlmhA",
              "date": 1481082045,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_9gxjq9c1qGg7BE",
                    "object": "line_item",
                    "amount": 500,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1481082006,
                      "end": 1481168406
                    },
                    "plan": {
                      "id": "KVM",
                      "object": "plan",
                      "amount": 500,
                      "created": 1480994112,
                      "currency": "usd",
                      "interval": "day",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "KVM - Testing",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_19NwIT2VpjOYk6TmuXa5PSFl/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1481344846,
              "paid": false,
              "period_end": 1481082006,
              "period_start": 1480995606,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_9gxjq9c1qGg7BE",
              "subtotal": 500,
              "tax": null,
              "tax_percent": null,
              "total": 500,
              "webhooks_delivered_at": 1481082045,
              "payment": "ch_19NxEY2VpjOYk6TmlDvEqqAX"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": null,
          "type": "invoice.payment_failed"
        }
  recorded_at: Mon, 16 Jul 2018 23:38:21 GMT
recorded_with: VCR 4.0.0
