---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "GROW",
              "object": "plan",
              "amount": 79900,
              "created": 1453489664,
              "currency": "usd",
              "interval": "year",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Local Orbit Grow Plan",
              "statement_descriptor": null,
              "trial_period_days": null
            },
            {
              "id": "START",
              "object": "plan",
              "amount": 39900,
              "created": 1453489634,
              "currency": "usd",
              "interval": "year",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Local Orbit Start Plan",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Wed, 16 Mar 2016 16:13:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/START
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "START",
          "object": "plan",
          "amount": 39900,
          "created": 1453489634,
          "currency": "usd",
          "interval": "year",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Local Orbit Start Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 16 Mar 2016 16:13:51 GMT
recorded_with: VCR 2.9.3
