---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: US-ASCII
      string: managed=true&business_name=Neomarket&email=misteranderson%40example.com&country=US&debit_negative_balances=true&transfer_schedule[delay_days]=5&transfer_schedule[interval]=weekly&transfer_schedule[weekly_anchor]=wednesday&metadata[lo.market_id]=1
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1C3v2lLnXFmWp9Rb",
          "object": "account",
          "business_logo": null,
          "business_name": "Neomarket",
          "business_url": null,
          "charges_enabled": true,
          "country": "US",
          "created": 1520639675,
          "debit_negative_balances": true,
          "decline_charge_on": {
            "avs_failure": false,
            "cvc_failure": false
          },
          "default_currency": "usd",
          "details_submitted": false,
          "display_name": null,
          "email": "misteranderson@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1C3v2lLnXFmWp9Rb/external_accounts"
          },
          "keys": {
            "secret": "sk_test_CymaCqiUJfSUOOKcWX4aLABI",
            "publishable": "pk_test_KE9GlyGfe9DdCQl97crxMqJw"
          },
          "legal_entity": {
            "additional_owners": [],
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "address_kana": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null,
              "town": null
            },
            "address_kanji": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null,
              "town": null
            },
            "business_name": null,
            "business_name_kana": null,
            "business_name_kanji": null,
            "business_tax_id_provided": false,
            "business_vat_id_provided": false,
            "dob": {
              "day": null,
              "month": null,
              "year": null
            },
            "first_name": null,
            "first_name_kana": null,
            "first_name_kanji": null,
            "gender": null,
            "last_name": null,
            "last_name_kana": null,
            "last_name_kanji": null,
            "maiden_name": null,
            "personal_address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "personal_address_kana": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null,
              "town": null
            },
            "personal_address_kanji": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null,
              "town": null
            },
            "personal_id_number_provided": false,
            "phone_number": null,
            "ssn_last_4_provided": false,
            "type": null,
            "verification": {
              "details": null,
              "details_code": null,
              "document": null,
              "status": "pending"
            }
          },
          "metadata": {
            "lo.market_id": "1"
          },
          "product_description": null,
          "statement_descriptor": "",
          "support_email": null,
          "support_phone": null,
          "timezone": "Etc/UTC",
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "custom",
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "fields_needed": [
              "legal_entity.dob.day",
              "legal_entity.dob.month",
              "legal_entity.dob.year",
              "legal_entity.first_name",
              "legal_entity.last_name",
              "legal_entity.type",
              "tos_acceptance.date",
              "tos_acceptance.ip",
              "bank_account"
            ],
            "contacted": false
          },
          "managed": true,
          "transfers_enabled": false,
          "transfer_schedule": {
            "delay_days": 5,
            "interval": "weekly",
            "weekly_anchor": "wednesday"
          },
          "transfer_statement_descriptor": null,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1C3v2lLnXFmWp9Rb/bank_accounts
    body:
      encoding: US-ASCII
      string: bank_account=btok_1C3v2kJgIq5cKVWgKmKq4YeD&default_for_currency=true
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1C3v2lLnXFmWp9Rb
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ba_1C3v2mLnXFmWp9Rbd9Q623hv",
          "object": "bank_account",
          "account": "acct_1C3v2lLnXFmWp9Rb",
          "account_holder_name": "",
          "account_holder_type": "individual",
          "bank_name": "STRIPE TEST BANK",
          "country": "US",
          "currency": "usd",
          "default_for_currency": true,
          "fingerprint": "LEy7AnB0HNObFfTb",
          "last4": "6789",
          "metadata": {},
          "routing_number": "110000000",
          "status": "new",
          "name": ""
        }
  recorded_at: Fri, 09 Mar 2018 23:54:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1C3v2lLnXFmWp9Rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_KagdXeHZHHOHNrXETSTkPuX6
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-04-07'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1C3v2lLnXFmWp9Rb
[...]
