---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: US-ASCII
      string: managed=true&business_name=Neomarket&email=misteranderson%40example.com&country=US&debit_negative_balances=true&transfer_schedule[delay_days]=5&transfer_schedule[interval]=weekly&transfer_schedule[weekly_anchor]=wednesday&metadata[lo.market_id]=1
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_168vCOKhQaNRHcig",
          "email": "misteranderson@example.com",
          "statement_descriptor": null,
          "display_name": null,
          "timezone": "Etc/UTC",
          "details_submitted": false,
          "charges_enabled": true,
          "transfers_enabled": false,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_168vCOKhQaNRHcig/bank_accounts
    body:
      encoding: US-ASCII
      string: bank_account=btok_6LcSGS3OFfT7LV
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_168vDYKhQaNRHcig3xU3ptvT",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "Vwwp2l1FX3AiuJAO",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "account": "acct_168vCOKhQaNRHcig",
          "default_for_currency": false
        }
  recorded_at: Mon, 01 Jun 2015 15:52:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_168vCOKhQaNRHcig
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_MUNsnC6hFOni5urg80oSWQyS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-09-23'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "The provided key 'sk_test_********************WQyS' does not have access to account 'acct_168vCOKhQaNRHcig' (or that account does not exist). Application access may have been revoked."
          }
        }
  recorded_at: Mon, 28 Sep 2015 21:30:52 GMT
recorded_with: VCR 2.9.3
