---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: US-ASCII
      string: managed=true&business_name=Neomarket&email=misteranderson%40example.com&country=US&debit_negative_balances=true&transfer_schedule[delay_days]=5&transfer_schedule[interval]=weekly&transfer_schedule[weekly_anchor]=wednesday&metadata[lo.market_id]=1
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_16qP49Hjqb1mH62f",
          "email": "misteranderson@example.com",
          "statement_descriptor": null,
          "display_name": null,
          "timezone": "Etc/UTC",
          "details_submitted": false,
          "charges_enabled": true,
          "transfers_enabled": false,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_16qP49Hjqb1mH62f/bank_accounts
    body:
      encoding: US-ASCII
      string: bank_account=btok_74YABtCPRT4z8H&default_for_currency=true
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_16qP49Hjqb1mH62f
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "bank_account",
          "id": "ba_16qP4AHjqb1mH62foOyP3sy2",
          "last4": "6789",
          "country": "US",
          "currency": "usd",
          "status": "new",
          "fingerprint": "gIxHX4Bko1pyDlGo",
          "routing_number": "110000000",
          "bank_name": "STRIPE TEST BANK",
          "account": "acct_16qP49Hjqb1mH62f",
          "default_for_currency": true,
          "metadata": {}
        }
  recorded_at: Tue, 29 Sep 2015 14:26:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_16qP49Hjqb1mH62f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_XTLCfIQMwKblsxIF1N4i7y1G
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_16qP49Hjqb1mH62f
      Stripe-Version:
      - '2015-04-07'
[...]
