table.dt{
	width:100%;
	margin-top: 4px;
	border-collapse:collapse;
	border: <?=$options['p1g']?> 1px solid;
	border-radius: 3px;
}

td.dt_filter_resizer,td.dt_exporter_pager{
	background-color: <?=$options['p1a']?>;
	border: <?=$options['p4b']?> 1px solid;
	border-width: 0px 0px 1px 0px;
	color:#fff;
}
td.dt_exporter_pager{
	background-color: <?=$options['p1e']?>;
}

th.dt{
	background-color: <?=$options['p1g']?>;
	color: <?=$options['p4f']?>;
	padding: 1px 5px;
	height: 27px;
	border: <?=$options['p1h']?> 1px solid;
	vertical-align: middle;
}

th.dt:first-child{
	border-left-color: <?=$options['p1g']?>;
}

th.dt:last-child{
	border-right-color: <?=$options['p1g']?>;
}

th.dt_sortable{
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

th.dt_sortable:hover{
	opacity: 0.9;
}

th.dt_sort_asc{
	background-image: url(../img/default/sort_asc.gif);

}
th.dt_sort_desc{
	background-image: url(../img/default/sort_desc.gif);
}

tr.dt,tr.dt0,tr.dt1{
	background-color: <?=$options['p4f']?>;

}

tr.dt1{
	background-color: <?=$options['p1a']?>;
}

tr.dt:hover,tr.dt1:hover{
	background-color: <?=$options['p4a']?>;
}


td.dt{
	padding: 1px 5px;
	border: <?=$options['p4b']?> 1px solid;
	font-size: 90%;
	height: 27px;
	vertical-align: middle;
}

div.dt_filter,div.dt_exporter{
	float: left;
	padding: 5px 0px 0px 8px;
}


div.dt_resizer,div.dt_pager{
	float:right;
	padding: 5px 8px 0px 0px;
}


div.dt_filter{
/*
	height: 27px;
	overflow: hidden;
*/
}

a.dt_pager{
	cursor: pointer;
	color: <?=$options['p4f']?>;
}

select.dt{
	width: auto;	
}

a.dt{
	color: <?=$options['p4f']?>;
}

a.dt:hover{
	color: <?=$options['p4f']?>;
	cursor: pointer;
}

a.dt_filter_expander{
	display: block;
	width: 20px;
	float: left;
}

div.dt_filter_area{
	float: left;
}

.label_dt_filter{
	width: auto  !important;
/*
	color: <?=$options['p4f']?> !important;
*/
}


td.dt_nodata
{
	height: 50px;
	background-color: <?=$options['p1b']?>;
}