h1{
	text-align: center;
	color: #6c9887;
	border: #6c9887 1px solid;
	border-width: 4px 0px 18px 0px;
	font-size: 32pt;
	padding: 15px 0px;
	font-weight: normal;
}

h2{
	border: #6c9887 1px solid;
	padding-bottom:4px;
	border-width: 0px 0px 2px 0px;
}
	
h3{
	font-weight: bold;
	font-size: 110%;
	margin: 8px 0px;
}

h4{
	font-weight: bold;
	margin: 8px 0px;
}

a{
	color: #912529;
}